<div data-pb-dropzone="relatedTabDropZone" class="pb-dropzone ui-sortable">


    <div>


        <div class="accordion">
            <ul class="accordion-tabbed rlist">
                <li class="accordion-tabbed__tab"><a href="#" title="Recommended" aria-expanded="false"
                                                     aria-controls="5bec6850-d523-4a77-b2f6-7409be0e9bc40"
                                                     class="accordion-tabbed__control">Recommended</a>
                    <div id="5bec6850-d523-4a77-b2f6-7409be0e9bc40" class="accordion-tabbed__content">


                        <ul class="rlist lot">
                            <li class="grid-item">
                                <div class="creative-work">
                                    <div class="delayLoad"><a href="/doi/full/10.1002/9781119199878.ch3"><p
                                            class="creative-work__title">Standard‐Setting Organizations</p></a>
                                        <div class="parent-item"><a href="/doi/book/10.1002/9781119199878">The Ultimate
                                            Accountants' Reference, 3rd Edition: Including GAAP, IRS and SEC
                                            Regulations, Leases, and More, [Third Edition]</a></div>
                                    </div>
                                    <div class="lazy-load">
                                        <div class="lazy-load__text">
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--80"></div>
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--70"></div>
                                            <div class="lazy-load__line--50"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-item">
                                <div class="creative-work">
                                    <div class="delayLoad"><a href="/doi/full/10.1002/9781119197690.ch1"><p
                                            class="creative-work__title">Introduction to International Financial
                                        Reporting Standards (IFRS)</p></a>
                                        <div class="parent-item"><a href="/doi/book/10.1002/9781119197690">Understanding
                                            IFRS Fundamentals: International Financial Reporting Standards, [1]</a>
                                        </div>
                                    </div>
                                    <div class="lazy-load">
                                        <div class="lazy-load__text">
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--80"></div>
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--70"></div>
                                            <div class="lazy-load__line--50"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-item">
                                <div class="creative-work">
                                    <div class="delayLoad"><a href="/doi/full/10.1111/j.1835-2561.2006.tb00359.x"><p
                                            class="creative-work__title">Over‐Complexity in Accounting Standards and the
                                        Emerging Duopoly of US GAAP AND IFRS</p></a>
                                        <ul class="rlist--inline loa comma">
                                            <li><span><a href="/action/doSearch?ContribAuthorStored=HASWELL%2C+STEPHEN"
                                                         data-slide-target="sb-1"><span>STEPHEN HASWELL</span></a></span>
                                            </li>
                                        </ul>
                                        <div class="parent-item"><span><a href="/journal/18352561">Australian Accounting Review</a></span>
                                        </div>
                                    </div>
                                    <div class="lazy-load">
                                        <div class="lazy-load__text">
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--80"></div>
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--70"></div>
                                            <div class="lazy-load__line--50"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-item">
                                <div class="creative-work">
                                    <div class="delayLoad"><a href="/doi/full/10.1111/j.1835-2561.2012.00197.x"><p
                                            class="creative-work__title">Some Implications of IFRS Adoption for
                                        Accounting Education</p></a>
                                        <ul class="rlist--inline loa comma">
                                            <li><span><a
                                                    href="/action/doSearch?ContribAuthorStored=Jackling%2C+Beverley"
                                                    data-slide-target="sb-1"><span>Beverley Jackling</span></a></span>
                                            </li>
                                            <li><span><a href="/action/doSearch?ContribAuthorStored=Howieson%2C+Bryan"
                                                         data-slide-target="sb-1"><span>Bryan Howieson</span></a></span>
                                            </li>
                                            <li><span><a href="/action/doSearch?ContribAuthorStored=Natoli%2C+Riccardo"
                                                         data-slide-target="sb-1"><span>Riccardo Natoli</span></a></span>
                                            </li>
                                        </ul>
                                        <div class="parent-item"><span><a href="/journal/18352561">Australian Accounting Review</a></span>
                                        </div>
                                    </div>
                                    <div class="lazy-load">
                                        <div class="lazy-load__text">
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--80"></div>
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--70"></div>
                                            <div class="lazy-load__line--50"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid-item">
                                <div class="creative-work">
                                    <div class="delayLoad"><a href="/doi/full/10.1002/9781118267691.app6"><p
                                            class="creative-work__title">Appendix F: Accounting Principles—GAAP and
                                        IFRS</p></a>
                                        <div class="parent-item"><a href="/doi/book/10.1002/9781118267691">The Handbook
                                            of Financing Growth: Strategies, Capital Structure, and M&amp;A
                                            Transactions, [Second Edition]</a></div>
                                    </div>
                                    <div class="lazy-load">
                                        <div class="lazy-load__text">
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--80"></div>
                                            <div class="lazy-load__line"></div>
                                            <div class="lazy-load__line--70"></div>
                                            <div class="lazy-load__line--50"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-tabbed__tab eh-highlighted-accordion hidden"><a href="#" title="Highlighted"
                                                                                     aria-expanded="false"
                                                                                     aria-controls="5bec6850-d523-4a77-b2f6-7409be0e9bc41"
                                                                                     class="accordion-tabbed__control">Highlighted</a>
                    <div id="5bec6850-d523-4a77-b2f6-7409be0e9bc41" class="accordion-tabbed__content">


                    </div>
                </li>
            </ul>
        </div>


        <!-- related section
	html widget
	+
	related dos widget [Id]
-->

        <script>

            //domready
            !function (e, t) {
                typeof module != "undefined" ? module.exports = t() : typeof define == "function" && typeof define.amd == "object" ? define(t) : this[e] = t()
            }("domready", function () {
                var e = [], t, n = document, r = n.documentElement.doScroll, i = "DOMContentLoaded", s = (r ? /^loaded|^c/ : /^loaded|^i|^c/).test(n.readyState);
                return s || n.addEventListener(i, t = function () {
                    n.removeEventListener(i, t), s = 1;
                    while (t = e.shift())t()
                }), function (t) {
                    s ? setTimeout(t, 0) : e.push(t)
                }
            })

            domready(function () {
                $.getScript("https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/1.8.3/jquery.dotdotdot.min.js", function () {

                    $('div.ancillary-content.relateditem div.content').dotdotdot({watch: true});

                });

                if ($('.ancillary-content.relateditem').length) {
                    $('.eh-highlighted-accordion').removeClass('hidden');
                }
            });
        </script>


    </div>
</div>