// the following styles are related only to source js examples and not related to the component it self
.source_example {
    // quick search Related styles
    .quick-search {
        &__button {
            width: 8%;
            margin-right: 2%;
        }
        &__text {
            width: 47%;
        }
        &__ctrl__refine,
        &__ctrl__refine--hide {
            width: 12%;
        }
    }
    .jcf-select-quick-search__select {
        &.jcf-select {
            width: 21%;
            &:after {
                padding-right: 5px;
            }
        }
    }
    &.extended {
        min-width: 600px;
    }

    .registration-popup,
    .login-popup,
    .username-popup,
    .societyID-popup {
        display: block;
    }

    .popup {
        position: relative;
    }
}

.source_clarify_content {
    .wrapper {
        margin-top: 10px;
        padding: 15px;
        border: 1px solid $search-bg-color;
    }

    .registration-popup,
    .login-popup {
        display: block;
    }
}

.svg-sprite {
    display: none;
}