.__placeholder {
    width: 100%;
    padding-bottom: 100%;
    background: $tertiary-card-bg;
    color: $white;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.section__short-info-block-header {
    margin: 85px 0 60px;
    h3 {
        margin: 0;
    }
}