.facet {
    &__list {
        &--applied {
            li {
                background: $aps-general;
                text-transform: uppercase;
            }
        }
    }
    &__ctrl {
        .facet__title {
            font-weight: 800;
            font-size: 1.13rem;
            text-transform: none;
        }
        i {
            color: $aps-general;
            font-weight: bold;
        }
    }
}