$pol-header-quick-menu-text-color: #004199;

$default-theme-color: #999;

$default-theme-light-color: #CCC;

$ajp-theme-color: #2e5c00;

$ajp-theme-light-color: #CFD5CA;

$ajprj-theme-color: #367d00;

$ajprj-theme-light-color: #D0D9CA;

$apt-theme-color: #5e8db5;

$apt-theme-light-color: #D5DADF;

$pol-theme-color: #003399;

$pol-theme-light-color: #CAD0DC;

$ps-theme-color: #00877b;

$ps-theme-light-color: #CADAD8;

$neuro-theme-color:  #002e99;

$neuro-theme-light-color: #CACFDC;

$focus-theme-color: #990000;

$focus-theme-light-color: #DCCACA;

$psychnews-theme-color: #0A3876;

$psychnews-theme-light-color: #fff;

$dsm-theme-color: #250858;

$dsm-theme-light-color: #CECAD4;

$pl-theme-color: #99242C;

$pl-theme-light-color: #DCCECF;

$prcp-theme-color: #f26600;

$prcp-theme-light-color: #E7D6CA;

$ebooks-theme-color: #E15B28;

$ebooks-theme-light-color: #E5D4CE;

$facebook-color: #3B5998;

$twitter-color: #00B6F1;

$linkedin-color: #007BB6;

$rss-color: #FF6600;

$primary-text-color: #333;

$correction-accordion: #EA8024;

$primary-border-color: #E0E0E0;

$secondary-border-color: #333;

$rose-text-color: #830065;

$link-text-color: #2F80ED;

$yellow-bg-color: #FFF1C7;

$yellow-bg-secondary-color: #FFF7E0;

$yellow-bg-dark-color: #F2994A;

$yellow-text-color: #cbaf00;

$pys-news-green-color: #4EA247;

$pys-news-red-color: #D7333A;

$pys-news-blue-color: #009DDC;

$pys-news-dark-orange-color: #E25B28;

$pys-news-orange-color: #F2994A;

$pys-news-purple-color: #AE266A;

$pys-news-dark-purple-color: #692E44;
