.default-bg-color {
    background: $default-bg-color;
}
.primary-blue-color {
  color: $primary-blue-color;
  &:hover, &:focus, &:visited {
    color: $primary-link-color;
  }
}
.primary-text-color{
  color: $primary-text-color;
}
.menu-text-color{
  color: $primary-white ;
}
.primary-red{
  color: $primary-red ;
}
.secondary-link-red {
    color: $secondary-link-red;
}
.primary-red-bg{
  background: $primary-red-bg ;
  &:hover, &:focus, &:visited {
    color: $red-4;
  }
}
.secondary-text-color{
  color: $secondary-text-color;
}
.search-text{
  color: $gray-2;
}
.primary-blue-background-color{
  background: $primary-blue-color;
}
.primary-blue-bg{
  background: $primary-blue-color;
}
.Disabled-bg{
  background: $publication;
}
.Disabled{
  color: $publication;
}
.secondary-gray-bg{
  background: $gray-background;
}
.ajpregu-bg {
  background: $ajpregu
}
.primary-border-color{
  border: 2px solid $primary-border;
}
.secondary-border-color {
  border-top: 2px solid $secondary-border;
}