.remote-access-email-domains{
 .modal__header{
   h1{
     color: $black;
   }
 }

  @include media('>=tablet'){
    .side-label{
      width: 120px;;
    }
    .side-content{
      width: calc(100% - 120px);
    }
  }


}