.creative-work {
  &__title {
    @include themify($themes) {
      color: themed('color');
    }
    max-height: 4.2em;
    height: initial;
  }

  .loa-height {
    height: initial;
    margin-bottom: 14px;
    color: $text-muted;
  }

  .meta {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
  }
}