.psych-news{
  padding-top: 16px;
}
.psych-mainstory{
  border-bottom: 1px solid $primary-border-color;
  margin-bottom: 20px;
  padding-bottom: 10px;
  &__title{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__summary{
    margin-bottom: 20px;
  }
}

.right-area-top-content{
  border-top: 2px solid $separators-color;
  padding-top: 20px;
  margin-top: 20px;
  .top-content-alt{
    @include border-style(0, 2px, $separators-color);
    margin-bottom: 20px;
  }
  .creative-work__title{
    font-weight: normal;
  }
}
