
.social-icons i[class*=icon-] {
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
}

.icon-hubs-facebook-n-icon, .icon-facebook.icon-rectangualr {
    background-color: #3b5999;
    border: solid #3b5999;
    border-width: 8px;
}

.icon-facebook.icon-rectangualr {
    display: inline-block;
    color: $white;
    width: 41px;
    height: 41px;
}

.icon-hubs-linkedin-icon {
    background-color: #0077b5;
    border: solid #0077b5;
    border-width: 8px;
}

.icon-hubs-weibo-icon {
    background-color: #e6162d;
    border: solid #e6162d;
    border-width: 8px;
}

.icon-google-plus.hubs-icon-google-plus {
    background-color: #db4e3f;
    border: solid #db4e3f;
    border-width: 10px 8px;
    color: #fff;
    font-size: 20px;
}

.icon-hubs-mobile-icon {
    background-color: #228fce;
    border: solid #228fce;
    border-width: 8px;
}

.icon-twitter2.hubs-icon-twitter-n-icon {
    background-color: #55acee;
    border: solid #55acee;
    border-width: 8px 9px;
    color: #fff;
}

.icon-hubs-rss-icon {
    background-color: #B33D3D;
    border: solid #B33D3D;
    border-width: 8px;
}

.icon-hubs-bell-icon {
    background-color: #bec631;
    border: solid #bec631;
    border-width: 8px;
}

.icon-hubs-envelope-icon {
    background-color: #00a47a;
    border: solid #00a47a;
    border-width: 8px;
}

.icon-hubs-instagram-n-icon {
    background-color: #00274c;
    border: solid #00274c;
    border-width: 8px;
}

.icon-hubs-youtube-icon {
    background-color: #cc181e;
    border: solid #cc181e;
    border-width: 8px;
}

.icon-hubs-soundcloud-icon {
    font-size: 41px;
}

.icon-hubs-flickr-icon {
    background-color: #0063db;
    border: solid #0063db;
    border-width: 8px;
}

.icon-hubs-rg-icon {
    color: #00d0af;
    font-size: 41px;
}