.request-reset {
    .button {
        max-width: 100px;
    }
    p {
        &:first-child {
            font-weight: 600;
            color: $section-header-color;
        }
    }
    .sub {
        font-size: 0.88rem;
        color: $primary-link-color;
    }
}