.call_for_papers {
    font-size: 16px;
    line-height: normal;
    color: $aha_black;
    h3 {
        margin:0;
    }
    li {
        padding: 0px;
        padding-top:24px;
        p {
            margin:0;
        }
    }
}

.multimedia_item {
    position: relative;
    img {
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    i.icon-play-circle {
        color: $aha_green;
        font-size: 56px;
        background: radial-gradient($aha_white,$aha_white, $aha_white, $aha_transparent, $aha_transparent, $aha_transparent);
    }
    h3.text {
        small {
            display: block;
            font-size: 12px;
            margin-bottom: 8px;
        }
        color: $aha_white;
    }
}