.pd-action-bar {
    .note {
        top: 0;
        font-size: 1rem;
        margin-bottom: 6px;
    }
    .error, .warning, .success {
        text-align: right;
    }

    @include media('<=phone') {
        .btn {
            min-width: initial;
            font-size: 14px;
            padding: 10px 6px;
        }
    }
}