.NLM_sec-type_resource_info{
  margin-top: 10px;
  border-top: 1px solid $primary-border-color;
  list-style: disc inside none;
  display: list-item;

  p{
    font-size: 13px;
    line-height: normal;
    color: $default-theme-color;
    display: inline-block;
  }

  a{
    color: $link-text-color;
  }
}