.card {
    @include card(10px, $default-bg-color);

    &--dark {
        @include card(10px, $tertiary-bg-color);
        color: $text-onDark;
    }

    &--gutter {
        padding: $gutter-size;
    }

    &--extra-gutter {
        padding: $gutter-extra-size;
    }

    &--shadow {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin-top: 25px;
        background: $meta-bg-color;
        @include card(10px, $default-bg-color);
    }

    &--light-shadow {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        @include card(10px, $default-bg-color);
    }

    &--extra-light-shadow {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        @include card(10px, $default-bg-color);
    }

    &--gutterless {
        padding: 0;
    }

    &--bordered {
        @include card(20px, $default-bg-color);
        border: 1px solid $tertiary-bg-color;
    }
}


