.recommend-to-librarian {
    .publication-meta {
        @include media("<tablet") {
            margin: 40px 10px;
        }

        @include media("<phone") {
            margin: 15px 10px;
        }

    }


}

.recommendationForm {
    .btn {
        width: auto ;
    }

    label {
        sup {
            font-size: 100%;
            position: static;
        }
    }
}