footer {
    .mobile-nav-links {
        margin-top: 8px;
        padding-bottom: 15px;
        border-top: 1px solid $borders;
        border-bottom: 1px solid $borders;
        ul {
            margin-top: 15px;
        }
    }
    .contact__nav {
        i {
            color: $footer-color;
        }
    }
}
