@import "../../../../plugins/drawer/scss/drawer.scss";

.main-nav.menu--res {
  .menu-header {
    text-align: left;
    padding: 0;
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.4;
    opacity: 1;
  }

  ul a {opacity: 1;}

  .menu-header,
  .drawer__nav {border-bottom-color: $menu-background;}

  .menu-header, ul a,
  a[data-toggle=nav].js--open .icon-close_thin{color: $menu-color;}
}