.client-pagination {

    margin-top: 25px;
    padding-bottom: 20px;

    .pagination__btn--prev {
        cursor: pointer;
        font-weight: bold;
    }
    .pagination__btn--next{
        cursor: pointer;
        font-weight: bold;
    }
    .pages {
        padding: 0 10px;
    }
    .page {
        padding: 0 10px;

        &.selected {
            font-weight: bold;
        }
    }

    .controls {
        text-align: center;
    }

}

