.confirmation-widget {
    .container {
        max-width: 700px;
    }
    .logo {
        text-align: center;
        margin: 15px 0 40px;
    }
    .purchase-text {
        text-align: center;
    }
    .purchase-table {
        border-bottom: 1px solid;
        margin-bottom: 10px;
    }
    .purchase-table th {
        border-bottom: 1px solid;
    }
    .order-no {
        font-weight: bold;
    }
    div.type {
        float: left;
        max-width: 80%
    }
    div.cost {
        float: right;
        max-width: 20%;
    }
    table td, table th {
        padding-right: 0;
        &:first-child {
            padding-left: 0;
        }
    }
    a {
        color: $primary-link-color;
    }
}