.my-exams {
    background: $tertiary-lighten-bg-color;
    padding: 16px 16px 26px;
    &__credit {
        font-weight: 700;
        margin-bottom: 25px;
    }
    &__activity {
        margin-bottom: 18px;
    }
    &__available {
        margin-top: 18px;
    }
    &__sign-in {
        margin-bottom: 25px;
    }
    i {
        font-size: 0.7rem;
        margin-left: 9px;
        font-weight: bold;
    }
}