.input-group {
    position: relative;
}

.resetPasswordWidget {
    .button {
        max-width: 100px;
    }
    .note {
        color: $primary-link-color;
        font-size: 1rem;
        margin-bottom: 20px;

        .bold {
            font-weight: bold;
        }
    }
}

.password-eye-icon {
    position: absolute;
    margin-right: 10px;
    top: 38px;
    right: 0;
    color: #8DA3BC;
    font-size: 20px;
    &:hover {
        cursor: pointer;
    }
}
