$facebook-bg-color: #3B5998;

$twitter-bg-color: #00B6F1;

$primary-bg-color: #006EB1;

$green-bg-color: #2E8747;

$secondary-lighten-bg-color: #FAFAFA;

$tertiary-lighten-bg-color: #FAFAFA;

$default-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

$primary-darken-text-color: #BDBDBD;

$secondary-text-color: #6D6D6D;

$secondary-lighten-text-color: #6D6D6D;

$note-text-color: #4B6A88;

$success-text-color: #27AE60;

$warning-text-color: #F60;

$error-text-color: #DB3B3B;

$headings-default-color: #006EB1;

$headings-emphasis-color: #AD1457;

$separators-color: #BDBDBD;

$separators-style: solid;

$separators-width: 1px;

$list-separators-color: #006EB1;

$primary-border-color: #BDBDBD;

$input-border: #BDBDBD;

// deprecated - repleaced by input-border
$borders: #BDBDBD;

// deprecated - repleaced by primary-btn-bg
$button-bg: #2E8747;

$primary-btn-bg: #2E8747;

$primary-btn-color: #FFF;

$inverse-btn-bg: #FFF;

$inverse-btn-color: #6B7887;

$input-range-slider-thumb-color: #2E8747;

$input-range-slider-track-color: $separators-color;

$input-range-slider-progress-color: #2E8747;

$badge-type-bg-color: #4B6A88;

$default-link-color: inherit;

$default-link-hover-color: inherit;

$primary-link-color: #006EB1;

$primary-link-hover-color: #000;

$secondary-link-color: #27AE60;

$secondary-link-hover-color: #000;

// default = transparent
$table-bg-color: #FAFAFA;

$table-border-color: $separators-color;

// Background color used for table-striped
$table-bg-color-accent: #E0E0E0;

$table-head-color: $primary-text-color;

$table-head-bg-color: $table-bg-color-accent;

$table-cell-padding: 14px;

$light-gray-color: #FAFAFA;

$primary-icons-color: #006EB1;

$meta-wrapper-bg: #FFF;

$tertiary-bg-color: #006EB1;

$journal-meta-title-color: #263238;

$dropzone-bg-hover-color: #FAFAFA;

$tab-nav-color: $secondary-text-color;

$tab-nav-bg: transparent;

$tab-nav-active-bg: transparent;

$tab-nav-active-color: $secondary-link-color;

$tab-nav-active-border-color: $tab-nav-active-color;

$tab-nav-icons-color: $primary-icons-color;

$tab-nav-active-icons-color: $secondary-link-color;

$tab-primary-nav-active-color: $primary-btn-color;

$tab-primary-nav-active-bg: $primary-btn-bg;

$tab-secondary-nav-color: $primary-link-color;

$tab-secondary-nav-active-color: $secondary-link-color;

$card-dark-color: #FFF;

$card-dark-text-decoration-color: $card-dark-color;

$loi-bg-color: #FFF;

// LOI BG in dropblock
$dropblock-loi-bg-color: #FAFAFA;

$loi-banner-bg-color: $primary-bg-color;

$coolbar-color: $primary-link-color;

// Coolbar text color on mobile @FIXME: use make-link mixin
$coolbar-res-color: #FFF;

// Coolbar icons color on mobile @FIXME: use make-link mixin
$coolbar-res-icons-color: $coolbar-res-color;

// deprecated -> renamed to $slide-head-bg
$slide-bg-color: $primary-bg-color;

$slide-head-color: $text-onDark;

$slide-head-bg: $primary-bg-color;

$slide-separators-color: #E0E0E0;

$slide-separators-style: $separators-style;

$slide-separators-width: $separators-width;

$slide-separators: $slide-separators-width $slide-separators-style $slide-separators-color;

$creative-title-color: inherit;

$creative-loa-color: $primary-text-color;

$creative-color: #6D6D6D;

$slider-nav-bg-color: transparent;

$slider-nav-hover-bg-color: $slider-nav-bg-color;

$slider-nav-color: #FFF;

$slide-item-caption-color: $slider-nav-color;

$slide-item-caption-bg: rgba(0, 0, 0, 0.8);

$pager-bg: #FAFAFA;
