.popup {
  .content {
    border-radius: 5px;
    padding: 22px 30px 40px;
  }

  ::-webkit-input-placeholder {
    color: $tertiary-darken-color;
  }
  ::-moz-placeholder{
    color: $tertiary-darken-color;
  }
  :-ms-input-placeholder{
    color: $tertiary-darken-color;
  }
}