.quote {
    font-weight: 600;
    background: $light-blue;
    padding: 1px 15px;
    border-left: 2px solid $primary-blue-color;
    text-indent: initial;
    margin: 20px 0px;
    &:before {
        content: "";
    }
    &:after {
        content: "";
    }
}