.search-history {
    .search-entries {
        ul {
            list-style-type: none;
            padding: 0;

            h3 {
                color: $primary-bg-color;
                font-size: 14px;
                font-size: .875rem;
                font-weight: 600;
            }
        }
    }
}
.search-tabs-widget {
    .search-tabs-nav {
        display: none;
    }
}