.dropBlock {
    [data-db-target-of] {
        border: 16px solid $transparent-border;
        padding: 20px;
        box-shadow: none;
        &:before {
            content: "";
            background: $white;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &__ctrl--close {
        position: absolute;
        right: 8px;
        top: 0;
        cursor: pointer;
        i {
            color: $primary-body-font-color;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }
    &__slider {
        width: 100%;
        position: static !important;
        &__back {
            i,span {
                font-size: 0.88rem;
                color: $primary-body-font-color;
            }
            span {
                margin-left: 6px;
            }
        }
        li {
            position: static;
            height: 1.35rem;
            float: left;
            margin-bottom: 3px;
            &:not(:last-child) {
                &:after {
                    content: ",";
                    margin-left: 0;
                    margin-bottom: 0;
                    vertical-align: top;
                }
            }
        }
        .dropBlock__slider__ctrl {
            border-color: $generic-bottom-border;
        }

        &.js--open {
            //position: absolute;
            //right: 100%;
        }
        &__wrapper {
            position: absolute;
            left: 100%;
            right: 100%;
            background: $white;
            top: 15px;
            visibility: hidden;
            bottom: 0;
            overflow: auto;
            //width: 100px;
            &.js--open {
                visibility: visible;
                left: 15px;
                right: 0;
            }
        }
    }
}
