.issue-item {

    &__title {
        color: $primary-link-color;
        margin-bottom: 15px;
    }

    .code {
        font-size: $x-small-font-size ;
    }

    .loa {
        color: $secondary-text-color;

        li {
            margin-right: 5px;
            span {
                margin-right: 0px;
            }

        }

        li:not(:last-child) {
            &:after {
                margin: 0;
            }
        }
    }
}