
  .login-popup{

    .show-registration{
      display: inline-block;
      color: $black;
    }


    .show-request-username,.show-request-reset-password{
      color: $black;
      font-size: 	0.625rem;
      font-weight: 600;
    }
  }

