.slotLicenseConsumption {
    font-size: 0.75rem;
    color: $wiley-typography-color;
    margin: 1rem;

    .btn--orange {
        font-size: inherit;
        padding: 8px 30px;
        width: inherit;
        background: $wiley-orange-color;
    }
}