<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row first-row-content">
                <div class="col-sm-12 col-md-4 col-lg-3 footer-brand-name">
                    <h3 class="brand-name">AHA / ASA Journals</h3>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">AHA Journals</h5>
                    <ul class="rlist">
                        <div class="row">
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Arteriosclerosis, Thrombosis, and Vascular Biology (ATVB)">
                                    Arteriosclerosis, Thrombosis, and Vascular Biology (ATVB)
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Cardiovascular Imaging">
                                    Circ: Cardiovascular Imaging
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circulation Research">
                                    Circulation Research
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circulation">Circulation</a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Cardiovascular Interventions">
                                    Circ: Cardiovascular Interventions
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Hypertensio">
                                    Hypertensio
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Arrhythmia and Electrophysiology">
                                    Circ: Arrhythmia and Electrophysiology
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Cardiovascular Quality &amp; Outcomes">
                                    Circ: Cardiovascular Quality &amp; Outcomes
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Stroke">
                                    Stroke
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Cardiovascular Genetics">
                                    Circ: Cardiovascular Genetics
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Circ: Heart Failure">
                                    Circ: Heart Failure
                                </a>
                            </li>
                            <li class="col-sm-12 col-md-6 col-lg-4">
                                <a href="#" title="Journal of the American Heart Association">
                                    Journal of the American Heart Association
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="journals" class="accordion__control">
                        <h5 class="section_title">
                            AHA Journals <i aria-hidden="true" class="icon-section_arrow_d pull-right"></i>
                        </h5>
                    </a>
                    <div id="journals" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li>
                                <a href="#" title="Arteriosclerosis, Thrombosis, and Vascular Biology (ATVB)">
                                    Arteriosclerosis, Thrombosis, and Vascular Biology (ATVB)
                                </a>
                            </li>
                            <li><a href="#" title="Circulation">Circulation</a></li>
                            <li>
                                <a href="#" title="Circ: Arrhythmia and Electrophysiology">
                                    Circ: Arrhythmia and Electrophysiology
                                </a>
                            </li>
                            <li><a href="#" title="Circ: Cardiovascular Genetics">Circ: Cardiovascular Genetics</a></li>
                            <li><a href="#" title="Circ: Cardiovascular Imaging">Circ: Cardiovascular Imaging</a></li>
                            <li>
                                <a href="#" title="Circ: Cardiovascular Interventions">
                                    Circ: Cardiovascular Interventions
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Circ: Cardiovascular Quality &amp; Outcomes">
                                    Circ: Cardiovascular Quality &amp; Outcomes
                                </a>
                            </li>
                            <li><a href="#" title="Circ: Heart Failure">Circ: Heart Failure</a></li>
                            <li><a href="#" title="Circulation Research">Circulation Research</a></li>
                            <li><a href="#" title="Hypertensio">Hypertensio</a></li>
                            <li><a href="#" title="Stroke">Stroke</a></li>
                            <li>
                                <a href="#" title="Journal of the American Heart Association">
                                    Journal of the American Heart Association
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row second-row-content">
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">Information</h5>
                    <ul class="rlist">
                        <li><a href="#" title="About AHA/ASA">About AHA/ASA</a></li>
                        <li>
                            <a href="#" title="Customer service and ordering information">
                                Customer service and ordering information
                            </a>
                        </li>
                        <li><a href="#" title="AHA Journals RSS Feed">AHA Journals RSS Feed</a></li>
                        <li><a href="#" title="AHA Journals Alerts">AHA Journals Alerts</a></li>
                        <li><a href="#" title="For International users">For International users</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="Information" class="accordion__control">
                        <h5 class="section_title">
                            Information<i aria-hidden="true" class="icon-section_arrow_d pull-right"></i>
                        </h5>
                    </a>
                    <div id="Information" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li><a href="#" title="About AHA/ASA">About AHA/ASA</a></li>
                            <li>
                                <a href="#" title="Customer service and ordering information">
                                    Customer service and ordering information
                                </a>
                            </li>
                            <li><a href="#" title="AHA Journals RSS Feed">AHA Journals RSS Feed</a></li>
                            <li><a href="#" title="AHA Journals Alerts">AHA Journals Alerts</a></li>
                            <li><a href="#" title="For International users">For International users</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">Subscriptions</h5>
                    <ul class="rlist">
                        <li><a href="#" title="Subscriptions">Subscriptions</a></li>
                        <li><a href="#" title="Institutions/ Librarians FAQ">Institutions/ Librarians FAQ</a></li>
                        <li><a href="#" title="For Subscribers">For Subscribers</a></li>
                        <li><a href="#" title="Subscriber Help">Subscriber Help</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="Subscriptions" class="accordion__control">
                        <h5 class="section_title">
                            Subscriptions<i aria-hidden="true" class="icon-section_arrow_d pull-right"></i>
                        </h5>
                    </a>
                    <div id="Subscriptions" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li><a href="#" title="Subscriptions">Subscriptions</a></li>
                            <li><a href="#" title="Institutions/ Librarians FAQ">Institutions/ Librarians FAQ</a></li>
                            <li><a href="#" title="For Subscribers">For Subscribers</a></li>
                            <li><a href="#" title="Subscriber Help">Subscriber Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm"><h5 class="section_title">For
                    Authors</h5>
                    <ul class="rlist">
                        <li><a href="#" title="Journal Submission sites">Journal Submission sites</a></li>
                        <li><a href="#" title="Top Guidelines">Top Guidelines</a></li>
                        <li><a href="#" title="Subject terms">Subject terms</a></li>
                        <li><a href="#" title="Open Access information">Open Access information</a></li>
                        <li><a href="#" title="Permissions and Rights FAQ">Permissions and Rights FAQ</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="For-Authors" class="accordion__control">
                        <h5 class="section_title">
                            For Authors<i aria-hidden="true" class="icon-section_arrow_d pull-right"></i>
                        </h5>
                    </a>
                    <div id="For-Authors" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li><a href="#" title="Journal Submission sites">Journal Submission sites</a></li>
                            <li><a href="#" title="Top Guidelines">Top Guidelines</a></li>
                            <li><a href="#" title="Subject terms">Subject terms</a></li>
                            <li><a href="#" title="Open Access information">Open Access information</a></li>
                            <li><a href="#" title="Permissions and Rights FAQ">Permissions and Rights FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">Policies</h5>
                    <ul class="rlist">
                        <li>
                            <a href="#" title="Conflict of interest policy (PDF)">Conflict of interest policy (PDF)</a>
                        </li>
                        <li><a href="#" title="Ethical conduct policy (PDF)">Ethical conduct policy (PDF)</a></li>
                        <li><a href="#" title="Prior publication policy">Prior publication policy</a></li>
                        <li><a href="#" title="Public access policy">Public access policy</a></li>
                        <li><a href="#" title="Embargo policy">Embargo policy</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="Policies" class="accordion__control">
                        <h5 class="section_title">
                            Policies <i aria-hidden="true" class="icon-section_arrow_d pull-right"></i>
                        </h5>
                    </a>
                    <div id="Policies" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li>
                                <a href="#" title="Conflict of interest policy (PDF)">Conflict of interest policy (PDF)</a>
                            </li>
                            <li><a href="#" title="Ethical conduct policy (PDF)">Ethical conduct policy (PDF)</a></li>
                            <li><a href="#" title="Prior publication policy">Prior publication policy</a></li>
                            <li><a href="#" title="Public access policy">Public access policy</a></li>
                            <li><a href="#" title="Embargo policy">Embargo policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">News</h5>
                    <ul class="rlist">
                        <li><a href="#" title="Professional heart daily">Professional heart daily</a></li>
                        <li><a href="#" title="Scientific Sessions 2017">Scientific Sessions 2017</a></li>
                        <li><a href="#" title="AHA Newsroom">AHA Newsroom</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="News" class="accordion__control">
                        <h5 class="section_title">News<i aria-hidden="true" class="icon-section_arrow_d pull-right"></i></h5>
                    </a>
                    <div id="News" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li><a href="#" title="Professional heart daily">Professional heart daily</a></li>
                            <li><a href="#" title="Scientific Sessions 2017">Scientific Sessions 2017</a></li>
                            <li><a href="#" title="AHA Newsroom">AHA Newsroom</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 footer-quick-links-list hidden-xs hidden-sm">
                    <h5 class="section_title">Education</h5>
                    <ul class="rlist">
                        <li><a href="#" title="Statements and Guidelines">Statements and Guidelines</a></li>
                        <li><a href="#" title="AHA Journal CME">AHA Journal CME</a></li>
                        <li><a href="#" title="Trend Watch">Trend Watch</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 accordion hidden-lg">
                    <a href="#" aria-expanded="false" aria-controls="Education" class="accordion__control">
                        <h5 class="section_title">Education<i aria-hidden="true" class="icon-section_arrow_d pull-right"></i></h5>
                    </a>
                    <div id="Education" class="accordion__content" style="display: none;">
                        <ul class="rlist">
                            <li><a href="#" title="Statements and Guidelines">Statements and Guidelines</a></li>
                            <li><a href="#" title="AHA Journal CME">AHA Journal CME</a></li>
                            <li><a href="#" title="Trend Watch">Trend Watch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row first-row-content">
                <div class="col-xs-12 col-sm-12 col-md-2 address-details">
                    <div class="footer__logo">
                        <a href="/" title="logo">
                            <img alt="logo" src="/pb-assets/images/logo-footer-main.svg">
                        </a>
                    </div>
                    <p>
                        <strong>National Center<br></strong>
                        7373 Greenville Ave.<br>
                        Dallas, TX 75231<br>
                        <strong>Customer Service<br></strong>
                        1-800-AHA-USA-1<br>
                        1-800-242-8721<br>
                        <a href="#" title="Local Info">Local Info<br></a>
                        <a href="#" title="Contact Us">Contact Us</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h5>ABOUT US</h5>
                    <p>
                        Our mission is to build healthier lives, free of cardiovascular diseases and stoke.
                        That single purpose drives all we do. The need for our work is beyond question.
                        <a href="#" title="Find Out More">Find Out More</a>
                    </p>
                    <ul class="rlist">
                        <li>
                            <a href="#" title="Careers">
                                Careers<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="SHOP">SHOP<i aria-hidden="true" class="icon-arrow_r pull-right"></i></a>
                        </li>
                        <li>
                            <a href="#" title="Latest Heart and Stroke News">
                                Latest Heart and Stroke News<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="AHA/ASA Media Newsroom">
                                AHA/ASA Media Newsroom<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h5>OUR SITES</h5>
                    <ul class="rlist">
                        <li>
                            <a href="#" title="American Heart Association">
                                American Heart Association<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="American Stroke Association">
                                American Stroke Association<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="For Professionals">
                                For Professionals<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="More Sites">
                                More Sites<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h5>TAKE ACTION</h5>
                    <ul class="rlist">
                        <li>
                            <a href="#" title="Advocate">
                                Advocate<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Donate">Donate<i aria-hidden="true" class="icon-arrow_r pull-right"></i></a>
                        </li>
                        <li>
                            <a href="#" title="Planned Giving">
                                Planned Giving<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Volunteer">
                                Volunteer<i aria-hidden="true"  class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h5>ONLINE COMMUNITIES</h5>
                    <ul class="rlist">
                        <li>
                            <a href="#" title="AFib Support">
                                AFib Support<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Garden Community">
                                Garden Community<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Patient Support Network">
                                Patient Support Network<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Professional Online Network">
                                Professional Online Network<i aria-hidden="true" class="icon-arrow_r pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row second-row-content follow-us-section">
                <div class="col-xs-12">
                    <div class="contact">
                        <nav class="contact__nav follow__us__nav">
                            Follow Us:
                            <ul class="rlist--inline">
                                <li>
                                    <a href="#" title="Twitter"><i class="icon-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Facebook"><i class="icon-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Google Plus"><i class="icon-Icon_Google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Instagram"><i class="icon-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Pinterest"><i class="icon-pinterest" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Youtube4"><i class="icon-youtube4" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="RSS"><i class="icon-Rss" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row third-row-content copywrites-section">
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 pull-left">
                    <div class="footer_navigation_bottom">
                        <ul class="rlist--inline separator">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Ethics Policy</a></li>
                            <li><a href="#">Conflict of Interest Policy</a></li>
                            <li><a href="#">Linking Policy</a></li>
                            <li><a href="#">Diversity</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer_copywrites">
                        <div class="copyright">© 2017 American Heart Association, Inc. All rights reserved. Unauthorized
                            use prohibited. The American Heart Association is qualified 501(c)(3) tax-exempt
                            organization.<br>*Red Dress ™ DHHS, Go Red ™; National Wear Red Day ® is registered
                            trademark.
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right certifications">
                    <img alt="NHC Optimized" src="/pb-assets/images/nhc_optimized.png">
                    <img alt="BBB" src="/pb-assets/images/bbb_100px.png">
                    <img alt="Comodo Secure" src="/pb-assets/images/comodo_secure.png">
                </div>
            </div>
        </div>
    </div>
</footer>