.list-of-recommended {

    .creative-work {
        margin-bottom: 25px;

        &__title {
            color: $wiley-blue-color;
            min-height: 0;
            margin-bottom: 12px;
            height: auto;
            font-size: 0.875rem;
        }
    }


    .loa {
        height: auto;
    }

    .parent-item {
        text-transform: none;
        font-weight: 400;
    }

    .loa, .parent-item {
        color: $secondary-text-color;
        height: auto;
        font-size: 0.75rem;

        a {
            color: $secondary-text-color;
        }
    }

}