$white: #fff;

$default-bg-color: #fff;

$primary-bg-color: #404042;

$primary-lighten-bg-color: #e6e5e5;

$header-bg-color: #404042;

$donate-bg-color: #ffcb09;

$slider-bg-color: #16475c;

$footer-bg-color: #676767;

$loi-bg-color: #bbbdc0;

$journal-color: #ed1c24;

$blog-color: #2babe2;

$standard-color: #16475c;

$primary-text-color: #404042;

$secondary-text-color: #808284;

$headings-color: #4e4e4e;

$qoutation-color: #bd2026;

$date-color: #ed1c24;

$filled-text-color: #fff;

$date-text-color: #ed1c24;

$keyword-text-color: #6d6e70;

$qoutation-color--blog: #117eae;

$primary-btn-color: #404042;

$primary-link-color: #000;

$hover-secondary-link-color: #ed1c24;

$button-bg: #404042;

$links-color: #0084b4;

$links-hover-color: #878787;

$share-this-icons-color: #57585b;

$borders: #e6e5e5;
