.related-sections {
    &__image {
        margin-bottom: 8px;

    }
    &__source,
    &__date {
        font-weight: bold;
        margin-bottom: 15px;
    }
    &__link {
        margin-bottom: 15px;
    }
    &__body {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    &__source {
        margin-top: 15px;
    }
    &__details {
        margin-bottom: 15px;
    }
    &__label {
        margin-right: 5px;
    }
    .regular {
        font-weight: normal;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .italic {
        font-style: italic;
    }
}