.primary-link-color {
    color: #1b95e0;
}

.primary-btn-color {
    background-color: #b0b0b0;
}


.hover-secondary-link-color {
    background-color: #cf102d;
}

.separators-color {
    background-color: #b8b8b8;
}

.header-separators-color {
    background-color: #ddd;
}

.social-login-separators-color {
    background-color: #000;
}

.search-bg-color {
    background-color: #ddd;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1da1f2;
}

.googlePlus {
    background-color: #dd4b39;
}

.linkedin {
    background-color: #0077b5;
}

.rss {
    background-color: #f26522;
}

.badge-primary-bg-color {
    background-color: #04a361;
}

.badge-oa-bg-color {
    background-color: #f29c07;
}

.badge-type-bg-color {
    background-color: #b8b8b8;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
}

.grey {
    background-color: #ddd;
}

.light-grey {
    background-color: #eee;
}

.darker-grey {
    background-color: #0d0d0d;
}

.dark-grey {
    background-color: #2f2f2f;
}

.modal-close-button-color {
    background-color: #000;
}

.modal-backdrop-color {
    background-color: #eee;
}

.loi-button-bg-color {
    background-color: #777;
}

.refine-search-shadow-color {
    background-color: #777;
}

.slider-nav-bg-color {
    background-color: #d6d6d6;
}

.slider-nav-hover-bg-color {
    background-color: #869791;
}

.dropzone-bg-color {
    background-color: #fff;
}

.dropzone-bg-hover-color {
    background-color: #f4f4f4;
}

.dropzone-text-color {
    background-color: #b8b8b8;
}

.dropzone-border-color {
    background-color: #ddd;
}
