.parent-item{

  h4,h6{
    color: $black;
  }

&.alt{

.book{

  &__authors{
    display: inline-block;
    margin-left: 5px;
    .loa{
      font-size: .875rem;
    }
  }
  &__edition{
    font-size: .875rem;
    margin-top: 20px;
  }
}

}

  .loa{
    font-size: .75rem;
    color:$secondary-text-color;
  }

  .book{
    &__edition{
      font-size: .75rem;
      padding-bottom: 5px;
    }
    &__doi{
      text-transform: lowercase;
    }
  }
}