figure {
    .figure__copyright {
        font-size: 1rem;
    }
}

.figure {
    &__title {
        font-size: .9375rem;
    }
}

.figure-viewer{
    &__title {
        font-size: 1.0625rem;
    }

    .figure {
        &__title {
            font-size: 1.0625rem;
            font-weight: 600;
        }
        &__label {
            font-weight: bold;
            white-space: nowrap;
        }
    }
}
