.slideShow {
    .slide-item {
        margin: 0;
        box-shadow: 0 4px 4px 0 $shadow-light-color;
        min-height: 520px;

        @include media('>=phone') {
            margin: 0 8px;
        }
    }
    .owl-next, .owl-prev {

        span {
            display: none;
        }
        i {
            display: inline-block;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .owl-next {
        right: -40px;
    }
    .owl-prev {
        left: -40px;
    }
}

.owl-carousel {
    padding: 0;
    margin: 0 -8px;
    .owl-nav {
        [class*=owl-] {
            background: transparent;
            color: $ess-secondary-text-color;
            &:hover, &:focus {
                background: transparent !important;
                color: $ess-secondary-text-color;
            }
            i {
                @include media('<tablet') {
                    display: none !important;
                }
            }
        }
    }

    .owl-dots {
        .owl-dot {
            span {
                border: 1px solid $primary-border-color;
                background: transparent;
            }
            &.active, &:hover, &:focus {
                span {
                    background-color: $tertiary-bg-color;
                }
            }
        }

    }
}