// BASIC COLORS
.atypon-blue {
  background-color: $atypon_blue;
}
.atypon-red {
  background-color: $atypon_red;
}
.atypon-gray-dark {
  background-color: $atypon_gray_dark;
}
.atypon-gray {
  background-color: $atypon_gray;
}
.atypon-gray-light {
  background-color: $atypon_gray_light;
}
.atypon-gray-lightest {
  background-color: $atypon_gray_lightest;
}
//SUPPORTING COLORS
.atypon-blue-light {
  background-color: $atypon_blue_light;
}
.atypon-blue-lightest {
  background-color: $atypon_blue_lightest;
}
.atypon-red-light {
  background-color: $atypon_red_light;
}
.atypon-red-lightest {
  background-color: $atypon_red_lightest;
}
.atypon-green {
  background-color: $atypon_green;
}
.atypon-green-light {
  background-color: $atypon_green_light;
}

.primary-text-color {
  color: $primary-text-color;
}
.secondary-text-color {
  color: $secondary-text-color;
}
.tertiary-text-color {
  color: $tertiary-text-color;
}
.dark-bg {
  background: $atypon_gray_dark;
}
.default-content-color {
  color: $default-content-color;
}

.primary-btn-color { color: $primary-btn-color; }
.secondary-btn-color { color: $secondary-btn-color; }
.primary-border-color { color: $primary-border-color; }
.secondary-border-color { color: $secondary-border-color; }
.primary-btn-bg { background-color: $primary-btn-bg; }
.secondary-btn-bg { background-color: $secondary-btn-bg; }
.disabled-btn-bg { background-color: $disabled-btn-bg; }
.site-navigation-caret-color { color: $site-navigation-caret-color; }
.primary-link-color { color: $primary-link-color; }
.secondary-link-color { color: $secondary-link-color; }
.input-border { color: $input-border; }
.input-placeholder-color { color: $input-placeholder-color; }
.alert-success-color { color: $alert-success-color; }
.alert-success-background { background-color: $alert-success-background; }
.alert-error-color { color: $alert-error-color; }
.alert-error-background { background-color: $alert-error-background; }
.alert-info-color { color: $alert-info-color; }
.alert-info-background { background-color: $alert-info-background; }
.primary-card-bg { background-color: $primary-card-bg; }
.secondary-card-bg { background-color: $secondary-card-bg; }
.tertiary-card-bg { background-color: $tertiary-card-bg; }
.card-border-color { color: $card-border-color; }
.shadow-color { color: $shadow-color; }
.hr-color { color: $hr-color; }
.secondary-section-bg { background-color: $secondary-section-bg; }
