.checkoutProcessRightCol {
    padding: 20px 15px;
    background-color: $tertiary-darken-bg-color;
    border-radius: 0px;

    @include media('<tablet') {
        background-color: $secondary-bg-color;
        margin-bottom: -30px;
    }

    br {
        display: none;
    }
}

.checkoutProcessLeftCol {
    .checkoutMethod {
        a {
            color: $text-onDark;
        }
    }
}