.primary-text-color {
    color: $primary-text-color;
}

.secondary-text-color {
    color: $secondary-text-color;
}

.primary-link-color {
    color: $primary-link-color;
    &:hover, &:focus, &:visited {
        color: $primary-link-color;
    }
}

.primary-border-color {
    border-top: 1px solid $primary-border-color;
}

.secondary-border-color {
    border-top: 1px solid $secondary-border-color;
}
