.content-item-format-links {

    li {
        line-height: .875rem;
        margin-right: 10px;
        padding-right: 10px;

        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }
    }

    .separator {
        li {
            border-color: $primary-bg-color;
        }
    }


    a {
        color: $wiley-blue-color;
    }
}