.icons-palette p {
    margin: 10px 0;
}

i {
    font-size: 25px;
    display: inline-block;
}
.col-md-3 {
    text-align: center;
    background: #eee;
    padding: 15px 10px;
    border: 10px solid #fff;
    min-width: 225px;
    min-height:150px;
}