.login-popup {
    .remote-login {
        font-size: .875rem;
        margin-top: 14px;
        color: $secondary-text-color;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
    .notice {
        font-weight: bold;
        font-size: 1.2rem;
    }
}


.login-form{
    .notice {
        color: $warning;
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
