.dropBlock {
 position: relative;
  ul {
    li {
      padding: 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #e0e0e0;
      }
    }

  }

  &__holder {
    right:0;
    a{
      font-size: 1rem;
      font-weight: 100;
      color:  $primary-text-color;
      i{
        font-size: 1.2em;
        color: $standard-color;
        padding-right: 10px;
      }
    }

  }
}