.citationFormats {

    .formats {

        th {
            vertical-align: top;
        }

        label {
            display: inline-block;
        }

        input {
            margin-bottom: 0;
            vertical-align: middle;
        }



    }

}