$default-bg-color: #eee;

$secondary-text-color: #bfbfbf;

$search-bg: #e6e7e7;

$primary-text-color: #1f1f1f;

$primary-blue-color: #5e8ab4;

$primary-white: #fff;

$primary-red: #6e0b1a;

$primary-red-bg: #6e0b1a;

$gray-2: #747678;

$red-4: #540814;

$red-5: #842f3b;

$secondary-red: #3b060e;

$gray-background: #fafafa;

$dark-gray: #464646;

$light-orange: #d86018;

$light-green: #76bd95;

$light-blue: #EFF3F7;

$light-red: #e61717;

$transparent: transparent;

$primary-border: #cbcccd;

$secondary-border: #e0e0e0;

$breadcrumb-bg: rgba(0, 0, 0, 0.85);

$publication: #97999b;

$aps-general: #76232f;

$apsselect: #76232f;

$ajpcell: #cf4036;

$ajpendo: #ebb63b;

$ajpgi: #2e76ba;

$ajpheart: #88b558;

$ajplegacy: #d8cfb0;

$ajplung: #008980;

$ajpregu: #00a1ca;

$ajprenal: #7580ba;

$jappl: #650c1e;

$jn: #464646;

$physiolgenomics: #dd773f;

$advances: #d7c17a;

$physrev: #007ea9;

$physiologyonline: #738c1f;

$secondary-link-red: #da291c;

$orcid: #a6ce39;
