.alert {
    &_primary, &_primary_2, &_primary_3, &_secondary, &_secondary_2 {
        font-size: $medium-font-size;
    }
    &_primary {
        color: $tertiary-third-text-color;

        .alert_title {
            background-color: $primary-bg-color;
        }
    }
    &_primary_2 {
        color: $tertiary-text-color;

        .alert_title {
            background-color: $secondary-bg-color;
        }
    }
    &_primary_3 {
        color: $tertiary-second-text-color;

        .alert_title {
            background-color: $secondary-second-bg-color;
        }
    }
    &_secondary {
        color: $secondary-fifth-text-color;

        .alert_title {
            background-color: $light-third-bg-color;
        }
    }
    &_secondary_2 {
        color: $primary-text-color;

        .alert_title {
            background-color: $dark-bg-color;
        }
    }

    &_title {
        padding: 2px 7px;
        color: $text-onDark;
        font-weight: bold;
        border-radius: 3px;
        margin-right: 15px;
    }
}