.s-comments-form-open {
  @include breakpoint('small-') {
    position: fixed;
    overflow: hidden;

    body {
      position: fixed;
      width: 100vw;
      overflow: hidden;
    }
  }

  .m-comment-form__form {
    display: block;
  }
}
