.s-figures-modal-open {
  position: fixed;
  overflow: hidden;

  body {
    position: fixed;
    width: 100vw;
    overflow: hidden;
  }

  .o-figures-modal {
    display: block;
    z-index: 21;
  }
}
