
.s-nejm-group-dd {

  @include breakpoint('large+') {
    .g-nejm-group-dd {
      display: block;
    }

    .a-dropdown-prompt::after {
      transform: rotate(180deg) translateY(1px);
    }

    .g-mask {
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color__black;
      opacity: 0;
    }
  }
}
