.s-compact-menu {

  #a17 {
    padding-top: 32px;

    @include breakpoint('medium+') {
      padding-top: 48px;
    }

    @include breakpoint('large+') {
      padding-top: 88px;
    }
  }

  .g-leaderboard {
    display: none;
  }

  .g-nejm-group {
    top: 0;
  }

  .g-header {
    top: 0;

    @include breakpoint('medium+') {
      z-index: 5;
      top: 0;
    }

    @include breakpoint('large+') {
      top: 0;
    }
  }

  .g-nav {
    top: 0;

    @include breakpoint('small+') {
      top: 0;
    }
  }

  .g-search {
    z-index: 4;
    top: 40px;
  }

  .g-banner-institution {
    top: 0;
  }
}


.s-compact-menu.s-institution-banner {

  #a17 {
    padding-top: 72px;

    @include breakpoint('medium+') {
      padding-top: 96px;
    }

    @include breakpoint('large+') {
      padding-top: 144px;
    }
  }

  .g-nav {
    top: 104px;

    @include breakpoint('small+') {
      top: 0;
    }
  }

  .g-nejm-group {
    top: 56px;
  }

  .g-header {
    top: 40px;

    @include breakpoint('medium+') {
      top: 48px;
    }

    @include breakpoint('large+') {
      top: 96px;
    }
  }

  .g-search {
    top: 96px;
  }
}
