.brief
{
  &__content{
    .quote,.epub-section__date{
      color: $standard-color;
    }
  }

  &__abstract{
    font-size: 1.6rem;
    margin-bottom: 50px;

  }

  &__authors{
    .rlist--inline.loa{
      margin: 20px 0 20px;
      font-size: 1rem;
    }
  }


  &__link{
    color: $standard-color;
    margin-bottom: 40px;
    a{
      color: $journal-color;
    }
  }

  &__primary-topic{
    @include media('<desktop'){
      display: block;
      padding-left: 0;
    }
  }
}


.blog-full {
  .sidebar-region {
    margin-top: 85px;
  }
}

