.rlist{
    &--inline{
        &.separator{
            >li{
                padding-right: 10px;
                &~li {
                    padding-left: 10px;
                    margin: 0;
                }
            }
        }

    }
}