.articleDataContainer {
    margin-top: 15px;
}

.articleTitlePrice {
    font-size: $h6-font-size;

    a:not(.btn) {
        color: $primary-link-color;
        display: block;
        margin-bottom: 5px;

        &:hover {
            color: $primary-text-color;
        }
    }

    & > p {
        max-width: 100%;
        width: 100%;
    }

    .item-price {
        color: $primary-text-color;
        font-weight: 600;
        float: left;
        margin-bottom: 15px;
    }
}

.articleAuthorDate {
    font-size: $h6-font-size;
    color: $secondary-text-color;
}

.tabPanelFooter {
    margin-bottom: 15px;
    padding-bottom: 15px;

    a {
        &:hover {
            color: $primary-link-color;
        }
    }
}

.eCommerceCheckoutBuyingItemsWidget {
    margin-bottom: 30px;
    .tabPanelFooter {
        border-bottom: 1px dashed $tertiary-border-color;
    }
}