.jcf-select-drop .jcf-select-drop-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.jcf-list .jcf-option.jcf-hover {
    background-color: $default-bg-color;
    color: $primary-blue-color;
}

.jcf-list li ~ li {
    border-top: 1px solid $secondary-border;
}

.jcf-drop-active {
    .jcf-select-text {
        &:after {
            transform: rotateX(150deg);
        }
    }
}

.jcf-select-text {
    &:after {
        font-size: 6px;
    }
}

.checkbox--primary .jcf-checkbox {
    border: 2px solid $primary-blue-color;
}

.checkbox--primary .jcf-checkbox {
    &.jcf-checked {
        box-shadow: 0 0 0 2px $primary-blue-color;
    }
    box-shadow: 0 0 0 2px $primary-blue-color;
    width: 13px;
    height: 13px;
    border-radius: 1px;
    border: 0;
}

/****************/
.checkbox--primary .jcf-checkbox span {
    width: 13px;
    height: 13px;
    background: #eee;
    border: none;
    margin: 0;
    &:before {
        background: $primary-blue-color;
        border: none;
        border-radius: 1px;
        padding-right: 0;
        width: 13px;
        height: 13px;
    }
}

.jcf-checkbox {
    float: none;
}

/***********************/
.profile-pages {
    div.border-bottom {
        padding-bottom: 0;
    }
    .select-all__action {
        .select-all__checkbox {
            border-right: 1px solid $secondary-border;
            padding-right: 16px;
        }
    }
}