article {
    margin-bottom: 20px;
    min-height: 640px;
    .article___body {
        margin-top: 20px;
    }
}

.related {
    &__authors {
        margin-bottom: 8px;
    }
    &__authors,
    &__publication {
        color: $secondary-text-color;
    }
}
@include media('>=tablet') {
.coolBar__drop {
    i {
        color: $white !important;
    }
}
}