.link {
    color: $primary-darken-text-color;
}

.switch {
    .cmn-toggle:checked+label  , label{
        background-color: $standard-color;
    }

    &.small-switch {
        label {
            display: inline-block;
        }
    }

}