$white-color: #fff;

$black-color: #000;

$standard-bg-color: #3186A3;

$standard-secondary-bg-color: #2F80ED;

$basic-bg-color: #F2F2F2;

$blue-text-color: #2F80ED;

$note-bg-color: #FFE9A5;

$note-bg-secondary-color: #FFF8E3;

$warrning-bg-color: #EB5757;

$approval-bg-color: #27AE60;

$warning-text-color: #EB5757;

$approval-text-color: #27AE60;

$ess-primary-text-color: #333;

$ess-secondary-text-color: #828282;

$primary-border-color: #E0E0E0;

$secondary-border-color: #333;

$facet-bg-color: #FAFAFA;

$arrow-bg-color: #A6A6A6;

$form-label-color: #757575;

$accordion-content-bg-color: #E0E0E0;

$thead-color: #757575;

$table-border-color: #eeeeee;

$review-bg-color: #BB6BD9;

$draft-bg-color: #8D8D8D;

$cancelled-bg-color: #F2C94C;

$submitted-bg-color: #2F80ED;

$rejected-bg-color: #EB5757;

$submenu-bg-color: #FAFAFA;

$modal-backdrop-color: rgba(255,255,255,.2);

$modal-content-bg: #FAFAFA;

$shadow-color: rgba(0,0,0,.2);

$shadow-light-color: rgba(0, 0, 0, 0.12);

$orcid-bg-color: #a6ce39;

$separators-color: #eeeeee;

$success-bg: #E1F0CE;

$success-color: #219653;
