@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
.content {
  padding-top: 117px;


  @include media('<phone') {
    padding-top: 102px;
  }
}

.border-bottom {
  padding-bottom: 20px;
  border-color: $light-grey-border-color;
}

.static-page{
  margin-top: 50px
}