.sections-block {
  border-top: 1px solid $secondary-border-color;
  color: $secondary-blue-text-color;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid $secondary-border-color;
    }
  }

}