//[data-widget-def="downloadCitationsWidget"].card {
//    padding: 0;
//    .article-info {
//        padding: 20px 20px 0 20px;
//    }
//    .citationFormats {
//        .citation-download {
//            .citation-msg {
//                padding: 0 20px 20px 20px;
//            }
//            .citation-form {
//                .select-container {
//                    padding-left: 20px;
//                }
//                .form-footer {
//                    padding-bottom: 20px;
//                }
//            }
//        }
//    }
//}

.citationFormats {

    label {
        font-size: 0.875rem;
        &.bold {
            font-weight: 600;
        }
    }

    h4 {
        margin-bottom: 22px;
        padding: 0 25px 0 0;
    }

    p {
        margin: 0;
        margin-bottom: 18px;
        padding-left: 0;
        padding-right: 14px;
    }

    a {
        color: $agu-branding;
    }

    .form-footer {
        @extend .clearfix;
        padding-right: 25px;
    }

    .btn {
        float: right;
        width: auto;
        padding: 12px 38px;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
}

.citation-content {

    .card {
        padding: 15px 0;
    }
    > div:nth-child(2) {
        line-height: 22px;
    }
}

.citation-msg, .select-container {
    border-bottom: 1px solid $borders;
    padding: 0 25px 25px 0;
    margin-bottom: 18px;

}

.citation-download .citation-msg {
    line-height: 22px;
}



.citation-right-side {
    margin-top: 21px;
    line-height: 22px;
    .rlist {
        li {
            margin-bottom: 22px;
        }
    }
}

.no-top-space {
    margin-top: 0;
}

.no-bottom-space {
    margin-bottom: 0;
}