.profile-menu {
  a {
    margin-left: 16px;
    span {
      font-weight: normal;
    }
    &.active {
      border-left:8px solid $secondary-color;
      padding-left: 6px;
      span {
        color: $secondary-color;
        font-weight:bold;
      }
    }
  }
}