.badge-type , .badge-fa{
    float: none;
    display: inline-block;
    background: $gray-light;
    color: $white
}
.issue-item{
    .badges{
        .badge-type{
            color: $white;
            text-transform: capitalize;
        }
    }
}