/***

small variant - `m-article--s`

```
<li class="m-article m-article--s">
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/

/***

medium variant no image - `m-article--m`

```
<li class="m-article m-article--m">
  <a href="#" class="m-article__type m-article__type--alt f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <span class="m-article__date a-type-tag a-type-tag--archive">Archive</span>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/

/***

medium variant with related - `m-article--m`

```
<li class="m-article m-article--m">
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
  <a href="#" class="m-article__related f-related">
    <strong>Editorial</strong> Sub-clinical Hyperthyroidism and Hyperthyroxinema in Pregnancy
  </a>
</li>
```

***/

/***

medium variant with subtype - `m-article--m`

```
<li class="m-article m-article--m">
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="#" class="m-article__subtype f-caps">The Changing Face of Clinical Trials</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/

/***

medium variant with image - `m-article--m`

```
<li class="m-article m-article--m">
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__img">
      <span class="m-article__img-container">
        <img src="http://placehold.dev.area17.com/image/300x200" sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16vw, (min-width: 1024px) 16vw, (min-width: 768px) 20vw, (min-width: 480px) 33vw, 33vw" width="300" height="200">
        <svg class="icon--audio" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--audio"></use></svg>
      </span>
    </span>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/

/***

medium variant with timestamp rather than icons - `m-article--m`

```
<li class="m-article m-article--m">
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="#" class="m-article__subtype f-caps">The Changing Face of Clinical Trials</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h5">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__time-stamp f-ui">13:12</span>
  </a>
</li>
```

***/

/***

medium variant with image, larger title, less content and an arrow on hover - `m-article--m m-article--with-arrow`

```
<li class="m-article m-article--m m-article--with-arrow">
  <a href="#" class="m-article__link">
    <strong class="m-article__title f-h4">Health and Policy Reform</strong> <br>
    <span class="m-article__img">
      <span class="m-article__img-container">
        <img src="http://placehold.dev.area17.com/image/600x400" sizes="(min-width: 1480px) 120px, (min-width: 1280px) 8.3vw, (min-width: 1024px) 8.3vw, (min-width: 768px) 12.5vw, (min-width: 480px) 16.67vw, calc(((100vw - 112px) / 6) * 2)">
      </span>
    </span>
    <span class="m-article__blurb f-blurb">Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.</span>
    <svg class="icon--arrow" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
  </a>
</li>
```

***/


/***

large variant - `m-article--l`

```
<li class="m-article m-article--l">
  <a href="#" class="m-article__img">
    <span class="m-article__img-container">
      <img src="http://placehold.dev.area17.com/image/300x200" sizes="(min-width: 1480px) 560px, (min-width: 1280px) 42vw, (min-width: 1024px) 42vw, (min-width: 768px) 62.5vw, (min-width: 480px) 100vw, 100vw" width="300" height="200">
    </span>
  </a>
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h4">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/

/***

large variant, no blurb - `m-article--l m-article--no-blurb`

```
<li class="m-article m-article--l m-article--no-blurb">
  <a href="#" class="m-article__img">
    <span class="m-article__img-container">
      <img src="http://placehold.dev.area17.com/image/300x200" sizes="(min-width: 1480px) 560px, (min-width: 1280px) 42vw, (min-width: 1024px) 42vw, (min-width: 768px) 62.5vw, (min-width: 480px) 100vw, 100vw" width="300" height="200">
    </span>
  </a>
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h4">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/


/***

xl variant - `m-article--xl`

```
<li class="m-article m-article--xl">
  <a href="#" class="m-article__img">
    <span class="m-article__img-container">
      <img src="http://placehold.dev.area17.com/image/300x200" sizes="(min-width: 1480px) 560px, (min-width: 1280px) 42vw, (min-width: 1024px) 42vw, (min-width: 768px) 62.5vw, (min-width: 480px) 100vw, 100vw" width="300" height="200">
    </span>
  </a>
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h3">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/



/***

xxl variant - `m-article--xxl`

```
<li class="m-article m-article--xxl">
  <a href="#" class="m-article__img">
    <span class="m-article__img-container">
      <img src="http://placehold.dev.area17.com/image/300x200" sizes="(min-width: 1480px) 560px, (min-width: 1280px) 42vw, (min-width: 1024px) 42vw, (min-width: 768px) 62.5vw, (min-width: 480px) 100vw, 100vw" width="300" height="200">
    </span>
  </a>
  <a href="#" class="m-article__type f-caps">Original Article</a> <br>
  <a href="/templates/article.php" class="m-article__link">
    <b class="m-article__title f-h2">Class aptent taciti sociosqu ad litora torquent per conubia nostra</b> <br>
    <em class="m-article__author f-author">Marcelino E.S. Lucas and others</em> <br>
    <span class="m-article__blurb f-blurb">
      Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
    </span>
    <em class="m-article__date f-tag">Nov 18</em>
    <span class="m-article__icons">
      <svg class="icon--video" data-behavior="ToolTip" data-tooltip="Quick Take" aria-hidden="true"><use xlink:href="#icon--video" /></svg>
      <svg class="icon--cme" aria-hidden="true"><use xlink:href="#icon--cme" /></svg>
    </span>
  </a>
</li>
```

***/
/***

```
<p class="m-article m-article--s">
  <span class="m-article__type f-caps">Original Article</span> <br>
  <strong class="m-article__title f-h4">Class aptent taciti sociosqu</strong> <br>
  <span class="m-article__img">
    <span class="m-article__img-container">
      <img srcset="http://placehold.dev.area17.com/image/300x200 300w, http://placehold.dev.area17.com/image/600x400 600w, http://placehold.dev.area17.com/image/800x533 800w, http://placehold.dev.area17.com/image/1000x667 1000w, http://placehold.dev.area17.com/image/1500x1000 1500w" sizes="(min-width: 1480px) 120px, (min-width: 1280px) 8.3vw, (min-width: 1024px) 8.3vw, (min-width: 768px) 12.5vw, (min-width: 480px) 16.67vw, calc(((100vw - 112px) / 6) * 2)">
    </span>
  </span>
  <span class="m-article__blurb f-body--sm">
   Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum. Proin eu tellus pulvinar, imperdiet mi eget, gravida enim.
  </span>
  <a class="m-article__footer f-ui" href="#">Join the dicussion</a>
</p>
```

***/

.m-article {
  display: block;
  position: relative;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 28px;
  border-top: 1px solid $color__rules;

  @include breakpoint('medium+') {
    padding-top: 19px;
  }
}

.m-article--no-icons {
  padding-bottom: 0;
}

.m-article--single {
  padding-top: 0;
  border-top: 0 none;
}

p.m-article:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0 none;
}

.m-article br {
  display: none;
}

.m-article .m-article__blurb br,
.m-article .m-article__footer br {
  display: inline;
}

.m-article__type,
.m-article__subtype {
  display: block;
  padding-bottom: 7px;
  color: $color__accent;

  @include breakpoint('small+') {
    padding-bottom: 8px;
  }
}


.m-article__subtype.f-caps{
  color: $color__text--quaternary;
  a{
    color: $color__link-primary;
    &:hover{
      color: $color__link-primary;
      text-decoration: underline;
    }
  }
}

.m-article__link .m-article__type:first-child {
  padding-bottom: 3px;

  @include breakpoint('small+') {
    padding-bottom: 4px;
  }
}

.m-article__type--alt {
  color: $color__text--quaternary;
}

.m-article__subtype {
  color: $color__link-primary;
}

.m-article__type ~ .m-article__subtype {
  margin-top: -8px;

  @include breakpoint('small+') {
    margin-top: -9px;
  }

  @include breakpoint('small+') {
    margin-top: -8px;
  }
}

a.m-article__type:hover,
a.m-article__subtype:hover {
  color: $color__accent;
  text-decoration: underline;
}

a.m-article__subtype:hover {
  color: $color__link-primary;
}

a.m-article__type--alt:hover {
  color: $color__text--quaternary;
}

.m-article__link {
  @include float-clear;
  display: block;
  padding-bottom: 8px;

  .m-article--no-icons & {
    padding-bottom: 0;
  }
}

.m-article__title {
  color: $color__text--headlines;
}

.m-article__title a{
  color: $color__text--headlines;
  &:hover {
    @include text-underline(1em);
    @include breakpoint('small+') {
      @include text-underline();
    }
  }
}

.m-article__title::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: -1px;
}

.m-article__img + .m-article__title::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 10px;

  @include breakpoint('medium+') {
    margin-top: 20px;
  }
}

.m-article__link:hover .m-article__title.f-h2 {
  @include text-underline(.85em);

  @include breakpoint('small+') {
    @include text-underline(.92em);
  }

  @include breakpoint('medium+') {
    @include text-underline(.92em);
  }

  @include breakpoint('large+') {
    @include text-underline(.85em);
  }
}

.m-article__link:hover .m-article__title.f-h3 {
  @include text-underline(.85em);

  @include breakpoint('medium+') {
    @include text-underline(.92em);
  }

  @include breakpoint('large+') {
    @include text-underline(.85em);
  }
}

.m-article__link:hover .m-article__title.f-h4 {
  @include text-underline(1em);

  @include breakpoint('small+') {
    @include text-underline(.85em);
  }
}

.m-article__link:hover .m-article__title.f-h5 {
  @include text-underline(1em);

  @include breakpoint('small+') {
    @include text-underline(.85em);
  }

  @include breakpoint('medium+') {
    @include text-underline(1em);
  }
}

.m-article__author {
  display: block;
  margin-top: 1px;
  color: $color__text--quaternary;

  @include breakpoint('small+') {
    margin-top: 0;
  }

  @include breakpoint('medium+') {
    margin-top: 1px;
  }
}

.m-article__title.f-h4 ~ .m-article__author {
  margin-top: 0;

  @include breakpoint('small+') {
    margin-top: 0;
  }

  @include breakpoint('medium+') {
    margin-top: 0;
  }
}

.m-article__blurb {
  display: block;
  margin-top: 8px;
  color: $color__text;
}

.m-article__blurb mark {
  background-color: transparent;
  color: $color__text--headlines;
  outline: none;
}

.m-article__icons {
  position: absolute;
  left: 0;
  right: 60px;
  bottom: 1px;
  height: 16px;
  color: $color__text--headlines;
  text-align: left;
}

.m-article__icons svg {
  height: 16px;
  margin-right: 9px;
}

.m-article__icons svg[data-behavior]:hover {
  opacity: .6;
}

.m-article__time-stamp {
  position: absolute;
  left: 0;
  right: 60px;
  bottom: 4px;
  height: 16px;
  color: $color__text--quaternary;
  text-align: left;
}

.m-article__date {
  position: absolute;
  right: 0;
  bottom: 0;
}

.m-article__date:not([class*=a-type-tag]) {
  color: $color__text--quaternary;
}

.m-article__date.a-type-tag {
  top: auto;
  bottom: -1px;
  margin: 0;
}

.m-article__img {
  @include ratio-image;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.m-article__related {
  display: block;
  margin-top: 12px;
  color: $color__link-primary;
}

.m-article__related strong {
  font-weight: 700;
}

.m-article__link .icon--arrow {
  position: absolute;
  right: 0;
  bottom: -1px;
  color: $color__text--headlines;
  opacity: 0;
}

.m-article__link:hover .icon--arrow {
  @include breakpoint('medium+') {
    opacity: 1;
  }
}

.m-article__footer {
  display: block;
  margin-top: 20px;
  color: $color__text--quaternary;

  & + & {
    margin-top: 12px;
  }
}

.m-article__footer.f-ui {
  color: $color__text--tertiary;
}

.m-article__footer strong {
  color: $color__text--headlines;
  font-weight: 700;
}

a.m-article__footer,
a.m-article__footer.f-ui {
  color: $color__link-primary;
}

a.m-article__footer:hover,
.m-article__footer a:hover {
  text-decoration: underline;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article--s
// m-article--m
//

.m-article--s .m-article__img,
.m-article--m .m-article__img {
  float: right;
  width: colspan(2, xsmall);
  margin-top: 12px;
  margin-bottom: map-get($inner-gutters, xsmall) / 2;
  margin-left: map-get($inner-gutters, xsmall) / 2;
  background-color: $color__background;
  overflow: hidden;

  @include breakpoint('small+') {
    width: colspan(1, small, map-get($inner-gutters, small));
    margin-bottom: map-get($inner-gutters, small) / 2;
    margin-left: map-get($inner-gutters, small) / 2;
  }

  @include breakpoint('medium+') {
    width: colspan(1, medium, map-get($inner-gutters, medium));
    margin-bottom: map-get($inner-gutters, medium) / 2;
    margin-left: map-get($inner-gutters, medium) / 2;
  }

  @include breakpoint('large+') {
    width: colspan(1, large, map-get($inner-gutters, large));
    margin-bottom: map-get($inner-gutters, large) / 2;
    margin-left: map-get($inner-gutters, large) / 2;
  }

  @include breakpoint('xlarge+') {
    width: colspan(1, xlarge, map-get($inner-gutters, xlarge));
    margin-bottom: map-get($inner-gutters, xlarge) / 2;
    margin-left: map-get($inner-gutters, xlarge) / 2;
  }

  @include breakpoint('xxlarge') {
    width: colspan(1, xxlarge, map-get($inner-gutters, xxlarge));
    margin-bottom: map-get($inner-gutters, xxlarge) / 2;
    margin-left: map-get($inner-gutters, xxlarge) / 2;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article--xxl
//

.m-article--xxl {
  text-align: center;

  .m-article__link {
    @include breakpoint('large') {
      padding-bottom: 40px;
    }
  }

  .m-article__type {
    margin-top: 20px;
    padding-bottom: 9px;

    @include breakpoint('small+') {
      padding-bottom: 10px;
    }

    @include breakpoint('medium+') {
      padding-bottom: 11px;
    }

    @include breakpoint('large+') {
      padding-bottom: 12px;
    }

    @include breakpoint('large') {
      margin-top: 36px;
    }
  }

  .m-article__type ~ .m-article__subtype {
    margin-top: -10px;
    padding-bottom: 9px;

    @include breakpoint('small+') {
      margin-top: -11px;
      padding-bottom: 10px;
    }

    @include breakpoint('medium+') {
      margin-top: -12px;
      padding-bottom: 11px;
    }

    @include breakpoint('large+') {
      margin-top: -13px;
      padding-bottom: 12px;
    }
  }

  .m-article__author {
    margin-top: 3px;

    @include breakpoint('small+') {
      margin-top: 2px;
    }

    @include breakpoint('medium+') {
      margin-top: 1px;
    }

    @include breakpoint('large+') {
      margin-top: 0;
    }
  }

  .m-article__blurb {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.m-article--xxl.m-article--no-blurb .m-article__link {
  padding-bottom: 28px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article--xl
//

.m-article--xl {

  .m-article__type {
    margin-top: 16px;
    padding-bottom: 8px;

    @include breakpoint('small+') {
      padding-bottom: 9px;
    }
  }

  .m-article__type ~ .m-article__subtype {
    margin-top: -9px;
    padding-bottom: 8px;

    @include breakpoint('small+') {
      margin-top: -10px;
      padding-bottom: 9px;
    }
  }

  .m-article__author {
    margin-top: 4px;

    @include breakpoint('small+') {
      margin-top: 3px;
    }
  }

  .m-article__blurb {
    margin-top: 4px;
  }
}

.m-article--xl.m-article--no-blurb .m-article__link {
  padding-bottom: 28px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article--l
//

.m-article--l {

  .m-article__type {
    margin-top: 20px;
    padding-bottom: 7px;

    @include breakpoint('small+') {
      padding-bottom: 9px;
    }

    @include breakpoint('medium+') {
      padding-bottom: 8px;
    }
  }

  .m-article__subtype {
    margin-top: -8px;
    padding-bottom: 7px;

    @include breakpoint('small+') {
      margin-top: -10px;
      padding-bottom: 9px;
    }

    @include breakpoint('small+') {
      margin-top: -9px;
      padding-bottom: 8px;
    }
  }

  .m-article__author {
    margin-top: 5px;

    @include breakpoint('small+') {
      margin-top: 3px;
    }

    @include breakpoint('small+') {
      margin-top: 4px;
    }
  }

  .m-article__blurb {
    margin-top: 12px;
  }

  .m-article__img svg:not(.icon--arrow-45deg) {
    @include breakpoint('medium+') {
      left: 36px;
      bottom: 36px;
      width: 32px;
      height: 32px;
      outline-width: 16px;
    }
  }
}

.m-article--l.m-article--no-blurb .m-article__link {
  padding-bottom: 28px;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article that is a .o-curated-area__col doesn't want top border and padding
//

.o-curated-area .o-curated-area__col.m-article {
  padding-bottom: 24px;
  border-top: 0 none;

  @include breakpoint('medium+') {
    margin-top: 0;
    padding-top: 0;
  }
}

.o-curated-area .o-curated-area__col.m-article:first-child {
  @include breakpoint('small-') {
    margin-top: 0;
    padding-top: 0;
  }
}

.o-curated-area .o-curated-area__col.m-article.m-article--with-arrow {
  padding-bottom: 0;

  @include breakpoint('medium+') {
    padding-bottom: 28px;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// m-article that is child of the primary or secondary columns
// so sort of orphaned some how
// has some spacing tweaks
//

.o-col--primary > .m-article:first-child,
.o-col--secondary > .m-article:first-child,
.o-col--secondary .o-cols-2\@medium > .m-article:first-child {
  margin-top: 0;
}


// .m-article {

//   &::before {
//     content: '-';
//     position: absolute;
//     z-index: 99;
//     left: 50%;
//     top: 50%;
//     color: green;
//     font-size: 40px;
//     line-height: 40px;
//     vertical-align: middle;
//     font-weight: bold;
//     transform: translate(-50%);
//     background-color: #fff;
//     padding: 10px 12px 6px;
//     border-radius: 5px;
//     box-shadow: 0 0 5px #333;
//   }
// }

// .m-article--xxl::before {
//   content: 'XXL';
// }

// .m-article--xl::before {
//   content: 'XL';
// }

// .m-article--l::before {
//   content: 'L';
// }

// .m-article--m::before {
//   content: 'M';
// }

// .m-article--s::before {
//   content: 'S';
// }
