/***

```

```

***/

.m-certif {
  margin-top:35px;
}

.m-certif-legend {
  position:absolute;
  left:15px;
  top:-9px;
  background:$color__white;
  padding:0 9px;
}

.m-certif-congrats {
  margin-top:-3px;
  white-space: nowrap;
  color: $color__accent;
  font-size: 15px;
}

.m-certif-message {
  text-align:center;
  position:relative;
  border:1px solid $color__rules;
  padding:30px 30px 20px 30px;

  @include breakpoint('medium+') {
    padding:50px 50px 40px 50px;
  }
}

.m-certif-intro,
.m-certif-name {
  display:block;
  color: $color__text--headlines;
}

.m-certif-name {
  margin:36px 0 42px 0;
}

.m-certif-intro {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: -1px;
  padding-top: 1px;
  text-transform: uppercase;
  letter-spacing: .12em;
  margin-top:26px;
}

.m-certif-exam {
  margin-top:40px;

  .f-author {
    color: $color__text--quaternary;
  }
}

.m-certif-examType {
  color: $color__accent;
}

.m-certif-examCitation {
  border-left:1px solid $color__rules;
  padding:0 0 0 10px;
  margin-left:8px;
}

.m-certif-footer {
  color: $color__text--quaternary;

  a {
    color: $color__text--headlines;
  }
}

.m-certif-examTitle {
  margin-top:5px;
  color: $color__text--headlines;
}
