/***

Optionally can be slightly more spaced out with modifier class of `.m-data-table--expanded`

```
<div class="m-data-table" id="t1">
   <p class="a-subtitle">Table&nbsp;1</p>
   <p class="m-data-table__caption">ST2 Levels on Day 14 after Transplantation in Three Cohorts of Patients.<a href="#t1fn1" data-behavior="ShowPopupTip" data-popup-content-ids="t1fn1">*</a></p>
   <div class="m-data-table__table-container">
      <table class="m-data-table__table" role="grid">
         <colgroup span="1">
            <col id="t1col1" width="19.60%" span="1">
            <col id="t1col2" width="16.67%" span="1">
            <col id="t1col3" width="9.85%" span="1">
            <col id="t1col4" width="18.14%" span="1">
            <col id="t1col5" width="10.38%" span="1">
            <col id="t1col6" width="17.08%" span="1">
            <col id="t1col7" width="8.28%" span="1">
         </colgroup>
         <thead class="m-data-table__thead">
            <tr class="m-data-table__row m-data-table__head1">
               <th class="m-data-table__entry m-data-table__txlx-borders" align="left" valign="bottom" rowspan="1" colspan="1">Condition</th>
               <th class="m-data-table__entry m-data-table__txxx-borders" align="center" valign="bottom" colspan="2" rowspan="1">Cohort 1 (N=95)</th>
               <th class="m-data-table__entry m-data-table__txxx-borders" align="center" valign="bottom" colspan="2" rowspan="1">Cohort 2 (N=110)</th>
               <th class="m-data-table__entry m-data-table__txxr-borders" align="center" valign="bottom" colspan="2" rowspan="1">Cohort 3 (N=107)</th>
            </tr>
            <tr class="m-data-table__row m-data-table__head2">
               <th class="m-data-table__entry m-data-table__xxlx-borders" align="left" rowspan="1" colspan="1"></th>
               <th class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">Median Values</th>
               <th class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">P Value</th>
               <th class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">Median Values</th>
               <th class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">P Value</th>
               <th class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">Median Values</th>
               <th class="m-data-table__entry m-data-table__xxxr-borders" align="center" valign="top" rowspan="1" colspan="1">P Value</th>
            </tr>
         </thead>
         <tbody class="m-data-table__tbody">
            <tr class="m-data-table__row">
               <td class="m-data-table__entry m-data-table__xxlx-borders m-data-table__hanging01 m-data-table__td--shading" align="left" valign="top" rowspan="1" colspan="1">TA-TMA vs. no TA-TMA</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">96.6 ng/ml vs. 53.4 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">0.02</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">199.7 ng/ml vs. 99.7 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">0.03</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">81.3 ng/ml vs. 40.3 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxr-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">&lt;0.001</td>
            </tr>
            <tr class="m-data-table__row">
               <td class="m-data-table__entry m-data-table__xxlx-borders m-data-table__hanging01" align="left" valign="top" rowspan="1" colspan="1">Acute GVHD vs. no acute GVHD</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">118.6 ng/ml vs. 58.3 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">0.29</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">112.2 ng/ml vs. 90.7 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">0.62</td>
               <td class="m-data-table__entry m-data-table__xxxx-borders" align="center" valign="top" rowspan="1" colspan="1">76.7 ng/ml vs. 49.7 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xxxr-borders" align="center" valign="top" rowspan="1" colspan="1">0.007</td>
            </tr>
            <tr class="m-data-table__row">
               <td class="m-data-table__entry m-data-table__xblx-borders m-data-table__hanging01 m-data-table__td--shading" align="left" valign="top" rowspan="1" colspan="1">Nonrelapse death vs. no nonrelapse death at 6 mo</td>
               <td class="m-data-table__entry m-data-table__xbxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">NA</td>
               <td class="m-data-table__entry m-data-table__xbxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">NA</td>
               <td class="m-data-table__entry m-data-table__xbxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">263.4 ng/ml vs. 104.9 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xbxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">0.009</td>
               <td class="m-data-table__entry m-data-table__xbxx-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">290.3 ng/ml vs. 50.7 ng/ml</td>
               <td class="m-data-table__entry m-data-table__xbxr-borders m-data-table__td--shading" align="center" valign="top" rowspan="1" colspan="1">0.001</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="m-data-table__foot">
      <div class="m-popup-tip-content" id="t1fn1">
            <p class="f-body--xs" id="d4e682">* Cohort 1 includes patients who had survived for at least 1 year after hematopoietic
            stem-cell transplantation (HSCT). Cohort 2 includes consecutive patients who had undergone
            HSCT from November 2010 through May 2014 who were not included in cohort 1. Cohort
            3 includes consecutive patients who had undergone HSCT from June 2014 through October
            2016 and who were not included in cohort 1. All the analyses were performed with the
            use of enzyme-linked immunosorbent assay (plasma R&amp;D Systems ELISA in cohorts 1 and
            3 and serum Critical Diagnostics ELISA in cohort 2). GVHD denotes graft-versus-host
            disease, NA not applicable, and TA-TMA transplant-associated thrombotic microangiopathy.
         </p>
      </div>
   </div>
</div>
```

***/

$indent: 10px;

.m-data-table {
  position: relative;
  margin-top: 20px;

  .a-article-h1--underline + & {
    margin-top: 0;
  }

  .m-intro-block + & {
    @include breakpoint('medium+') {
      margin-top: 46px;
    }
  }
}

.m-data-table__table-container {
  @extend %styled-scrollbars;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.m-data-table__table {
  display: table;
  width: 100%;
  min-width: 500px;
  margin: 0;
  border: 1px solid transparent;
  background-color: $color__white;
  color: $color__text;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

.m-data-table__caption {
  @include f-h6;
  margin: 0;
  padding: 11px $indent 13px;
  border-right: 1px solid $color__rules;
  border-left: 1px solid $color__rules;
  background-color: $color__background--table-caption;
  color: $color__text--headlines;
  text-align: left;

  @include breakpoint('small+') {
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.m-data-table th,
.m-data-table td {
  @include sans-serif(16, 24);
  min-width: 75px;
  padding: 4px $indent;
  border: 1px none $color__rules;

  @include breakpoint('medium+') {
    min-width: 100px;
  }
}

.m-data-table th[valign="top"],
.m-data-table td[valign="top"] {
  vertical-align: top;
}

.m-data-table th[valign="middle"],
.m-data-table td[valign="middle"] {
  vertical-align: middle;
}

.m-data-table th[valign="bottom"],
.m-data-table td[valign="bottom"] {
  vertical-align: bottom;
}

.m-data-table th[valign="baseline"],
.m-data-table td[valign="baseline"] {
  vertical-align: baseline;
}

.m-data-table--expanded th,
.m-data-table--expanded td {
  padding-top: 12px;
  padding-bottom: 12px;
}

// wow look at this...
// this stops items in the first column having padding left
// unless
// * it has a hanging class
// * it has a borders class that includes a left border
  .m-data-table th:first-child:not([class*=hanging]):not([class*=lx]):not([class*=lr]),
  .m-data-table td:first-child:not([class*=hanging]):not([class*=lx]):not([class*=lr]) {
  padding-left: 0;
}

.m-data-table th[class*=hanging],
.m-data-table td[class*=hanging] {
  min-width: 200px;

  @include breakpoint('medium+') {
    min-width: 250px;
  }
}

.m-data-table__thead th {
  color: $color__text;
}

.m-data-table__head1 th,
.m-data-table__head1 td {
  color: $color__text--headlines;
  font-weight: 700;
}

.m-data-table__head2 th,
.m-data-table__head2 td {
  color: $color__text--headlines;
}

.m-data-table__head1 + .m-data-table__head2 th,
.m-data-table__head1 + .m-data-table__head2 td {
  padding-top: 12px;
}

.m-data-table__head3 th,
.m-data-table__head3 td {
  //color: $color__text;
  color: $color__text--tertiary;
}

.m-data-table__tfoot th,
.m-data-table__tfoot td {
  border-top: 1px solid $color__rules;
  color: $color__text--headlines;
  font-weight: 700;
}

.m-data-table .m-data-table__td--shading {
  background-color: $color__background--contrast-row;
}

.m-data-table {
  .m-data-table__xxxx-borders {
    border-style: none;
  }

  .m-data-table__txxx-borders {
    padding-top: 3px;
    border-top-style: solid;
  }

  .m-data-table__xbxx-borders {
    padding-bottom: 3px;
    border-bottom-style: solid;
   }

  .m-data-table__xxlx-borders {
    border-left-style: solid;
  }

  .m-data-table__xxxr-borders {
    border-right-style: solid;
  }

  .m-data-table__tbxx-borders {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .m-data-table__txlx-borders {
    padding-top: 3px;
    border-top-style: solid;
    border-left-style: solid;
  }

  .m-data-table__txxr-borders {
    padding-top: 3px;
    border-top-style: solid;
    border-right-style: solid;
  }

  .m-data-table__xblx-borders {
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  .m-data-table__xbxr-borders {
    padding-bottom: 3px;
    border-right-style: solid;
    border-bottom-style: solid;
  }

  .m-data-table__xxlr-borders {
    border-right-style: solid;
    border-left-style: solid;
  }

  .m-data-table__tblx-borders {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  .m-data-table__tbxr-borders {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
  }

  .m-data-table__txlr-borders {
    padding-top: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
  }

  .m-data-table__xblr-borders {
    padding-bottom: 3px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  }

  .m-data-table__tblr-borders {
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
  }

  .m-data-table__hanging01 {
    padding-left: 25px;
    text-indent: -15px;
  }

  .m-data-table__hanging02 {
    padding-left: 40px;
    text-indent: -30px;
  }

  .m-data-table__hanging03 {
    padding-left: 55px;
    text-indent: -45px;
  }

  .m-data-table__hanging04 {
    padding-left: 70px;
    text-indent: -60px;
  }

  .m-data-table__hanging12 {
    padding-left: 40px;
    text-indent: -15px;
  }

  .m-data-table__hanging13 {
    padding-left: 55px;
    text-indent: -30px;
  }

  .m-data-table__hanging14 {
    padding-left: 70px;
    text-indent: -45px;
  }

  .m-data-table__hanging23 {
    padding-left: 55px;
    text-indent: -15px;
  }

  .m-data-table__hanging24 {
    padding-left: 70px;
    text-indent: -30px;
  }

  .m-data-table__hanging34 {
    padding-left: 70px;
    text-indent: -15px;
  }
}

.m-data-table--expanded {
  .m-data-table__txxx-borders,
  .m-data-table__tbxx-borders,
  .m-data-table__txlx-borders,
  .m-data-table__txxr-borders,
  .m-data-table__tblx-borders,
  .m-data-table__tbxr-borders,
  .m-data-table__xblr-borders,
  .m-data-table__tblr-borders {
    padding-top: 11px;
  }

  .m-data-table__xbxx-borders,
  .m-data-table__tbxx-borders,
  .m-data-table__xblx-borders,
  .m-data-table__xbxr-borders,
  .m-data-table__tblx-borders,
  .m-data-table__tbxr-borders,
  .m-data-table__xblr-borders,
  .m-data-table__tblr-borders {
    padding-bottom: 11px;
  }
}

.m-data-table th h1,
.m-data-table th h2,
.m-data-table th h3,
.m-data-table th p,
.m-data-table th ul,
.m-data-table th ol,
.m-data-table th dl,
.m-data-table td h1,
.m-data-table td h2,
.m-data-table td h3,
.m-data-table td p,
.m-data-table td ul,
.m-data-table td ol,
.m-data-table td dl {
  @include sans-serif(16, 24);
}
