/***

```
<div class="m-image-link">
  <a href="#">
    <img src="http://placehold.dev.area17.com/image/600x400">
  </a>
</div>
```

***/

.m-image-link {
  display: block;
  padding: 12px;
}

.m-image-link a {
  @include ratio-image(1, 1, 'center center');
}

.m-image-link.s-active a::after,
.m-image-link a:hover::after {
  content: '';
  position: absolute;
  left: -12px;
  right: -12px;
  top: -12px;
  bottom: -12px;
  border: 1px solid $color__text--headlines;
}
