/***

```
<section class="m-letter">
  <h2 class="a-article-h2 a-article-h2--proud f-h12">To the Editor</h2>
  <p class="f-body">Pellentesque efficitur massa nec ex porttitor mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel sodales nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec iaculis condimentum enim in iaculis. Praesent condimentum maximus turpis ut scelerisque. Cras facilisis libero vitae nisi lacinia malesuada. Nulla convallis velit et facilisis lacinia.</p>
  <p class="f-body">Sed vehicula tincidunt enim eget viverra. Fusce lobortis turpis sit amet sagittis tincidunt. Nunc purus nulla, laoreet ut placerat a, pellentesque imperdiet nunc. Vivamus ullamcorper non est vitae porta. Nulla volutpat ornare pharetra. Nam vestibulum dui non ligula vehicula, in blandit eros auctor. Nulla aliquam eros quis velit bibendum, et blandit lacus varius. Proin non risus velit. Mauris sagittis condimentum velit. Quisque vel lorem vitae velit tristique dictum. Donec a ex accumsan, sodales magna at, porta nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate ante eget dolor tempor, eu semper eros bibendum. Integer vehicula enim nisl. Pellentesque porttitor sapien vitae metus semper, suscipit interdum felis placerat. Donec id eros ut odio eleifend aliquam a quis quam.</p>
  <p class="f-body">
    James B. Bowman, III, M.D.<br>
    Personal Heath Care Alternatives Group, Rockville, MD<br>
    <a href="mailto:jimbowend@yahoo.com">jimbowend@yahoo.com</a>
  </p>
  <p class="f-body"><em>No potential conflict of interest relevant to this letter was reported.</em></p>
</section>
```

***/

/***

With header:

```
<section class="m-letter">
  <header class="m-letter__header">
    <p class="m-letter__type f-caps">Correspondence</p>
    <h2 class="m-letter__title f-h5">Antidrug Antibodies in Patients Treated with Alirocummab</h2>
    <p class="m-letter__authors f-author">J.M Beaten and Others</p>
  </header>
  <p class="f-body">Pellentesque efficitur massa nec ex porttitor mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel sodales nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec iaculis condimentum enim in iaculis. Praesent condimentum maximus turpis ut scelerisque. Cras facilisis libero vitae nisi lacinia malesuada. Nulla convallis velit et facilisis lacinia.</p>
  <p class="f-body">Sed vehicula tincidunt enim eget viverra. Fusce lobortis turpis sit amet sagittis tincidunt. Nunc purus nulla, laoreet ut placerat a, pellentesque imperdiet nunc. Vivamus ullamcorper non est vitae porta. Nulla volutpat ornare pharetra. Nam vestibulum dui non ligula vehicula, in blandit eros auctor. Nulla aliquam eros quis velit bibendum, et blandit lacus varius. Proin non risus velit. Mauris sagittis condimentum velit. Quisque vel lorem vitae velit tristique dictum. Donec a ex accumsan, sodales magna at, porta nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate ante eget dolor tempor, eu semper eros bibendum. Integer vehicula enim nisl. Pellentesque porttitor sapien vitae metus semper, suscipit interdum felis placerat. Donec id eros ut odio eleifend aliquam a quis quam.</p>
  <p class="f-body">
    James B. Bowman, III, M.D.<br>
    Personal Heath Care Alternatives Group, Rockville, MD<br>
    <a href="mailto:jimbowend@yahoo.com">jimbowend@yahoo.com</a>
  </p>
  <p class="f-body"><em>No potential conflict of interest relevant to this letter was reported.</em></p>
</section>
```

***/

/***

Variant "boxed" using `m-boxed-text m-boxed-text--positioned-title`:

```
<section class="m-letter m-boxed-text m-boxed-text--positioned-title">
  <h2 class="a-article-h2 f-h12">The editorialist replies</h2>
  <p class="f-body">Pellentesque efficitur massa nec ex porttitor mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel sodales nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec iaculis condimentum enim in iaculis. Praesent condimentum maximus turpis ut scelerisque. Cras facilisis libero vitae nisi lacinia malesuada. Nulla convallis velit et facilisis lacinia.</p>
  <p class="f-body">Sed vehicula tincidunt enim eget viverra. Fusce lobortis turpis sit amet sagittis tincidunt. Nunc purus nulla, laoreet ut placerat a, pellentesque imperdiet nunc. Vivamus ullamcorper non est vitae porta. Nulla volutpat ornare pharetra. Nam vestibulum dui non ligula vehicula, in blandit eros auctor. Nulla aliquam eros quis velit bibendum, et blandit lacus varius. Proin non risus velit. Mauris sagittis condimentum velit. Quisque vel lorem vitae velit tristique dictum. Donec a ex accumsan, sodales magna at, porta nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vulputate ante eget dolor tempor, eu semper eros bibendum. Integer vehicula enim nisl. Pellentesque porttitor sapien vitae metus semper, suscipit interdum felis placerat. Donec id eros ut odio eleifend aliquam a quis quam.</p>
  <p class="f-body">
    James B. Bowman, III, M.D.<br>
    Personal Heath Care Alternatives Group, Rockville, MD<br>
    <a href="mailto:jimbowend@yahoo.com">jimbowend@yahoo.com</a>
  </p>
  <p class="f-body"><em>No potential conflict of interest relevant to this letter was reported.</em></p>
</section>
```

***/

.m-letter {
  position: relative;
  margin-top: 28px;
  padding-top: 28px;
}

.m-letter:first-of-type {
  margin-top: 0;
}

.m-letter.m-boxed-text {
  margin-top: 40px;
}

.m-letter:not(:first-of-type):not(.m-boxed-text)::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules;
}

.m-letter .a-article-h2:first-child {
  margin-top: 0;
}

.m-letter__type {
  margin-top: 0;
  color: $color__accent;
}

.m-letter__title {
  margin-top: 4px;
  color: $color__text--headlines;
}

.m-letter__authors {
  margin-top: 8px;
  color: $color__text--quaternary;
}
