/***

Defaults variable height

```
<div class="m-media-holder">
  <img srcset="http://placehold.dev.area17.com/image/1600x1200?bg=ff3300&fg=ffffff&text=image 1600w" sizes="(min-width: 1480px) 800px, (min-width: 1280px) calc(((100vw - 520px) / 12) * 7), (min-width: 1024px) calc(((100vw - 390px) / 12) * 7), (min-width: 768px) calc(((100vw - 270px) / 7) * 2), (min-width: 480px) calc(100vw - 40px), calc(100vw - 32px)">
</div>
```

***/
/***

Optional 16:9 scaling, for use with videos

```
<div class="m-media-holder m-media-holder--16-9">
  <div class="m-media-holder__container">
    <img srcset="http://placehold.dev.area17.com/image/1600x900?text=Video%20Poster 1600w" sizes="(min-width: 1480px) 800px, (min-width: 1280px) calc(((100vw - 520px) / 12) * 7), (min-width: 1024px) calc(((100vw - 390px) / 12) * 7), (min-width: 768px) calc(((100vw - 270px) / 7) * 2), (min-width: 480px) calc(100vw - 40px), calc(100vw - 32px)">
  </div>
  <button class="m-media-holder__play-btn" aria-label="Play" title="Play"><svg class="icon--play" aria-hidden="true"><use xlink:href="#icon--play" /></svg></button>
</div>
```

***/
/***

Optional 4:3 scaling, for use with videos

```
<div class="m-media-holder m-media-holder--4-3">
  <div class="m-media-holder__container">
    <img srcset="http://placehold.dev.area17.com/image/1600x900?text=Video%20Poster 1600w" sizes="(min-width: 1480px) 800px, (min-width: 1280px) calc(((100vw - 520px) / 12) * 7), (min-width: 1024px) calc(((100vw - 390px) / 12) * 7), (min-width: 768px) calc(((100vw - 270px) / 7) * 2), (min-width: 480px) calc(100vw - 40px), calc(100vw - 32px)">
  </div>
  <button class="m-media-holder__play-btn" aria-label="Play" title="Play"><svg class="icon--play" aria-hidden="true"><use xlink:href="#icon--play" /></svg></button>
</div>
```

***/

.m-media-holder {
  position: relative;
  margin-top: 28px;
  background-color: $color__rules;
}

.m-media-holder:first-child {
  margin-top: 0;
}

.m-collapsible__content .m-media-holder:first-child {
  margin-top: 28px;
}

.m-media-holder--16-9 {
  height: 0;
  padding-bottom: (9/16 * 100%);
}

.m-media-holder--4-3 {
  height: 0;
  padding-bottom: (3/4 * 100%);
}

.m-media-holder img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.m-media-holder__container,
.m-media-holder__container img,
.m-media-holder__container video,
.m-media-holder__container embed,
.m-media-holder button,
.m-media-holder button::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}

.m-media-holder__container img,
.m-media-holder__container video,
.m-media-holder__play-btn {
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

.m-media-holder__container img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

.m-media-holder__play-btn {
  display: block;
  border: 0 none;
  cursor: pointer;
}

.m-media-holder__play-btn::before {
  content: '';
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
  opacity: 0;
  transition: opacity .2s linear;
}

.m-media-holder__play-btn:hover::before {
  opacity: 1;
}

.m-media-holder__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  padding: 24px;
  background-color: $color__text--headlines;
  color: $color__white;

  @include breakpoint('medium+') {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    border-width: 24px;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}


/***

Variant `m-media-holder--tease`

```
<div class="m-media-holder m-media-holder--16-9 m-media-holder--tease">
  <div class="m-media-holder__container">
    <img srcset="http://placehold.dev.area17.com/image/1600x900?text=Video%20Poster 1600w" sizes="(min-width: 1480px) 800px, (min-width: 1280px) calc(((100vw - 520px) / 12) * 7), (min-width: 1024px) calc(((100vw - 390px) / 12) * 7), (min-width: 768px) calc(((100vw - 270px) / 7) * 2), (min-width: 480px) calc(100vw - 40px), calc(100vw - 32px)">
  </div>
  <span class="m-media-holder__play-btn" aria-label="Play" title="Play"><svg class="icon--play" aria-hidden="true"><use xlink:href="#icon--play" /></svg></span>
</div>
```

***/

.m-media-holder--tease,
.m-media-holder--tease::before {
  pointer-events: none;
}

.m-media-holder--tease::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color__white;
  opacity: .5;
}
