/***

```
<div class="m-media-item">
  <a href="#" class="m-media-item__link">
    <span class="m-media-item__img">
      <span class="m-media-item__img-container">
        <img
          srcset="http://placehold.dev.area17.com/image/300x200 300w"
          sizes="
            (min-width: 1480px) 200px,
            (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
            (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
            (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
            (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
            calc(((100vw - 112px) / 6) * 2)
        "
        width="300">
      </span>
      <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
    </span>
    <span class="m-media-item__meta">
      <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
      <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
    </span>
  </a>
</div>
```

***/

.m-media-item {
  display: block;
  position: relative;
  margin-top: 28px;
  padding-top: 28px;
}

.m-media-item::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules;
}

.m-media-item:first-child {
  margin-top: 0;
  padding-top: 0;
}

.m-media-item:first-child::before {
  content: none;
  display: none;
}

.m-media-item__link {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: flex-start;
}

.m-media-item__img {
  @include ratio-image;
  display: block;
  flex: 0 0 auto;
  width: colspan(2, xsmall);
  margin-top: 4px;
  margin-right: map-get($inner-gutters, xsmall);
  overflow: hidden;

  @include breakpoint('small+') {
    width: colspan(2, small);
    margin-right: map-get($inner-gutters, small);
  }

  @include breakpoint('medium+') {
    width: colspan(2, medium);
    margin-right: map-get($inner-gutters, medium);
  }

  @include breakpoint('large+') {
    width: colspan(2, large);
    margin-right: map-get($inner-gutters, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(2, xlarge);
    margin-right: map-get($inner-gutters, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(2, xxlarge);
    margin-right: map-get($inner-gutters, xxlarge);
  }
}

.m-media-item__meta + .m-media-item__img {
  margin-right:0;
  margin-left: map-get($inner-gutters, xsmall);

  @include breakpoint('small+') {
    margin-right:0;
    margin-left: map-get($inner-gutters, small);
  }

  @include breakpoint('medium+') {
    margin-right:0;
    margin-left: map-get($inner-gutters, medium);
  }

  @include breakpoint('large+') {
    margin-right:0;
    margin-left: map-get($inner-gutters, large);
  }

  @include breakpoint('xlarge+') {
    margin-right:0;
    margin-left: map-get($inner-gutters, xlarge);
  }

  @include breakpoint('xxlarge') {
    margin-right:0;
    margin-left: map-get($inner-gutters, xxlarge);
  }
}

.m-media-item__icon-square {
  display: block;
  position: relative;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  margin-top: 4px;
  margin-right: 20px;
  background-color: $color__background;
  overflow: hidden;
}

.m-media-item__icon-square svg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  color: $color__text--tertiary;
}

.m-media-item__meta {
  display: block;
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 20px;
}

.m-media-item br {
  display: none;
}

.m-media-item__type {
  display: block;
  color: $color__accent;
}

.m-media-item__title {
  display: block;
  color: $color__text--tertiary;
}

  .m-media-item__title.f-author {
    color: $color__text--tertiary;
  }

  .m-media-item__type ~ .m-media-item__title {
    padding-top: 4px;
  }

  .m-media-item__link:hover .m-media-item__title {
    text-decoration: underline;
  }

.m-media-item__meta:not(.f-author) .m-media-item__title.f-h11{
  color: $color__text--headlines;
}

.m-media-item__desc {
  display: block;
  margin-top: 4px;
  color: $color__text--quaternary;
}

.m-media-item__timestamp {
  display: block;
  //position: absolute;
  //left: 0;
  //bottom: -4px;
  color: $color__text--quaternary;
}

  .m-cta .m-media-item__timestamp.f-author {
    color: $color__text--quaternary;
  }

.m-media-item__link-secondary {
  position: absolute;
  left: colspan(2, xsmall, map-get($inner-gutters, xsmall));
  bottom: -8px;
  color: $color__link-primary;

  @include breakpoint('small+') {
    left: colspan(1, small, map-get($inner-gutters, small));
  }

  @include breakpoint('medium+') {
    left: colspan(2, medium, map-get($inner-gutters, medium));
  }

  @include breakpoint('large+') {
    left: colspan(2, large, map-get($inner-gutters, large));
  }

  @include breakpoint('xlarge+') {
    left: colspan(2, xlarge, map-get($inner-gutters, xlarge));
  }

  @include breakpoint('xxlarge') {
    left: colspan(2, xxlarge, map-get($inner-gutters, xxlarge));
  }

  &:hover {
    text-decoration: underline;
  }

  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    color: $color__text--quaternary;
    vertical-align: middle;
  }

  svg.icon--download {
    position: relative;
    top: -2px;
  }
}

/***

inside a '.o-colset-1-2-3.o-colset-1-2-3--gridlines'

```
<ul class="o-colset-1-2-3 o-colset-1-2-3--gridlines">
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
  <li class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc(((100vw - 520px) / 12) * 2),
              (min-width: 1024px) calc(((100vw - 390px) / 12) * 2),
              (min-width: 768px) calc(((100vw - 270px) / 8) * 2),
              (min-width: 480px) calc(((100vw - 140px) / 6) * 2),
              calc(((100vw - 112px) / 6) * 2)
          "
          width="300">
        </span>
        <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-h11">Vivamus lobortis dui vitae turpis mattis dignissim</strong> <br>
        <span class="m-media-item__desc f-ui">Morbi vestibulum enim vitae pretium ultrices. In ex justo, dapibus a iaculis quis, ornare pellentesque mauris.</span>
      </span>
    </a>
  </li>
</ul>
```

***/

.o-colset-1-2-3 > .o-col.m-media-item,
.o-colset-1-2 .o-col--primary .o-colset-1-2-3--gridlines > .o-col.m-media-item:nth-child(3) {
  margin-top: 20px;
  padding-top: 0;

  @include breakpoint('medium+') {
    margin-top: 20px;
    padding-top: 0;
  }
}

.o-colset-1-2-3--gridlines > .o-col.m-media-item::before {
  position: static;
}

.o-colset-1-2-3--gridlines > .o-col.m-media-item::after {
  @include breakpoint('medium+') {
    content: '';
    position: absolute;
    right: map-get($inner-gutters, medium) / -2;
    top: 24px;
    bottom: 0;
    width: 1px;
    background-color: $color__rules;
  }

  @include breakpoint('large+') {
    right: map-get($inner-gutters, large) / -2;
  }

  @include breakpoint('xlarge+') {
    right: map-get($inner-gutters, xlarge) / -2;
  }

  @include breakpoint('xxlarge') {
    right: map-get($inner-gutters, xxlarge) / -2;
  }
}

.o-colset-1-2-3--gridlines > .o-col.m-media-item:nth-child(2n)::after {
  @include breakpoint('medium') {
    content: none;
    display: none;
  }
}

.o-colset-1-2-3--gridlines > .o-col.m-media-item:nth-child(3n)::after {
  @include breakpoint('large+') {
    content: none;
    display: none;
  }
}

.o-col--primary .o-colset-1-2-3--gridlines > .o-col:nth-child(3n)::after {
  @include breakpoint('large+') {
    content: '';
    display: block;
  }
}

.o-col--primary .o-colset-1-2-3--gridlines > .o-col:nth-child(2n)::after {
  @include breakpoint('large+') {
    content: none;
    display: none;
  }
}

/***

Variant `m-media-item--img-thumb` has a smaller thumb image

```
<div class="m-media-item m-media-item--img-thumb">
  <a href="#" class="m-media-item__link">
    <span class="m-media-item__img">
      <span class="m-media-item__img-container">
        <img
          srcset="http://placehold.dev.area17.com/image/300x200 300w"
          sizes="(min-width: 1480px) 120px, (min-width: 1280px) 10vw, (min-width: 1024px) 10vw, (min-width: 768px) 12vw, (min-width: 480px) 15vw, 33.33vw"
        >
      </span>
      <svg class="icon--interactive" aria-hidden="true"><use xlink:href="#icon--interactive" /></svg>
    </span>
    <span class="m-media-item__meta f-h6">
      <strong class="m-media-item__title">Itching for a Diagnosis</strong>
    </span>
  </a>
</div>
```

***/

.m-media-item--img-thumb {
  margin-top: 20px;
  padding-top: 20px;

  @include breakpoint('xsmall') {
    margin-top: 20px;
    padding-top: 0;
  }
}

.m-media-item--img-thumb .m-media-item__img {
  width: colspan(2, xsmall);
  margin-right: map-get($inner-gutters, xsmall);

  @include breakpoint('small+') {
    width: colspan(1, small);
    margin-right: map-get($inner-gutters, small);
  }

  @include breakpoint('medium+') {
    width: colspan(1, medium, map-get($inner-gutters, medium));
    margin-right: 20px;
  }

  @include breakpoint('large+') {
    width: colspan(1, large, map-get($inner-gutters, large));
    margin-right: 20px;
  }

  @include breakpoint('xlarge+') {
    width: colspan(1, xlarge, map-get($inner-gutters, xlarge));
    margin-right: 20px;
  }

  @include breakpoint('xxlarge') {
    width: colspan(1, xxlarge, map-get($inner-gutters, xxlarge));
    margin-right: 20px;
  }
}

.m-media-item--img-thumb .m-media-item__img svg {
  display: none;

  @include breakpoint('medium+') {
    display: block;
  }
}

.m-media-item--img-thumb .m-media-item__meta {
  padding-bottom: 0;
}

.m-media-item--img-thumb .m-media-item__link-secondary {
  left: colspan(2, xsmall, map-get($inner-gutters, xsmall));

  @include breakpoint('small+') {
    left: colspan(1, small, map-get($inner-gutters, small));
  }

  @include breakpoint('medium+') {
    left: colspan(1, medium, map-get($inner-gutters, medium) + 20px);
  }

  @include breakpoint('large+') {
    left: colspan(1, large, map-get($inner-gutters, large) + 20px);
  }

  @include breakpoint('xlarge+') {
    left: colspan(1, xlarge, map-get($inner-gutters, xlarge) + 20px);
  }

  @include breakpoint('xxlarge') {
    left: colspan(1, xxlarge, map-get($inner-gutters, xxlarge) + 20px);
  }
}

/***

inside a '.o-colset-1-2-3.o-colset-1-2-3--gridlines' the size of the thumbnail is a little larger

```
<ul class="o-colset-1-2-3 o-colset-1-2-3--gridlines">
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
  <li class="o-col m-media-item m-media-item--img-thumb">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="(min-width: 1480px) 200px, (min-width: 1280px) 16.667vw, (min-width: 1024px) 16.667vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 33.33vw"
          >
        </span>
      </span>
      <span class="m-media-item__meta f-h8">
        <strong class="m-media-item__title">Nunc sodales diam est</strong>
      </span>
    </a>
  </li>
</ul>
```

***/

.o-colset-1-2-3 .m-media-item--img-thumb .m-media-item__img {

  @include breakpoint('small+') {
    width: colspan(2, small);
    margin-right: map-get($inner-gutters, small);
  }

  @include breakpoint('medium+') {
    width: colspan(2, medium);
    margin-right: map-get($inner-gutters, medium);
  }

  @include breakpoint('large+') {
    width: colspan(2, large);
    margin-right: map-get($inner-gutters, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(2, xlarge);
    margin-right: map-get($inner-gutters, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(2, xxlarge);
    margin-right: map-get($inner-gutters, xxlarge);
  }

}

.o-colset-1-2-3 .m-media-item--img-thumb .m-media-item__link-secondary {
  left: colspan(2, xsmall, map-get($inner-gutters, xsmall));

  @include breakpoint('small+') {
    left: colspan(2, small, map-get($inner-gutters, small));
  }

  @include breakpoint('medium+') {
    left: colspan(2, medium, map-get($inner-gutters, medium));
  }

  @include breakpoint('large+') {
    left: colspan(2, large, map-get($inner-gutters, large));
  }

  @include breakpoint('xlarge+') {
    left: colspan(2, xlarge, map-get($inner-gutters, xlarge));
  }

  @include breakpoint('xxlarge') {
    left: colspan(2, xxlarge, map-get($inner-gutters, xxlarge));
  }
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// inside a curated area items
//

.o-curated-area__col-items > .m-media-item--img-thumb {
  padding-top: 16px;
}



/***

Appears slightly different in `.m-cta`, with slightly updated HTML

```
<aside class="m-cta">
  <h3 class="a-subtitle a-subtitle--alt">Audio Interview</h3>
  <p class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc((((100vw - 520px) / 12) * 2) + 40px),
              (min-width: 1024px) calc((((100vw - 390px) / 12) * 2) + 30px),
              (min-width: 768px) calc((((100vw - 270px) / 8) * 2) + 30px),
              (min-width: 480px) calc((((100vw - 140px) / 6) * 1) + 20px),
              calc((((100% - 112px) / 6) * 2) + 16px)
          ">
        </span>
        <svg class="icon--audio" aria-hidden="true"><use xlink:href="#icon--audio" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-author">Semaglutide and Cardiovascular Risks.</strong> <br>
        <em class="m-media-item__timestamp f-author">(13:12)</em>
      </span>
    </a>
  </p>
</aside>
```

***/

.m-cta .m-media-item {
  @include breakpoint('medium') {
    padding-bottom: 8px;
  }
}

.m-cta .a-subtitle + .m-media-item,
.m-cta .m-media-item:first-child {
  margin-top: 16px;
  padding-top: 0;
}

.m-cta .m-media-item:first-child {
  margin-top: 0;

  @include breakpoint('small+') {
    margin-top: 0;
  }
}

.m-cta__items .m-media-item {
  margin-top: 20px;
  padding-top: 20px;
}

.m-cta .a-subtitle + .m-media-item::before,
.m-cta .m-media-item:first-child::before {
  content: '';
  display: none;
}

.m-cta .m-media-item--icon-square .m-media-item__link {
  align-items: stretch;
}

.m-cta .m-media-item__title,
.m-cta .m-media-item__timestamp {
  display: inline;
  position: static;
}

.m-cta .m-media-item--icon-square .m-media-item__timestamp {
  position: relative;
  display:block;
}

.m-cta .m-media-item__img {
  width: colspan(2, xsmall);
  margin-right: map-get($inner-gutters, xsmall);

  @include breakpoint('small+') {
    width: colspan(1, small, map-get($inner-gutters, small));
    margin-right: 20px;
  }

  @include breakpoint('medium+') {
    width: colspan(2, medium);
    margin-right: 20px;
  }

  @include breakpoint('large+') {
    width: colspan(2, large);
    margin-right: 20px;
  }

  @include breakpoint('xlarge+') {
    width: colspan(2, xlarge);
    margin-right: 20px;
  }

  @include breakpoint('xxlarge') {
    width: colspan(2, xxlarge);
    margin-right: 20px;
  }
}

.m-cta .m-media-item__img svg {
  display: none;

  @include breakpoint('medium+') {
    display: block;
  }
}

.m-cta .m-media-item__link-secondary {
  left: colspan(2, xsmall, map-get($inner-gutters, xsmall));

  @include breakpoint('small+') {
    left: colspan(1, small, map-get($inner-gutters, small));
  }

  @include breakpoint('medium+') {
    left: colspan(2, medium, 20px);
  }

  @include breakpoint('large+') {
    left: colspan(2, large, 20px);
  }

  @include breakpoint('xlarge+') {
    left: colspan(2, xlarge, 20px);
  }

  @include breakpoint('xxlarge') {
    left: colspan(2, xxlarge, 20px);
  }
}


/***

Can optionally have a narrow image in `.m-cta`, with a modifier class of `m-media-item--narrow-img`:

```
<aside class="m-cta">
  <h3 class="a-subtitle a-subtitle--alt">Audio Interview</h3>
  <p class="m-media-item m-media-item--narrow-img">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc((((100vw - 520px) / 12) * 2) + 40px),
              (min-width: 1024px) calc((((100vw - 390px) / 12) * 2) + 30px),
              (min-width: 768px) calc((((100vw - 270px) / 8) * 2) + 30px),
              (min-width: 480px) calc((((100vw - 140px) / 6) * 1) + 20px),
              calc((((100% - 112px) / 6) * 2) + 16px)
          ">
        </span>
        <svg class="icon--audio" aria-hidden="true"><use xlink:href="#icon--audio" /></svg>
      </span>
      <span class="m-media-item__meta">
        <strong class="m-media-item__title f-author">Semaglutide and Cardiovascular Risks.</strong> <br>
        <em class="m-media-item__timestamp f-author">(13:12)</em>
      </span>
    </a>
  </p>
</aside>
```

***/

.m-cta .m-media-item--narrow-img .m-media-item__img {

  @include breakpoint('medium+') {
    width: colspan(1, medium, map-get($inner-gutters, medium));
  }

  @include breakpoint('large+') {
    width: colspan(1, large, map-get($inner-gutters, large));
  }

  @include breakpoint('xlarge+') {
    width: colspan(1, xlarge, map-get($inner-gutters, xlarge));
  }

  @include breakpoint('xxlarge') {
    width: colspan(1, xxlarge, map-get($inner-gutters, xxlarge));
  }
}

.m-cta .m-media-item--narrow-img .m-media-item__link-secondary {

  @include breakpoint('medium+') {
    left: colspan(1, medium, map-get($inner-gutters, medium) + 20px);
  }

  @include breakpoint('large+') {
    left: colspan(1, large, map-get($inner-gutters, large) + 20px);
  }

  @include breakpoint('xlarge+') {
    left: colspan(1, xlarge, map-get($inner-gutters, xlarge) + 20px);
  }

  @include breakpoint('xxlarge') {
    left: colspan(1, xxlarge, map-get($inner-gutters, xxlarge) + 20px);
  }
}

/***

Appears slightly different in `.m-cta.m-cta--full-width`, with slightly updated HTML

```
<aside class="m-cta m-cta--full-width">
  <p class="m-media-item">
    <a href="#" class="m-media-item__link">
      <span class="m-media-item__img">
        <span class="m-media-item__img-container">
          <img
            srcset="http://placehold.dev.area17.com/image/300x200 300w"
            sizes="
              (min-width: 1480px) 200px,
              (min-width: 1280px) calc((((100vw - 520px) / 12) * 2) + 40px),
              (min-width: 1024px) calc((((100vw - 390px) / 12) * 2) + 30px),
              (min-width: 768px) calc((((100vw - 270px) / 8) * 2) + 30px),
              (min-width: 480px) calc((((100vw - 140px) / 6) * 2) + 20px),
              calc((((100% - 112px) / 6) * 2) + 16px)
          ">
        </span>
        <svg class="icon--audio" aria-hidden="true"><use xlink:href="#icon--audio" /></svg>
      </span>
      <span class="m-media-item__meta">
        <span class="m-media-item__type f-caps">Quick Take</span> <br>
        <strong class="m-media-item__title f-h8">Semaglutide and Cardiovascular Risks</strong> <br>
        <em class="m-media-item__timestamp f-ui">13:12</em>
      </span>
    </a>
  </p>
</aside>
```

***/

.m-cta--full-width .m-media-item__title,
.m-cta--full-width .m-media-item__timestamp {
  display: block;
}

.m-cta--full-width .m-media-item__title {
  color: $color__text--headlines;
}

.m-cta--full-width .m-media-item__timestamp {
  margin-top: 16px;
}

.m-cta--full-width .m-media-item__img {
  width: colspan(2, xsmall);

  @include breakpoint('small+') {
    width: colspan(2, small);
  }

  @include breakpoint('medium+') {
    width: colspan(2, medium);
  }

  @include breakpoint('large+') {
    width: colspan(2, large);
  }

  @include breakpoint('xlarge+') {
    width: colspan(2, xlarge);
  }

  @include breakpoint('xxlarge') {
    width: colspan(2, xxlarge);
  }
}

.m-cta--full-width .m-media-item__img svg {

  @include breakpoint('small+') {
    display: block;
  }
}

.m-cta--full-width .m-media-item__link-secondary {
  left: colspan(2, xsmall, map-get($inner-gutters, xsmall));

  @include breakpoint('small+') {
    left: colspan(2, small, map-get($inner-gutters, small));
  }

  @include breakpoint('medium+') {
    left: colspan(2, medium, 20px);
  }

  @include breakpoint('large+') {
    left: colspan(2, large, 20px);
  }

  @include breakpoint('xlarge+') {
    left: colspan(2, xlarge, 20px);
  }

  @include breakpoint('xxlarge') {
    left: colspan(2, xxlarge, 20px);
  }
}



.m-media-item--small-img .m-media-item__img {
  width:100px;

  @include breakpoint('medium+') {
    width: 120px;
  }

  @include breakpoint('large+') {
    width: 120px;
  }

  @include breakpoint('xlarge+') {
    width: 120px;
  }

  @include breakpoint('xxlarge') {
    width: 120px;
  }
}

.m-media-item--small-img .m-media-item__link-secondary {
  left: map-get($inner-gutters, xsmall) + 100px;

  @include breakpoint('small+') {
    left: map-get($inner-gutters, small) + 120px;
  }

  @include breakpoint('medium+') {
    left: map-get($inner-gutters, medium) + 120px;
  }

  @include breakpoint('large+') {
    left: map-get($inner-gutters, large) + 120px;
  }

  @include breakpoint('xlarge+') {
    left: map-get($inner-gutters, xlarge) + 120px;
  }

  @include breakpoint('xxlarge') {
    left: map-get($inner-gutters, xxlarge) + 120px;
  }
}
