/***

A holder for content to live inside of `m-popup-tip`. Hides the content and has an ID to be used in `data-behavior="PopUpTip"`

```
<div class="m-popup-tip-content" id="potcast_group">
  <p class="f-body--xs">A complete list of investigators in the Tracking Non–Small-Cell Lung Cancer Evolution through Therapy (TRACERx) Consortium is provided in <a href="#">Supplementary Appendix 1</a>, available at NEJM.org.</p>
</div>
```

***/

.m-popup-tip-content {
  position: fixed;
  left: -1px;
  top: -1px;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}
