/***

In the traveling home page (.o-traveling-home__items)

```
<ul class="o-traveling-home__items">
<li class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__type f-caps--sm">Clinical Practices</span> <br>
    <strong class="m-simple-listing-item__title f-h10">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong>
  </a>
</li>
<li class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__type f-caps--sm">Clinical Practices</span> <br>
    <strong class="m-simple-listing-item__title f-h10">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong>
    <span class="m-simple-listing-item__img">
      <img srcset="http://placehold.dev.area17.com/image/64x64 64w, http://placehold.dev.area17.com/image/128x128 128w" sizes="64px" width="64" height="64">
    </span>
  </a>
</li>
</ul>

```

***/

/***

As related articles:

```
<p class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__meta f-caps">
      <span class="m-simple-listing-item__type f-caps">Article Type</span> <span class="m-simple-listing-item__date f-caps">Jan 1</span>
    </span> <br>
    <strong class="m-simple-listing-item__title f-h8">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong> <br>
    <em class="m-simple-listing-item__author f-author">J.M Beaten and Others</em>
  </a>
</p>
<p class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__meta f-caps">
      <span class="m-simple-listing-item__type f-caps">Article Type</span> <span class="m-simple-listing-item__subtype f-caps">Subtype</span> <span class="m-simple-listing-item__date f-caps">Jan 1</span>
    </span> <br>
    <strong class="m-simple-listing-item__title f-h8">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong> <br>
    <em class="m-simple-listing-item__author f-author">J.M Beaten and Others</em>
  </a>
</p>
```

***/
/***

With a larger title and a publisher

```
<p class="m-simple-listing-item">
  <span class="m-simple-listing-item__meta f-caps">
    <span class="m-simple-listing-item__type f-caps">Original Article</span> <span class="m-simple-listing-item__date f-tag">Nov 21, 2016</span>
  </span> <br>
  <strong class="m-simple-listing-item__title f-h4">Class aptent taciti sociosqu ad litora torquent per conubia nostra</strong> <br>
  <em class="m-simple-listing-item__author f-author">Scott W. Powers, Ph.D., Christopher S. Coffey, Ph.D., Leigh A. Chamberlin, R.D., M.Ed., Dixie J. Ecklund, R.N., M.S.N., Elizabeth A. Klingner, M.S., Jon W. Yankey, M.S., Leslie L. Korbee, B.S., Linda L. Porter, Ph.D., and Andrew D. Hershey, M.D., Ph.D., for the CHAMP Investigators</em>
  <em class="m-simple-listing-item__publisher f-author">N Engl J Med 2016; 374:1552-1563</em>
</p>
```

***/
/***

As more from this issue:

```
<p class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__type f-caps">Article Type</span> <br>
    <strong class="m-simple-listing-item__title f-h8">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong> <br>
    <em class="m-simple-listing-item__author f-author">J.M Beaten and Others</em>
  </a>
</p>
<p class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <span class="m-simple-listing-item__type f-caps">Article Type</span> <br>
    <span class="m-simple-listing-item__subtype f-caps">The Changing Face of Clinical Trials</span> <br>
    <strong class="m-simple-listing-item__title f-h8">Acute Kidney Injury in Critically Ill Children &mdash; An Ominous Legacy</strong> <br>
    <em class="m-simple-listing-item__author f-author">J.M Beaten and Others</em>
  </a>
</p>
```

***/
/***
<p class="m-simple-listing-item">
  <a href="#" class="m-simple-listing-item__link">
    <svg class="m-simple-listing-item__logo icon--logo-resident-360"><use xlink:href="#icon--logo-resident-360" /></svg>
    <strong class="m-simple-listing-item__title f-body--sm">Donec massa diam, efficitur vitae porta sed, condimentum sed leo. Nunc mattis ipsum gravida, finibus arcu at, tincidunt mauris. Etiam tempor lectus quis libero vehicula aliquet.</strong>
  </a>
</p>
<p class="m-simple-listing-item m-simple-listing-item--img">
   <a href="#" class="m-simple-listing-item__link">
      <span class="m-simple-listing-item__img">
        <img srcset="http://placehold.dev.area17.com/image/300x200 300w" sizes="(min-width: 1480px) 200px, (min-width: 1280px) 15vw, (min-width: 1024px) 15vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 50vw">
      </span>
      <strong class="m-simple-listing-item__title f-h7">Challenge Yourself: What's the diagnosis?</strong>
   </a>
</p>
<p class="m-simple-listing-item m-simple-listing-item--img">
   <a href="#" class="m-simple-listing-item__link">
      <span class="m-simple-listing-item__img">
        <img srcset="http://placehold.dev.area17.com/image/300x200 300w" sizes="(min-width: 1480px) 200px, (min-width: 1280px) 15vw, (min-width: 1024px) 15vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 50vw">
        <svg class="icon--play g-nav__secondary-featured-icon" aria-hidden="true"><use xlink:href="#icon--play" /></svg>
      </span>
      <strong class="m-simple-listing-item__title f-h7">Transfusion of Red Cells</strong>
   </a>
</p>
<p class="m-simple-listing-item m-simple-listing-item--img">
   <a href="#" class="m-simple-listing-item__link">
      <span class="m-simple-listing-item__img">
        <img srcset="http://placehold.dev.area17.com/image/300x200 300w" sizes="(min-width: 1480px) 200px, (min-width: 1280px) 15vw, (min-width: 1024px) 15vw, (min-width: 768px) 25vw, (min-width: 480px) 33.33vw, 50vw">
      </span>
      <strong class="m-simple-listing-item__title f-h8">February 23, 2017</strong>
   </a>
</p>
***/
/***

In side a CTA with title and blurb:

```
<aside class="m-cta m-cta--hide@small">
  <p class="a-subtitle">Resources</p>
  <ul class="m-cta__items">
    <li class="m-simple-listing-item">
      <a href="#" class="m-simple-listing-item__link">
        <strong class="m-simple-listing-item__title f-h7">Proin eu tellus pulvinar</strong> <br>
        <span class="m-simple-listing-item__blurb f-blurb">Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum.</span>
      </a>
    </li>
    <li class="m-simple-listing-item">
      <a href="#" class="m-simple-listing-item__link">
        <strong class="m-simple-listing-item__title f-h7">Proin eu tellus pulvinar</strong> <br>
        <span class="m-simple-listing-item__blurb f-blurb">Aliquam lacinia tempus ante, id pretium augue ornare vitae. Integer est ligula, pulvinar vel elementum id, auctor eu nisi. Maecenas ultricies sit amet justo a rutrum.</span>
      </a>
    </li>
  </ul>
</aside>
```

***/

.m-simple-listing-item {

  td > & {
    margin-top: 0;
  }
}

.m-simple-listing-item br {
  display: none;
}

.m-simple-listing-item__link {
  display: block;
  position: relative;
  margin-top: 0;
  padding-right: 12px;
}

.m-simple-listing-item__logo,
.m-simple-listing-item__meta,
.m-simple-listing-item__blurb {
  display: block;
}

.m-simple-listing-item__type,
.m-simple-listing-item__subtype {
  display: block;
  color: $color__accent;

  .m-simple-listing-item__meta & {
    display: inline;
  }
}

.m-simple-listing-item__subtype {
  color: $color__link-primary;

  .m-simple-listing-item__type + & {
    padding-left: 4px;
  }
}

.m-simple-listing-item__date {
  display: block;
  color: $color__text--quaternary;

  .m-simple-listing-item__type + &,
  .m-simple-listing-item__subtype + & {
    padding-left: 10px;
  }

  .m-simple-listing-item__meta & {
    display: inline;
  }
}

.m-simple-listing-item__title {
  display: block;
  color: $color__text--headlines;

  &.f-h8 {
    margin-top: -4px;
  }

  &.f-h8:first-child {
    margin-top: 0;
  }

  &.f-blurb {
    font-weight: 700;
  }

  .m-simple-listing-item__type ~ &.f-h8,
  .m-simple-listing-item__meta ~ &.f-h8 {
    margin-top: 4px;
  }

  .m-simple-listing-item__meta ~ &.f-h4 {
    margin-top: 8px;
  }

  .m-simple-listing-item__img + &,
  .m-simple-listing-item__logo + & {
    margin-top: 12px;
  }
}

.m-simple-listing-item__link:hover .m-simple-listing-item__title {
  text-decoration: underline;
}

.m-simple-listing-item__author {
  display: block;
  color: $color__text--quaternary;

  .m-simple-listing-item__title.f-h4 ~ & {
    margin-top: 4px;
  }

  .m-simple-listing-item__title.f-h8 ~ & {
    margin-top: 8px;
  }
}

.m-simple-listing-item__publisher {
  display: block;
  color: $color__text--quaternary;
}

.m-simple-listing-item__blurb {
  margin-top: 4px;
  color: $color__text;
}

.m-simple-listing-item__blurb br {
  display: inline;
}

.m-simple-listing-item__footer-link {
  display: block;
  margin-top: 16px;
}

a.m-simple-listing-item__footer-link:hover {
  text-decoration: underline;
}

//----------------------------------
// variant `.m-simple-listing-item--img`
//

.m-simple-listing-item--img .m-simple-listing-item__link {
  padding-right: 0;
}

.m-simple-listing-item__img {
  @include ratio-image(3, 2, 'center center');
  width: 100%;
  overflow: hidden;
}

.o-colset-2-4-6--nowrap .m-simple-listing-item__img {
  @include ratio-image(3, 2, 'center center');
}

//----------------------------------
// img in travelling home lives at the end and is abs positioned
//

.o-traveling-home__items .m-simple-listing-item--img .m-simple-listing-item__link {
  padding-right: 80px;
}

.o-traveling-home__items .m-simple-listing-item__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
}

.o-traveling-home__items .m-simple-listing-item__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  object-position: bottom;
  font-family: 'object-fit: contain; object-position: bottom;';
}

//----------------------------------
// inside `o-results`
//

.o-results .m-simple-listing-item {
  position: relative;
  margin-top: 16px;
  padding-top: 16px;

  @include breakpoint('medium+') {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.o-results .m-simple-listing-item:first-child {
  margin-top: 0;

  @include breakpoint('medium+') {
    margin-top: 0;
  }
}

.o-results .m-simple-listing-item::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: $color__rules;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// .m-simple-listing-item--img that is a .o-grid-listing__col needs extra padding at the bottom
//

.o-grid-listing__col.m-simple-listing-item--img {
  padding-bottom: 20px;

  @include breakpoint('medium+') {
    padding-bottom: 60px;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// .m-simple-listing-item with parapgraph
//

.m-simple-listing-item__paragraph {
  display: block;
  margin-top: 0;
  padding-right: 12px;

}

.m-simple-listing-item__paragraph a:hover {
  text-decoration: underline;
}

.m-simple-listing-item .m-simple-listing-item__paragraph br {
  display: inline;
}

