.custom-date {
    font-size: 0.875rem; // 14px;
    font-weight: 400;
    color: $aha_darken_grey;
}
.range-slider {

    [class*="index-"]:not(.jcf-range-handle) {
        border: 1px solid $aha_grey;
        font-size: 0.875rem; // 14px;
        padding: 8px 16px;
        border-radius: 0px;
        margin-top: 10px;
        background: $aha_white;
    }
}