.institutional-login-page {
  .page__header {
    color: #000;
    font-weight: bold;
  }
}
.institution-login {
  .jcf-select {
    border-color: #333;
    &-text {
      color: $secondary-text-color;
    }
  }
  ul {
    color: $secondary-color;
  }
}
.jcf-select-institutional-login-input .jcf-list .jcf-option {
  color: $secondary-color;
}