.search-history , .saved-searches {
    padding: 0 20px 20px;
    .empty-search-history {
        margin: 0;
    }
    td {
        padding: 1.1em;
        &:not(:first-child) {
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
