
ul[class*="unordered-"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rlist {
    &--inline {
        &.separator {

            li {
                border-left: none !important;
                border-right: 1px solid $separators-color;
                &:last-child {
                    border: none;
                }

                &:not(:first-of-type) {
                    border-left: none;
                }
            }
        }
    }
}

.rlist{
    &--centered {
        li{
            padding-left: 24px;
        }
    }
}

.unordered-bordered-list, .unordered-list {
    > li:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: $wiley-typography-color;
        border-radius: 50%;
        position: absolute;
        top: .5rem;
        left: 0;
    }
}


.unordered-bordered-list {

    li {
        padding: 12px 10px;

        position: relative;
        padding-left: 20px;

        ~ li {
            border-top: 1px solid $wiley-lightGray-color;
        }
    }

    > li:before {
        top: 1.2rem;
    }
}

.unordered-list {
    li {
        position: relative;
        padding-left: 20px;
        line-height: 1rem;

        ~li {
            margin-top: 1rem;
        }
    }
}


.unordered-list-icons {
    li {
        font-weight: 600;
        line-height: 0.875rem;

        a {
            transition-property: background, color;
            transition-duration: 0.25s;
            padding: 15px;
            display: block;

            &:hover {
                background: $wiley-extralightGray-color;
                cursor: pointer;
                color: $wiley-blue-color;
            }

            &:active {
                color: $white;
                cursor: default;
                background-color: $wiley-blue-color;

            }
        }

        i {
            font-size: 1.5rem;
            vertical-align: middle;
            margin-right: 20px;
            display: inline-block;
            line-height: 0.875rem;
        }

    }
}


.rlist--inline {
    &.comma {
        > li:not(:last-child) {
            &:after {
                margin: 0 4px 0 0;
                color: inherit;
            }
        }
    }
}


.list--bordered-left {
    padding-left: 13px;
    border-left: 4px solid $wiley-lightGray-color;
}

.upper-alpha {
    list-style: upper-alpha;
}