.meta {
    &__body {
        h1 {
            min-height: initial;
            font-weight: bold;
            line-height: normal;
            font-size: 26px;
            margin-bottom: 16px;
        }
        .meta__info {
          margin-bottom: 16px;
        }
        p {
          color: $drawer-bg-color;
          &.meta__contrib {
            span {
              color: $text-muted;
            }
          }
        }

    }

  }

.meta__body{
  &.card{
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}