.articleTitlePrice {
    .item-price {
        font-weight: bold;
    }
}
.checkoutProcessRightCol a:not(.btn){
    color: $secondary-bg-color;
}
.checkoutList .header , .commerce-header{
    font-weight: bold;
}
.billingPayment {
    .button{
        font-weight: 400;
    }
}
.checkoutList .header{
    .checkoutName{
        text-transform: none;
    }
}
.billingAddressFields{
    > p {
        font-size: 14px;
    }
}
.eCommerceCheckoutBuyingItemsWidget {
    .tabContent{
        p {
            font-size: 14px;
        }
    }
}
.eCommerceCheckoutIdentityWidget{
    .logedIn{
        label{
            display: inline-block;
        }
    }
}
@include media('<tablet') {
    .checkoutMethod {
        margin: 0 20px 5px 0;
    }
}