<ul class="rlist row">
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/6"><span class="comma">Volume 297</span>Issue 6</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/6"><span> December lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C1331-C1575</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/5"><span class="comma">Volume 297</span>Issue 5</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/5"><span> November lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages 1091-C1219</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/4"><span class="comma">Volume 297</span>Issue 4</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/4"><span> October lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C797-C1058</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/3"><span class="comma">Volume 297</span>Issue 3</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/3"><span> September lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C481-C787</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/2"><span class="comma">Volume 297</span>Issue 2</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/2"><span> August lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C227-C470</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/297/1"><span class="comma">Volume 297</span>Issue 1</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/297/1"><span> July lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C1-C226</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/6"><span class="comma">Volume 296</span>Issue 6</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/6"><span> June lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C1245-C1439</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/5"><span class="comma">Volume 296</span>Issue 5</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/5"><span> May lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C941-C1242</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/4"><span class="comma">Volume 296</span>Issue 4</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/4"><span> April lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C641-C877</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/3"><span class="comma">Volume 296</span>Issue 3</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/3"><span> March lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C387-C638</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/2"><span class="comma">Volume 296</span>Issue 2</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/2"><span> February lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C221-C371</div>
        </div>
    </li>
    <li class="col-md-4">
        <div class="loi__issue">
            <div class="parent-item">
                <div class="loi__volume"><a href="/toc/ajpcell/296/1"><span class="comma">Volume 296</span>Issue 1</a></div>
                <div class="loi__coverDate"><a href="/toc/ajpcell/296/1"><span> January lorem year</span></a></div>
            </div>
            <div class="iPageRange">Pages C1-C204</div>
        </div>
    </li>
</ul>