.article-tools {
    &__ctrl {
        @include media('>=tablet') {
            font-size: 0.88rem;
            line-height: 0.88rem;
        }
        span {
            margin-left: 10px;
        }
    }
    &__block {
        padding: 15px;
        min-width: 250px;
        background: $white;
    }
}
.article-tool {
    margin-bottom: 5px;

    a {
        display: block;
    }

    i {
        min-width: 20px;
        display: inline-block;
        text-align: center;
    }

    span {
        margin-left: 10px;
    }
}
