.colors-palette li {
    width: 25%;
    float: left;
    padding: 0 10px;
    list-style: none;
    margin-bottom: 15px;
}

.colors-palette li:nth-child(4n+1) {
    clear: left;
}

.colors-palette .block {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
}

.colors-palette p {
    font-size: 12px;
    line-height: normal;
    margin: 0;
}

.source_clarify-in-spec_link {
    margin-right: 5px !important;
}
.source_clarify-in-spec_link_clear {
    display: block !important;
    height: 18px;
    line-height: 18px !important;
    float: right !important;
    margin-right: -15px !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
}


.source_section > h3 > .source_clarify-in-spec_link {
    margin-right: 0 !important;
}

.source_section > h3 > .source_clarify-in-spec_link_clear {
    margin-top: 3px !important;
    margin-right: -19px !important;
    background-color: #fff !important;
    z-index: 1 !important;
    position: relative !important;
}

.source_main_nav{
    z-index: 9999;
}

.source_header_nav_i_logout {
    display: none;
}
.logged_in .source_header_nav_i_logout {
    display: inline-block;
}

.source_section .alert {
    padding: 1rem 1.3rem !important;
    display: block !important;
    border-radius: 10px !important;
    background-color: #eeeeee !important;
    margin-bottom: 1rem;
}
.source_section .alert.alert-warning {
    background-color: #ffe49e !important;
}