.accordion__box {
    .accordion__content {
        padding: 10px;
        background: $light-blue;
        margin-bottom: 15px;
        ul, p {
            padding: 5px;
            background: $primary-white;
            margin: 0;
        }
    }
}

.accordion__control {
    i[class*=icon-] {
        font-size: 6px;
    }
}