$primary-bg-color: #005293;

$light-gray-bg: #eee;

$lissue-cover-color: #777;

$loi__banner_db_bg: rgba(0, 20, 41, 0.96);

$primary-text-color: #005293;

$secondary-text-color: #cf102d;

$tertiary-text-color: #777;

$light-text-color: #9c9c9c;

$loa-icon-color: #1b95e0;

$wslide_mobile_bg: #eee;

$primary-shadow-color: #777;

$primary-border-color: #d7d7d7;

$secondary-border-color: #6a6a6a;

$primary-link-color: #cf102d;

$text-onLight: #FFF;

$footer-color: #FFF;

$teaser-text-color: #777;

$base-text-color: #333;

$primary-commerce-color: #005293;

$header-commerce-color: #cf102d;

$item-added: rgba(144, 198, 92, 0.9);

$item-hover: rgba(0,127,178,0.9);

$item-border: #ccc;

$checkout-hover: #3c79a9;

$black: #000;

$white: #FFF;

$red: #ff0000;

$dark-grey: #666;
