$primary-body-font-color: #505050;

$primary-btn-color: #000;

$primary-links-color: #005789;

$navigation-links-color: #4a4a4a;

$navigation-links-hover-color: #c0c0c0;

$headings-primary-color: #505050;

$footer-social-links-color: #969696;

$footer-social-links-border: #ebebeb;

$generic-bottom-border: #ebebeb;

$h4-font-color: #323232;

$links-border-color: rgba(255, 255, 255, 0.2);

$table-border-color: rgb(128,198,238);

$table-header-font-color: #005789;

$table-figures-top-border: #c0c0c0;

$table-highlighted-bg: #c0c0c0;

$figure-viewer-bg: #323232;

$figure-viewer-active-color: #505050;

$figure-navs-bg: #969696;

$transparent-border: rgba(235,235,235,.85);

$accordion-body-bg: #ebebeb;

$media-player-bg: #dfe1e9;

$media-player-buffer: #868ea3;

$inline-bullet-list: #969696;

$username-color: #969696;

$access-font-color: #f78300;

$article-tools-active: #c0c0c0;

$nav-bg: #ebebeb;

$nav-bg-active: #f5f5f5;

$ad-background: #f9f9f9;

$supplemental-information-body: #727272;

$supplemental-borders: rgba(74,74,74,0.5);

$upsell-box-body: rgb(250, 250, 250);

$upsell-box-border: #727272;

$jwplayer-ctrl: #0275d4;

$scrollbar-bg: rgba(0, 0, 0, 0.5);

$navigation-arrow: rgba(115,115,115,0.48);

$navigation-back-arrow: rgb(115,115,115);

$header-border: #ebebeb;
