.issue-item {
&__title,>p >a{
  @include themify($themes) {
    color: themed('color');
  }

}

  &__serialTitle{
    clear: both;
    font-size: .75rem;
    padding: 6px 0;
    font-weight: 600;
    color: green;
  }
}