$profile-primary-color: #003986;

$facets-applied: #003986;

$primary: #003986;

$radiology: #47828F;

$radiology-secondary-bg-color: #E8F0F1;

$radiographics: #AC012B;

$radiographics-secondary-bg-color: #E9E9E9;

$default-bg-color: #fff;

$primary-bg-color: #003986;

$primary-lighten-bg-color: #212121;

$primary-darken-bg-color: #333333;

$secondary-bg-color: #F2F2F2;

$secondary-lighten-bg-color: #FAFAFA;

$tertiary-bg-color: #E0E0E0;

$tertiary-darken-bg-color: #E0E7F0;

$tertiary-lighten-bg-color: #fff;

$footer-bg-color: #E0E7F0;

$button-bg: #003986;

$menu-background: #fff;

$search-bg-color: #F2F2F2;

$radiographics-bg-color: #AC012B;

$radiology-bg-color: #47828F;

$journal-bg-color-radiographics: #AC012B;

$journal-bg-color-radiology: #47828F;

$primary-text-color: #000;

$primary-darken-text-color: #454545;

$primary-lighten-text-color: #666666;

$secondary-text-color: #777777;

$secondary-lighten-text-color: #929292;

$secondary-darken-text-color: #333333;

$tertiary-text-color: #9E9E9E;

$tertiary-darken-color: #A6A6A6;

$text-onLight: #000;

$text-onDark: #fff;

$primary-link-color: #003986;

$creative-loa-color: #777777;

$creative-color: #777777;

$creative-title-color: #003986;

$footer-color: #003986;

$primary-dark-text-color: #777777;

$facets-text: #003986;

$footer-lighttext-color: #fff;

$default-border-color: #fff;

$primary-border-color: #E0E0E0;

$primary-dark-border-color: #909090;

$secondary-border-color: #003986;

$secondary-light-border-color: #dee6f0;

$tertiary-border-color: #BDBDBD;

$tertiary-light-border-color: #dedede;

$border-onLight: #000;

$separators-color: #E0E0E0;

$teaser-border-color: #E0E0E0;

$header-separators-color: #BDBDBD;

$primary-link-hover-color: #AAAAAA;
