.notification {
    padding: 20px;
    margin: 1em 0;
    border: 1px solid #000;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;

    &--success {
        border-color: $success-message-text-color;
        color: $success-message-text-color;
        background-color: $success-message-bg-color;
    }
    &--error {
        border-color: $error-message-text-color;
        color: $error-message-text-color;
        background-color: $error-message-bg-color;
    }
}