.dropzone {
    border: 3px dashed $dropzone-border-color;
    color: $dropzone-text-color;
    background: $dropzone-bg-color;
    min-height: 150px;
    line-height: 150px;
    text-align: center;

    &:hover {
        background: $dropzone-bg-hover-color;
    }
}

#pb-editor {
    [data-pb-dropzone] {
        border:1px dashed rgba(0, 0, 255, 0.8);
        border-radius:8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        box-sizing:border-box;
        min-height: 50px;
        min-width: 50px;
        position: relative;
        padding: 10px 0 0 !important;
    }
}

