<div class="table-of-content col-xs-12"><h2 id="s1" class="toc__heading section__header to-section section__title">
    Circulation Masthead</h2>
    <div class="issue-item"><span class="access__icon icon-lock"></span>
        <div>
            <div class="toc-item__main">
                <div class="article-meta"><h4 class="issue-item__title"><a href="#">Championing Regulatory, Integrative
                    and Comparative Physiology: The New Investigator Review Award</a></h4>
                    <ul aria-label="authors" class="rlist--inline loa">
                        <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Nick Gayeski"
                               title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                    </ul>
                    <ul class="toc-item__detail">
                        <li><span tabindex="0">Circulation. 2017;136:A1-A2, originally published July 3, 2017</span>
                        </li>
                    </ul>
                    <p class="epub-section__item"><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a>
                    </p></div>
            </div>
            <div class="toc-item__footer">
                <ul class="rlist--inline separator toc-item__detail">
                    <li><a href="#" title="Abstract" aria-expanded="true" class="accordion__control"><i
                            class="icon-section_arrow_d"></i><span>Abstract</span></a><a href="#"
                                                                                         title="Download PDF"><i
                            class="icon icon-PDF"></i><span>Download PDF</span></a>
                        <div class="accordion__content toc-item__abstract">The development of cardio-oncology as a
                            clinical field has been driven by improved therapeutics resulting in a dramatic increase in
                            the number of cancer survivors (≈15 500 000 in the United States alone) many of whom
                            experience cardiovascular complications related to their cancer treatments.1 Both
                            traditional and targeted therapies can affect the cardiovascular system, resulting in
                            hypertension, heart failure, myocarditis, arrhythmias, vascular disease, and thrombosis.
                            Although recurrence of cancer is the eventual cause of death in many cancer survivors,
                            cardiovascular disease is responsible for substantial morbidity and mortality in this
                            population. Thus, effective means of mitigating cardiovascular complications of cancer
                            therapies would have substantial impact on health. Unfortunately, definitive strategies to
                            predict, prevent, monitor, and treat chemotherapy-induced cardiovascular syndromes are
                            currently lacking for several reasons. First, mechanistically distinct cancer therapies can
                            cause heterogeneous cardiovascular sequelae. Second, molecular mechanisms that mediate these
                            syndromes are poorly understood. Last, evidence-based knowledge pertaining to some of the
                            most important clinical questions is not yet available. Because of this situation, most
                            clinical guidelines are based on consensus statements.
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="original_research_articles" class="toc__heading section__header to-section to-section-collapse">Original
        Research Articles</h2>
    <h3 id="s2" data-main-section="#original_research_articles"
        class="toc__heading section__header to-section toc__sub__heading section__title">Subject</h3>
    <div class="issue-item"><span class="access__icon icon-Icon_Permissions-Locked"></span>
        <div>
            <div class="toc-item__main">
                <div class="article-meta"><h4 class="issue-item__title"><a href="#">Championing Regulatory, Integrative
                    and Comparative Physiology: The New Investigator Review Award</a></h4>
                    <ul aria-label="authors" class="rlist--inline loa">
                        <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Nick Gayeski"
                               title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                    </ul>
                    <ul class="toc-item__detail">
                        <li><span tabindex="0">2017 MAR 01 :</span><span tabindex="0" class="code">cnc8</span></li>
                    </ul>
                    <p class="epub-section__item"><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a>
                    </p>
                    <p class="abstract__synopsis">Little is known about the underlying mechanisms that generate the
                        perception of skin wetness.
                        Humans have no specific hygroreceptor, and thus temperature and touch information combine to
                        produce wetness sensations.
                        The present review covers the potential mechanisms leading to the perception of wetness,
                        both peripherally and centrally, along with their implications for manual function.
                        These insights are relevant to inform the design of neuroengineering interfaces, such as sensory
                        prostheses for amputees.</p></div>
            </div>
            <div class="toc-item__footer">
                <ul class="rlist--inline separator toc-item__detail">
                    <li><a href="#" title="Abstract" aria-expanded="true" class="accordion__control"><i
                            class="icon-section_arrow_d"></i><span>Abstract</span></a><a href="#"
                                                                                         title="Download PDF"><i
                            class="icon icon-PDF"></i><span>Download PDF</span></a>
                        <div class="accordion__content toc-item__abstract"><h6>Key Points</h6>
                            <ul class="rlist points">
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="editorial-issues"><h3 id="e1" data-main-section="#original_research_articles" class="to-section">
        Editorial</h3>
        <div class="issue-item"><span class="access__icon icon-unlocked"></span>
            <div>
                <div class="toc-item__main">
                    <div class="article-meta"><h4 class="issue-item__title"><a href="#">Championing Regulatory,
                        Integrative and Comparative Physiology: The New Investigator Review Award</a></h4>
                        <ul aria-label="authors" class="rlist--inline loa">
                            <li><a href="/author/search/url?q=Nick Gayeski"
                                   title="Nick Gayeski"><span>Nick Gayeski,</span></a></li>
                            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess,</span></a>
                            </li>
                            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie,</span></a>
                            </li>
                            <li><a href="/author/search/url?q=Nick Gayeski"
                                   title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                        </ul>
                        <ul class="toc-item__detail">
                            <li><span tabindex="0">2017 MAR 01 :</span><span tabindex="0" class="code">cnc8</span></li>
                        </ul>
                        <p class="epub-section__item"><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a>
                        </p>
                        <p class="abstract__synopsis">Little is known about the underlying mechanisms that generate the
                            perception of skin wetness.
                            Humans have no specific hygroreceptor, and thus temperature and touch information combine to
                            produce wetness sensations.
                            The present review covers the potential mechanisms leading to the perception of wetness,
                            both peripherally and centrally, along with their implications for manual function.
                            These insights are relevant to inform the design of neuroengineering interfaces, such as
                            sensory prostheses for amputees.</p></div>
                </div>
                <div class="toc-item__footer">
                    <ul class="rlist--inline separator toc-item__detail">
                        <li><a href="#" title="Abstract" aria-expanded="true" class="accordion__control"><i
                                class="icon-section_arrow_d"></i><span>Abstract</span></a><a href="#"
                                                                                             title="Download PDF"><i
                                class="icon icon-PDF"></i><span>Download PDF</span></a>
                            <div class="accordion__content toc-item__abstract"><h6>Key Points</h6>
                                <ul class="rlist points">
                                    <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                        ipsumlorem
                                        ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                    </li>
                                    <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                        ipsumlorem
                                        ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                    </li>
                                    <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                        ipsumlorem
                                        ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="issue-item"><span class="access__icon icon-unlocked"></span>
        <div>
            <div class="toc-item__main">
                <div class="article-meta"><h4 class="issue-item__title"><a href="#">Championing Regulatory, Integrative
                    and Comparative Physiology: The New Investigator Review Award</a></h4>
                    <ul aria-label="authors" class="rlist--inline loa">
                        <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Nick Gayeski"
                               title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                    </ul>
                    <ul class="toc-item__detail">
                        <li><span tabindex="0">2017 MAR 01 :</span><span tabindex="0" class="code">cnc8</span></li>
                    </ul>
                    <p class="epub-section__item"><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a>
                    </p>
                    <p class="abstract__synopsis">Little is known about the underlying mechanisms that generate the
                        perception of skin wetness.
                        Humans have no specific hygroreceptor, and thus temperature and touch information combine to
                        produce wetness sensations.
                        The present review covers the potential mechanisms leading to the perception of wetness,
                        both peripherally and centrally, along with their implications for manual function.
                        These insights are relevant to inform the design of neuroengineering interfaces, such as sensory
                        prostheses for amputees.</p></div>
            </div>
            <div class="toc-item__footer">
                <ul class="rlist--inline separator toc-item__detail">
                    <li><a href="#" title="Abstract" aria-expanded="true" class="accordion__control"><i
                            class="icon-section_arrow_d"></i><span>Abstract</span></a><a href="#"
                                                                                         title="Download PDF"><i
                            class="icon icon-PDF"></i><span>Download PDF</span></a>
                        <div class="accordion__content toc-item__abstract"><h6>Key Points</h6>
                            <ul class="rlist points">
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="frame_of_reference" class="toc__heading section__header to-section to-section-collapse">Frame of
        Reference</h2>
    <h3 id="s3" data-main-section="#frame_of_reference"
        class="toc__heading section__header to-section toc__sub__heading section__title">On My Mind</h3>
    <div class="issue-item"><span class="access__icon icon-unlocked"></span>
        <div>
            <div class="toc-item__main">
                <div class="article-meta"><h4 class="issue-item__title"><a href="#">Championing Regulatory, Integrative
                    and Comparative Physiology: The New Investigator Review Award</a></h4>
                    <ul aria-label="authors" class="rlist--inline loa">
                        <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie,</span></a>
                        </li>
                        <li><a href="/author/search/url?q=Nick Gayeski"
                               title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                    </ul>
                    <ul class="toc-item__detail">
                        <li><span tabindex="0">2017 MAR 01 :</span><span tabindex="0" class="code">cnc8</span></li>
                    </ul>
                    <p class="epub-section__item"><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a>
                    </p>
                    <p class="abstract__synopsis">Little is known about the underlying mechanisms that generate the
                        perception of skin wetness.
                        Humans have no specific hygroreceptor, and thus temperature and touch information combine to
                        produce wetness sensations.
                        The present review covers the potential mechanisms leading to the perception of wetness,
                        both peripherally and centrally, along with their implications for manual function.
                        These insights are relevant to inform the design of neuroengineering interfaces, such as sensory
                        prostheses for amputees.</p></div>
            </div>
            <div class="toc-item__footer">
                <ul class="rlist--inline separator toc-item__detail">
                    <li><a href="#" title="Abstract" aria-expanded="true" class="accordion__control"><i
                            class="icon-section_arrow_d"></i><span>Abstract</span></a><a href="#"
                                                                                         title="Download PDF"><i
                            class="icon icon-PDF"></i><span>Download PDF</span></a>
                        <div class="accordion__content toc-item__abstract"><h6>Key Points</h6>
                            <ul class="rlist points">
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                                <li>Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>