.ui-datepicker {
  &-header{
    background-color:$standard-secondary-bg-color ;
    color:$text-onDark;

    .ui-state-hover{
      background-color: transparent;
      border: none;
    }
  }

}

.ui-widget-header .ui-icon{
  background-image: url(../images/ui-icons_ffffff_256x240.png);
}


