$primary-bg-color: #004f51;

$issue-cover-color: #b0b0b0;

$primary-text-color: #004f51;

$secondary-text-color: #004f51;

$tertiary-text-color: #777;

$primary-border-color: #d7d7d7;

$secondary-border-color: #6a6a6a;

$primary-link-color: #e05206;

$tertiary-bg-color: #004f51;

$tertiary-lighten-bg-color: #004f51;

$secondary-bg-color: #003638;

$menu-background: #003638;

$footer-bg-color: #003638;

$section-header-color: #e05206;

$teaser-border-color: #d7d7d7;

$primary-btn-color: #004f51;

$button-bg: #004f51;

$facets-applied: #004f51;

$loi-banner-bg-color: #004f51;

$search-bg-color: #004f51;

$slider-nav-hover-bg-color: #004f51;

$badge-type-bg-color: #FFF;

$badge-oa-bg-color: #01b2aa;

$badge-fa-bg-color: #015293;

$badge-cme-bg-color: #005051;

$primary-commerce-color: #004f51;

$header-commerce-color: #e05206;

$profile-primary-color: #004f51;

$table-rowgroup-bg: #eee;

$table-rowgroup-text: #333;
