.list-of-relations {

    p {
        margin: 0;
    }

    &.separator {
        li ~ li {
            margin-top: 25px;
            padding-top: 17px;
        }
    }

    &--date {
        font-size: 0.75rem;
        margin-bottom: 8px;
    }

    &--relationshipType {
        font-size: 0.875rem;
    }
}