/* TODO: To be reviewed and cleaned up by UI team */

.link {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #336699;
}

.widget-loading {
    opacity: 0.5;
}

.checkout-readonly {
    color: #58595b;
}

.checkout-readonly p {
    margin: 5px 0;
}

.has-tow-column .input-group {
    float: left;
    max-width: 50%;
}

.checkoutList .actions {
    margin-top: 20px;
}

.checkoutName {
    max-width: 90%;
    word-break: break-all;
    display: inline-block;
}

.checkoutList .header, .commerce-header {
    font-size: large;
    color: #336699;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
}

.commerce-header {
    border-bottom: 1px solid #ddd;
}

.loading-overlay {
    width: 100%;
    height: 100%;
    position: FIXED;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    opacity: 0.8;
    display: none;
}

.loading-overlay .loading {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: url('/templates/jsp/pb2/img/335.gif') no-repeat;
}

.loading-overlay .loading-message {
    position: fixed;
    top: 38%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 10px;
    font-weight: bold;
    color: #005293;
}

.checkoutList .pale {
    font-size: small;
    color: #777;
}

.expand-purchase-options.expanded {
    font-weight: bold;
}