.topical-index {
    .topic {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .12);
        margin-bottom: 25px;

        img {
            width: 100%;
        }

        a {
            font-size: 1em;
            display: block;
            border: none;
            padding: 0;
        }

        &__header {
            height: 56px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-family: $tertiary-font-family;

            h4 {
                text-align: center;
                margin: 0;
            }

            a {
                color: $standard-bg-color;
            }
        }
    }
}
