.eCommercePurchaseAccessWidgetContainer {
  .add-journal-to-cart {
    header {
      line-height: inherit;
      padding: 0;
      border: none;
      position: relative;
      .purchaseMessage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $item-added;
        text-align: center;
        color: #fff;
        padding: 0;
        p.itemAddedMsgBox {
          border: none;
          line-height: 60px;
          margin: 0;
          padding: 3px 0px 8px 0px;
          h3 {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
          }
          &:before {
            font-size: 19px;
            vertical-align: middle;
            position: static;
            display: inline;
            margin: 0 10px 0 0;
          }
        }
      }
      .add-to-cart-msg{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $item-hover;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        line-height: 55px;
        margin-left: 0px;
        margin-bottom: 0px;
        [class^="icon-"]{
          font-size: 19px;
          vertical-align: middle;
          margin-right: 10px;
        }
        &.added{
          background: $item-added;
        }
      }
      &:hover{
        position: relative;
        .add-to-cart-msg:not(.added){
          display: block;
          padding: 8px 0px;
        }
      }
    }
  }
}
.addedMessage {
  overflow: hidden;
  .article-title{
    float: left;
    border: 1px solid $item-border;
    color: $base-text-color;
    font-size: 17px;
    padding: 16px 16px;
    font-weight: 700;
    line-height: 60px;
    background: $text-onLight;
    width: 100%;
    [class^="icon-"]{
      color: $item-added;
      font-size: 25px;
      margin: 0 10px 0 0;
    }
    .article-title-content{
      vertical-align: middle;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      @include media('<tablet') {
        align-items: initial;
      }
    }
  }
  a.show-cart-link{
    float: right;
    text-align: center;
    width: 20%;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 6px 0px;
    margin: 0;
    background: $item-hover;
    margin-top: 8px;
    &:hover{
      background-color: $checkout-hover;
    }
    .text{
      display: inline-block;
      line-height: 1.3em;
      vertical-align: middle;
    }
  }
}
@include media('<tablet') {
  .add-journal-to-cart {
    .addedMessage {
      .show-cart-link {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
  .article-title-content {
    width: 100%;
    line-height: 30px;
  }
}

@include media('<tablet') {
  .add-journal-to-cart {
    .article-title {
      width: 100%;
    }
    .addedMessage {
      .show-cart-link {
        width: 100%;
        margin-top: 8px;
        line-height: 25px;
        text-align: center;
        padding-left: 0;
      }
    }
  }
  .eCommercePurchaseAccessWidgetContainer {
    .purchase-options-container{
      .purchase-items {
        header {
          a.purchase-item {
            &.add-article-to-cart {
              padding: 16px;
            }
            .title {
              display: block;
              width: 100%;
            }
          }
          .price {
            float: left !important; // Overriding and inline rule
            margin-top: 25px;
            border: none;
            text-align: left;
          }
          .add-to-cart-msg {
            display: inline-block;
            position: unset;
            width: 49%;
            max-width: 100px;
            line-height: 50px;
            float: right;
            margin-top: 12px;
            .icon-cart-icon-material {
              display: none;
            }
          }
        }
      }
    }
  }
}
