.profileMain {
  margin-top: 48px;

  .quick-search__button {
    background-color: #fff;
    padding: 10px 0.75rem;
    line-height: 1rem;
    &:hover {
      background-color: $primary-bg-color;
    }
  }
}

.profile-pages {
  &__heading {
    background-color: $secondary-color;
  }
  & > .tab--aside > .tab__nav {
    background-color: $secondary-bg-color;
    .active a {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }

  .tab__pane {
    padding-top: 1.5rem;
  }
}

.profile-dark__btn {
  background-color: $secondary-color;
  &:hover {
    background-color: $primary-bg-color;
  }
}

.account__sort .left-side-label label {
  width: auto;
  margin: 6px 0 7px;
  display: inline-block;
}

.account-tab {

  .jcf-select {
    width: auto;
    border: none;
    text-align: left;
  }

  &__nav:not(.js--open) {
    li:not(:last-child) a {
      border-right: none;
    }
    a {
      color: $primary-bg-color;
      border-color: $primary-bg-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .active a {
      background-color: $primary-bg-color;
      border-color: $primary-bg-color;
    }
  }
}

.btn__transparent, .btn__transparent:hover {
  color: $primary-bg-color;
  border-color: $primary-bg-color;
}

.emails-wrappers {
  .email .actions {
    float: right;
    padding: 10px 8px;
    line-height: normal;
  }
}


.section {
  &__header {
    font-size: .875rem;
    padding-bottom: 10px;
    font-weight:bold;
  }
}