.checkoutProcessLeftCol .link, .checkoutProcessLeftCol a:not(.btn), .checkoutProcessRightCol .link, .checkoutProcessRightCol a:not(.btn) {
  color: $primary-bg-color;
}

.commerce-header, .checkoutList .header {
  font-weight: bold;
  font-size: 1rem;
}

.quoteListItem {
  padding-top: 0.875rem;
  &:not(:last-child) {
    margin-bottom: 0.875rem;
    border-bottom: 1px solid $divider-color;
  }
  .offerDescription {
    margin-top: 0.5rem;
    color: #000;
    font-weight: normal;
    display: inline-block;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid $separator-color;
    line-height: 0.875rem;
    font-size: 0.875rem;
  }

  .item-price {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }

  .articleTitlePrice {
    display: flex;
    .float-left {
      font-size: 1rem;
    }
    .float-right {
      flex: 1 0 25%;
      text-align: right;
    }
    .itemQuantity {
      margin-top: 3rem;
      p {
        margin: 0 0 0.4rem;
      }
      span {
        padding: 0.2rem 0.35rem;
        border-radius: 2px;
        background-color: #fff;
      }
    }
    .deliveryFormat {
      display: inline-block;
      font-size: 0.875rem;
    }
  }

  .tabPanelFooter a {
    border-color: $separator-color;
  }
}

.restoreContentAccessExplanatoryText {
  font-size: 0.75rem;
  color: $secondary-text-color;
  line-height: 1;
}
.acceptTermsConditions {
  label {
    display: inline-block;
  }
}