.facet {
    &__list--applied {
      li {
        border: none;
        @include themify($themes) {
          background-color:themed('color');
        }
        i{
          color: $white!important;
        }
      }
    }
}

