.issue-attachments{
  @include media('>=desktop') {
    clear: left;
    margin-left: 16%;
  }
  @include media('<tablet') {
    padding: 0 15px;
    border-bottom: 2px solid $primary-border-color;
    padding-bottom: 15px;
  }
  &__label{
    font-size: 12px;
    @include media('<tablet') {
      display: block;
    }
    span{
      margin: 0;
    }
  }
  &__list{
    display: inline;
    &.rlist--inline{
      &.separator{
        li{
          padding: 0;
          font-size: 14px;
          font-weight: bold;
          line-height: .875rem;
          padding-right: 5px;
          border-width: 2px;
          @include themify($themes) {
            color: themed('color');
            border-color: themed('color');
          }
          @include media('<tablet') {
            background: $black;
            color:$white;
            @include themify($themes) {
              background: themed('color');
              color:$white;
            }
            font-weight: normal;
            padding: 7px 10px;
            display: inline-block;
            margin: 10px 10px 0 0;
            border-radius: 5px;
          }
          ~li{
            padding-left: 5px;
          }
          a{
            padding: 0 6px;
          }
        }
      }
    }

  }
  &__pdf-image{
    display: none;
  }
}