.cartLabel {
    .icon-shoppingcart {
        color: $primary-white;
    }
    .cartText {
        color: $primary-white;
        @include media('<desktop') {
            display: none;
        }
    }
    .shopping-cart {
        min-width: 14px;
        height: 14px;
        background-color: $primary-red;
        font-size: 9px;
        line-height: 13px;
        font-weight: 700;
        right: 11px;
        padding: 0 0;
        top: -7px;
    }
}

.header__quick-menu {
    .quick_menu__item {
        vertical-align: middle;
    }
}