.facet {

    &__list--applied {
        li {
            background-color:$note-bg-color;
            color: $ess-primary-text-color;
        }

        .icon-tools_close {
            color: transparent;
            background: $ess-primary-text-color;
            padding: 5px;
            border-radius: 50%;

          &::before{
            color:$white;
          }
        }
    }

    .clear {
       color:$blue-text-color;
        text-align: left;
        font-size: .875rem;
        margin-top: 10px;
    }
}
