.wiley-blue-color {background : #005274;}

.wiley-darkBlue-color {background : #003951;}

.menu-background {background : #005274;}

.wiley-green-color {background : #068853;}

.wiley-lightGray-color {background : #d8d9da;}

.wiley-extralightGray-color {background : #efeff0;}

.wiley-gray-color {background : #bdbbb7;}

.wiley-gray-text-color {color : #767676;}

.wiley-darkGray-text-color {color : #8b8b8b;}

.wiley-gray-lighter-separator {background : #C2C3C6;}

.wiley-gradient-color {background : linear-gradient(45deg, #005274 0%, #068853 100%);}

.wiley-orange-color {background : #cc4e00;}

.wiley-orange-icons-color {background : #e55800;}

.secondary-bg-color {background : #efeff0;}

.tertiary-bg-color {background : #edebe6;}

.wiley-text-color {color : #424240;}

.wiley-typography-color {color : #1C1D1E;}

.section-border {background : #9E9D99;}

.wiley-gray {background : #757472;}

.wiley-gray-dark {background : #212120;}

.primary-text-color {color : #005293;}

.primary-light-text-color {color : #DFDDD6;}

.wiley-green {background : #008765;}

.wiley-red {background : #D22A37;}

.wiley-open-access {background : #6D2077;}

.wiley-free-access {background : #4C6FD9;}

.separators-color {background : #DFDDD6;}

.tab-active-text-color {color : #fff;}

.tab-border {background : #DFDDD6;}

.forgot-password {color : #2B709E;}

.disabled-blue {background : #99bac7;}

.agu-branding {background : #2F7BAE;}
