.trusted-proxy-form {
    h4{
        margin-top: 50px;
    }
    input,select{
        margin: 5px 0;
    }
    .btn--inverse{
        margin-top: 10px;
    }
}

.trusted-proxy-header{
    color: $standard-color;
}