.recommend-to-librarian {
    .publication-cover-info {
        margin: 0;
    }

    .meta {
        &__issns, &__eissn {
            font-weight: 400;

        }
    }

    .label {
        color: $wiley-gray-text-color;
    }

}

.recommendationForm {
    p {
        margin-bottom: 28px;
    }

    .section__header {
        margin-bottom: 25px;
    }

}