input,
optgroup,
select,
textarea {
    margin-bottom: 20px;
    padding: 11px 15px 11px 15px;
    border: 1px solid $primary-border-color;
    color: $primary-link-color;
}

.switch {
    label {
        margin-top: 0px;
    }
}