
.container {
     width: 100%;
     max-width: $max-container-size;

    @include media('<phone') {
        width: 100%;
    }

    @include media('<tablet') {
        width: 100%;

    }

    @include media('<desktop') {
        width: 100%;

    }
}


