$primary-bg-color: #192B6C;

$badge-bg-color: #9E9E9E;

$secondary-bg-color: #FAFAFA;

$primary-text-color: #192B6C;

$secondary-text-color: #808080;

$primary-dark-text-color: #9E9E9E;

$divider-color: #E0E0E0;

$separator-color: #9E9E9E;

$footer-bg-color: $primary-bg-color;

$creative-loa-color: $secondary-text-color;

$teaser-border-color: $divider-color;

$secondary-color: #233B8B;

$item-added: #90C65C;

$primary-green: #258741;

$primary-grey: #212121;
