.email-verification-msg {
    h1 {
        @include font_huge();
        color: $journalThemeColor;
    }
    .message {
        @include font_normal();
        color: $darkGrey;
    }

    a{
        text-decoration: underline;
    }
}

.email-verification-error h1 {
    @include font_huge();
    color: $journalThemeColor;
    margin-bottom: 0;
}