.input-group {
  .pass-strength-popup {
    position: absolute;
    width: 92%;
    top: 101%;
    padding: 14px;
    background: #fefefe;
    font-size: .875em;
    border: 2px solid gray;
    z-index: 100;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.50);
    &.too-long {
      border: 2px solid #a6192e;
      &:before {
        border-color: #a6192e;
      }
    }
    &.weak, &.too-long {
      border: 2px solid #a6192e;
      .strength {
        color: #a6192e;
      }
      &:before {
        border-color: #a6192e;
      }
    }
    &.strong {
      border: 2px solid #00771a;
      .strength {
        color: #00771a
      }
      &:before {
        border-color: #00771a;
      }
    }
    &.too-short {
      border: 2px solid #a6192e;
      &:before {
        border-color: #a6192e;
      }
      .strength {
        color: #a6192e;
      }
    }
    h4 {
      margin: 0px;
      padding: 0;
      font-weight: normal;
      color: #595A5C;
    }
    &:before {
      content: "\25B2";
      position: absolute;
      top: -9px;
      left: 3%;
      font-size: 11px;
      line-height: 11px;
      color: white;
      border: solid gray;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      background: white;
    }
    ul {
      padding: 0;
      margin: 0px;
      list-style: none;
      display: inline;
      padding-right: 10px;
    }
    li {
      display: inline-block;
      font-weight: normal;
      &:last-child:after {
        content: none;
        padding: 0;
      }
      &:after {
        content: '|';
        padding:0 3px;
      }
    }
    .strength {
      text-transform: capitalize;
      display: inline;
      font-weight: bold;
    }
  }

  .invalid {
    color: #777;
  }

  .valid {
    color: #777;
    span {
      text-decoration: line-through;
    }
  }
}


.password-strength-indicator {
  display: none !important;
}