.forgot-pass-container {
    .captcha-container {
        .error {
            display: none;
        }
    }
}

.weakPassMsg {
    .request-reset-form {
        display: inline;
        padding: 0px;
        input[type=submit] {
            border: none;
            background: none;
            color: #336699;
            display: inline;
            padding: 0px;
        }
    }
}

@media (max-width: 992px) {
    .g-recaptcha {
        transform: scale(0.86);
        -webkit-transform: scale(0.86);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}