.claim-prepaid {
    .redirect {
        box-sizing: border-box;
        color: $grayLight;
        cursor: auto;
        display: inline-block;
        height: auto;
        text-decoration: none;
        width: auto;
    }
}

.claim-subscription {
    @extend .claim-prepaid;
}

.eCommerceAccessEntitlementWidget {
    .tabs-widget .tab-nav {
       /* width: 100%;
        display: table;
        table-layout: fixed;*/
        /*li {
            float: none;
            display: table-cell;
        }*/
    }
    .tab-pane-content {
        display: table;
        width: 100%;
    }
    .access-row {
        display: table-row;
    }
    .access-cell {
        display: table-cell;
    }

    .query-input {
        width: 45%;
        position: relative;
    }

    .account__sort {
        max-width: 50%;
    }

    table {
        margin-bottom: 25px;
    }
}