.table-of-content {
    .section__header {
        margin-top: 35px;
    }
    .issue-item {
        .code {
	        display: none;
        }
    }
}
.toc {
    &-item__detail {
        li {
            padding-right: 0;
        }
    }
}