.orderSummary {
    div {
        border-bottom: 1px dashed $tertiary-border-color;
        color: $primary-darken-text-color;

        &:last-child {
            border-bottom: none;
        }
    }
}