.resetPasswordWidget {
    margin-top: 2em;

    .button {
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .note {
        color: $wiley-typography-color;
        font-size: 0.875rem;
    }

    .form-btn {
        margin: 0 -20px;
    }
}
