.coolBar--res .coolBar__wrapper{
    background-color: #292b2c;
}

.coolBar__first .coolBar__ctrl{
    span, i{
        color: $primary-title-color;
        .coolBar--res &{
          color: #fff;
        }
    }
}

.coolBar__second{
    .article-tools__ctrl, .share__ctrl, .btj__ctrl{
      span, i{
          color: $primary-title-color;
          .coolBar--res &{
            color: #fff;
          }
        }
    }
}



.coolBar__zone .coolBar__ctrl{
    span, i{
        color: $primary-title-color;
        .coolBar--res &{
        color: #fff;
        }
    }
}

.coolBar__wrapper{
  border-bottom: 1px solid $gray-light;
}
