@font-face {
    font-family: GraublauWeb;
    src: url("./ApexNew-Medium.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: 100;
    src: url("./ApexNew-Thin.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: 300;
    src: url("./ApexNew-Light.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("./ApexNew-Bold.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: 600;
    src: url("./ApexNew-Heavy.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: 700;
    src: url("./ApexNew-Ultra.otf") format("opentype");
}