.alphanumeric-title {
    margin-right: 0px;
    width: 12.5%;
    text-align: left;
    margin-bottom: 15px;
    font-size: $default-font-size;
    padding: 0px 15px;
    text-transform: none;

    &:first-child {
        display: block;
        width: auto;
        padding: 0px 0px 0px 15px;
    }
}

#alphaFace {
    margin: 0px -15px;
    width: auto;
}