<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ESSOAr</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:title" content="ESSOAr">
    <meta property="og:image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div id="view">
        <header class="header">
            <div class="container">
                <img src="./css/assets/essoar.png" width="240" alt="ESSOAr" class="header__logo">
                <div class="header__motto">Earth and Space Science Open Archive</div>
            </div>
        </header>
        <main>
            <div class="container">
                <p>The American Geophysical Union (AGU) is developing a server for the international Earth and space science community to accelerate the open dissemination of Earth and space science preprints and rich conference presentations with an advisory board of other international Earth and space science societies.</p>
                <p>The Earth and Space Science Open Archive (ESSOAr) will begin accepting content in early 2018. Stay tuned, ESSOAr will be launching soon.</p>
                <p class="signup"><a href="#">Sign up for updates / FAQs</a></p>
                <p class="questions">Questions, comments, and expressions of interest in volunteering can be sent to <a href="mailto:essoar@agu.org">essoar@agu.org</a></p>
                <p>An advisory board will help guide ESSOAr, and currently includes participation from the American Geosciences Institute, American Meteorological Society, Association for the Sciences of Limnology and Oceanography, Earth Science Information Partners, European Geosciences Union, Geochemical Society, Geological Society of America, Japan Geoscience Union, and Society of Exploration Geophysicists. Participation on the board does not constitute endorsement by the societies, though it is anticipated that each organization, through its own governance process, will endorse the effort. AGU hopes that other Earth and space science societies and scholarly publishers will join this effort. Additional interested parties should reach out to Brooks Hanson, <a href="mailto:bhanson@agu.org">bhanson@agu.org</a>.</p>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <span class="footer__span">© 2017. American Geophysical Union</span> <span class="footer__span">| All rights reserved</span>
            </div>
        </footer>
    </div>
</body>
</html>