.doi-access-wrapper {
    font-size: 0.75rem;
    font-weight: 600;

    .doi-access {
        display: inline-block;
        vertical-align: middle;
    }

    [class*="icon"] {
        vertical-align: middle;
    }

    .icon-icon-lock_open {
        font-size: 0.95rem;
        //vertical-align: middle;
        margin-right: 5px;
    }
    .full-access {
        color: $wiley-green;
    }
    .open-access {
        color: $wiley-open-access;
    }
    .free-access {
        color: $wiley-free-access;
    }
}

.highlight-wrapper {
    font-size: 0.75rem;
    font-weight: 600;
    color: $wiley-orange-color;
    display: inline-block;
    margin: 10px 0;

    .highlight {
        display: inline-block;
        vertical-align: middle;
    }
    .icon-icon-bookmark {
        font-size: 0.95rem;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.infoBox {
    background-color: $wiley-extralightGray-color;
    padding: 10px;
    font-size: $small-font-size;
    line-height: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items:center;
    clear: both;

    i {
        font-size: 1.2rem;
        color: $wiley-blue-color;
        margin-right: 10px;
        line-height: inherit;
        vertical-align: middle;
    }
}