$default-font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;;

$default-heading-font-family: 'Roboto Condensed', sans-serif;

$secondary-heading-font-family: 'Roboto', sans-serif;

$default-font-size: 1rem;
 // 16px
$h1-font-size: 2.3rem;
 // 38px
$h2-font-size: 2rem;
 // 32px
$h3-font-size: 1.75rem;
 // 28px
$h4-font-size: 1.5rem;
 // 24px
$h5-font-size: 1.2rem;
 // 19px
$h6-font-size: 1rem;
 // 16px"
$icon-font-size: 1.125rem;
 // 18px
$small-font-size: 0.8rem;
 // 22px
$gutter-size: 30px;

$gutter-extra-size: 60px;
