$burgundy: #892035;

$almost-black: #292929;

$dark-gray: #333333;

$profile-primary-color: #892035;

$primary-icon-color: #CBBCA8;

$blue-green-dark: #2A5656;

$teal-dark: #006C81;

$purple-dark: #632980;

$gray-dark: #515E66;

$blue-green-light: #577A7A;

$teal-light: #368B9C;

$purple-light: #84569B;

$gray-light: #768086;

$burgundy-light: #A24F60;

$primary-bg-color: #292929;

$primary-lighten-bg-color: #515E66;

$secondary-bg-color: #892035;

$secondary-lighten-bg-color: #F1F1F0;

$tertiary-bg-color: #F1F1F0;

$footer-bg-color: #892035;

$primary-border-color: #CCCCCC;

$primary-text-color: #292B2C;

$primary-light-text-color: #757575;

$primary-title-color: #892035;

$secondary-title-color: #CBBCA8;

$footer-color: #BDBCB9;

$secondary-text-color: #515E66;

$tertiary-text-color: #FF6550;

$primary-link-color: #892035;

$primary-link-hover-color: #ba3b54;

$primary-link-visited-color: #a36b63;

$primary-link-active-color: #892035;

$primary-link-focus-color: #892035;

$facets-text: #892035;

$facets-applied: #892035;

$input-placeholder-color: #892035;

$badge-primary-bg-color: #768086;

$badge-oa-bg-color: #892035;

$badge-fa-bg-color: #FF6550;

$badge-type-bg-color: #fff;
