$default-font-family: Roboto, arial, sans-serif;

$secondary-font-family: 'Cabin Condensed', arial, sans-serif;

$tertiary-font-family: Georgia, serif;

$default-font-size: 1rem;
 // 16px
$h1-font-size: 2rem;
 // 32px
$h2-font-size: 1.625rem;
 // 26px
$h3-font-size: 1.5625rem;
 // 25px
$h4-font-size: 1.125rem;
 // 18px
$h5-font-size: 1.625rem;
 // 26px
$h6-font-size: 1rem;
 // 16px
$icon-font-size: 1.125rem;
 // 18px
$large-font-size: 1.4375rem;
 // 23px
$xlarge-font-size: 2.1875rem;
 // 35px
$xxlarge-font-size: 2.375rem;
 // 38px
$xxxxlarge-font-size: 3rem;
 // 48px
$xxxlarge-font-size: 2.625rem;
 // 42px
$medium-font-size: 0.875rem;
 // 14px
$medium-2-font-size: 0.9375rem;
 // 15px
$medium-3-font-size: 1.0625rem;
 // 17px
$medium-4-font-size: 1.25rem;
 // 20px
$medium-5-font-size: 1.3125rem;
 // 21px
$small-font-size: 0.8125rem;
 // 13px
$xsmall-font-size: 0.75rem;
 // 12px
$xxsmall-font-size: 0.6875rem;
 // 11px
$xxxsmall-font-size: 0.625rem;
 // 10px