$shadow-color: rgba(0, 0, 0, 0.16);

$default-bg-color: #FFFFFF;

$primary-bg-color: #0039A6;

$primary-hover-bg-color: #0B3689;

$primary-second-bg-color: #255DB1;

$primary-third-bg-color: #044788;

$secondary-bg-color: #00A3E0;

$secondary-hover-bg-color: #0995C9;

$secondary-second-bg-color: #00BFB3;

$tertiary-bg-color: #658d1b;

$tertiary-second-bg-color: #A8AD00;

$tertiary-third-bg-color: #FDC82F;

$tertiary-third-hover-bg-color: #e5b630;

$tertiary-fourth-bg-color: #E57200;

$tertiary-fifth-bg-color: #73C14D;

$error-bg-color: #FF0000;

$light-bg-color: #A7A9AC;

$light-second-bg-color: #d8e1e5;

$light-third-bg-color: #777777;

$light-fourth-bg-color: #707070;

$light-fifth-bg-color: #F7F7F7;

$light-sixth-bg-color: #F4F4F4;

$light-seventh-bg-color: #efefef;

$dark-bg-color: #000000;

$dark-transparent-bg-color: rgba(0,0,0,0.7);

$primary-text-color: #000000;

$secondary-text-color: #95989A;

$secondary-second-text-color: #A7A9AC;

$secondary-third-text-color: #8ea8b7;

$secondary-fourth-text-color: #707070;

$secondary-fifth-text-color: #777777;

$secondary-sixth-text-color: #898989;

$tertiary-text-color: #00A3E0;

$tertiary-second-text-color: #00BFB3;

$tertiary-third-text-color: #0039A6;

$tertiary-fourth-text-color: #255DB1;

$tertiary-fifth-text-color: #FDC82F;

$tertiary-sixth-text-color: #92CBF6;

$tertiary-seventh-text-color: #044788;

$tertiary-eighth-text-color: #73C14D;

$text-onDark: #FFFFFF;

$primary-link-color: #1A0DAB;

$primary-second-link-color: #0254A6;

$error-text-color: #FF0000;

$default-border-color: #FFFFFF;

$primary-border-color: #0039A6;

$primary-second-border-color: #255DB1;

$primary-third-border-color: #044788;

$secondary-border-color: #00A3E0;

$secondary-second-border-color: #00BFB3;

$tertiary-border-color: #658d1b;

$tertiary-second-border-color: #A8AD00;

$tertiary-third-border-color: #FDC82F;

$tertiary-fourth-border-color: #E57200;

$error-border-color: #FF0000;

$light-border-color: #A7A9AC;

$light-second-border-color: #d8e1e5;

$light-third-border-color: #707070;

$light-fourth-border-color: #efefef;

$dark-border-color: #000000;
