.facet {
    &__list--applied {
        li {
            background-color: $primary-lighten-bg-color;
            padding: 10px 15px;
            font-size: $h6-font-size;
            font-weight: 600;
            transition: all 0.3s;

            &:hover {
                background-color: $primary-bg-color;
            }

            i[class*=icon-] {
                font-size: $xx-small-font-size;
                font-weight: 600;
            }
        }
    }

    .clear {
        margin-top: 5px;
        transition: all 0.3s;

        &:hover {
            color: $primary-link-color;
        }
    }
}