
.applied__filter {

    .clear {
        font-size: .75rem;
        margin-top: 0;

        @include media('<desktop') {
            margin-top: 0;
        }

        i {
            font-size: 0.625rem;
        }
    }

    &--browse {
        .clear {
            text-align: left;
            font-size: .75rem;
            margin-top: 0;

            @include media('<desktop') {
                margin-top: 0;
                padding-right: 15px;
                padding-left: 15px;
            }

            i {
                font-size: .75rem;
                margin-right: 10px;
                float: left;
                margin-left: 0;
                margin-top: 3px;
            }
        }
    }
}

.facet__list--applied li {
    text-transform: capitalize;
}