.login-popup {
    .login-container {
        a {
            color: $secondary-text-color;
            font-size: $h6-font-size;
            display: block;
            float: none;
            text-align: center;

            &:hover {
                color: $primary-text-color;
            }
        }
    }

    a.show-registration {
        margin-bottom: 15px;
        color: $primary-link-color;
    }
}