.primary-border-color{
  color: $primary-border-color;
}

.secondary-border-color{
  color: $secondary-border-color;
}

.primary-text-color{
  color: $primary-text-color;
}

.yellow-bg-secondary-color{
  background-color: $yellow-bg-secondary-color;
}

.yellow-bg-color{
  background-color: $yellow-bg-color;
}
.yellow-bg-dark-color{
  background-color: $yellow-bg-dark-color;
}


.news-green{
  color: $pys-news-green-color;
}
.news-blue{
  color: $pys-news-blue-color;
}
.news-red{
  color: $pys-news-red-color;
}
.news-orange{
  color: $pys-news-orange-color;
}

.news-dark-orange{
  color: $pys-news-dark-orange-color;
}
.news-purple{
  color: $pys-news-purple-color;
}

.news-dark-purple{
  color: $pys-news-dark-purple-color;
}