.left-side-image {
  img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    margin-right: 20px;
    padding-right: 0;
  }
}

main {
  a {
    //color: $black;
    @include themify($themes) {
      &.btn--inverse {
        background-color: $white;
        font-weight: 700;
        //border:1px solid themed('color2');

        &:hover {
          text-decoration: none;
        }

      }
    }
    .about_menu {
      @include media('<desktop') {
        color: $white;
      }
    }
  }
  //a:hover {
  //  text-decoration: underline;
  //}

  .coolBar__drop {
    a {
      @include themify($themes) {
        color: $white;
      }
    }

    &.w-slide--list {
      a {
        @include media('<tablet') {
          color: $black;
        }
      }
    }
  }
}

.section__header, .loi {
  color: $primary-bg-color;
  @include themify($themes) {
    color: themed('color2');
  }
}

.loi__list .active {
  border-bottom: 3px solid $primary-bg-color;
  @include themify($themes) {
    border-bottom: 3px solid themed('color2');
  }
}
.creative-work {
  .loa ,.meta{
  color: $black;
}
  &__title{
    color:black;
  }
}