.orderSummary {
    line-height: 2;
    > div:after {
        clear: both;
        content: '';
        display: block;
    }
    .label {
        float: left;
        max-width: 70%;
    }
    .boldText {
        float: right;
    }
}