.loa{
  color: $transparent-black-color;

  li{
    line-height: 22px;
  }

  a:not(.removed-items-count){
    text-decoration: underline;
  }

  i{
    font-size: .5rem;
    color: $primary-blue-text-color;
    font-weight: 900;
  }

}

.author-picture{
  padding-right: 5px;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  border-radius: 50%;
}