.btn{
  background-color: $primary-lighten-bg-color;
  border-radius: 2px;
  font-size: .75rem;
  padding: 5px 16px;
  border: none;

  &:hover,&:focus{
    background-color: rgba($primary-lighten-bg-color,.9);
  }

  &.light{
    background-color: $secondary-bg-color;

    &:hover,&:focus{
      background-color: rgba($primary-lighten-bg-color,.2);
    }
  }

}