
.notified-group{
    color: $standard-color;
}

.registration{
    &-form {
       > form {
        margin-top: 20px;
      }
      .g-recaptcha{
        clear: both;
        padding-bottom: 20px;
        padding-top: 50px;
      }

      .formDropZone+.actions .cancel{
        padding: 9px 15px;
        font-size: 1.2rem;
      }

      .actions{
        padding-left: 20px;
      }
    }
  &-section{
    padding-left: 15px;
    padding-right: 15px;
  }
    &-contact{
     margin-bottom: 35px;
     margin-top: 20px;
     padding-left: 20px;
        a{
            color: $standard-color;
            text-decoration: underline;
        }
    }
}