.citation {
  &__title {
    font-family: $secondary-font-family;
    color: $standard-color;
    font-weight: 500;
  }

  h1 {
    margin-bottom: 0.4rem;
  }

  &__top {
    margin-top: 0;
    @include media("<phone") {
      margin-top: 2rem;
    }
    h3 {
      margin-bottom: 0.4rem;
    }
  }
}

.article--res {
  .citation {
    &__top {
      &__item {
        &:not(:last-child):after {
          content: ' ';

        }
      }
    }
  }

}