.virtual-issue__facet {

    .facet {
        border-bottom: none;
        padding: 0;

    }

    .input-group, label {
        margin: 0;
    }

    .facet__label {
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
    }

}