.show-recommended {
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        padding: 0px;
        margin: 25px 0px 0px 0px;

        &:first-child {
            margin-top: 0px;
        }
    }

    a {
        color: $tertiary-third-text-color;
    }

    h5 {
        font-size: $small-font-size;
        color: $secondary-fourth-text-color;
        margin-bottom: 35px;
    }

    h6 {
        font-size: $default-font-size;
        color: $tertiary-third-text-color;
        font-weight: 500;
        margin: 0px;
    }

    p {
        font-size: $small-font-size;
        color: $secondary-fifth-text-color ;
        margin: 10px 0px 0px 0px;
    }
}