.buy-offer-btn {
    display: inline-block;
    padding: 10px 10px;
    background: #005789;
    color: #fff;
    font-weight: bold;
    margin: 10px 10px 10px 0px;
}
.bookOffersList{
        display: block;
        padding: 15px;
        border: 2px solid #192b6c;
        font-weight: 700;
        margin-bottom: 10px;
        max-width: 350px;
    .sub-total {
        font-weight: 700;
        border-left: 1px solid gray;
        font-size: 16px;
        padding-left: 13px;
        margin-left: 13px;
        display: inline-block;
        width: 28%;
        color: #000;
        vertical-align: middle;
    }
    a{
        display: block;
        .offer-desc{
           margin-bottom: 0;
           font-weight: inherit;
           color: inherit;
           margin-right: 0;
           width: 63%;
           display: inline-block;
           vertical-align: middle;
       }
    }
}