$primary-bg-color: #005789;

$primary-btn-color: #005789;

$headings-primary-color: #005789;

$figure-viewer-active-color: #005789;

$default-journal: #005789;

$ajhg-journal: #00391f;

$bpj-journal: #003e7e;

$molp-journal: #397a00;

$stemcr-journal: #595a5c;

$isci-journal: #005789;

$chember-journal: #005789;

$joul-journal: #005789;

$neuron-journal: #005789;

$stem-journal: #005789;

$asgct-journal: #005789;

$lifesci-journal: #005789;

$omtm-journal: #00402e;

$omtn-journal: #00402e;

$omto-journal: #00402e;

$ymthe-journal: #00402e;

$others-journals: #00402e;

$navigation-links-color: #ffffff;

$navigation-links-hover-color: #c0c0c0;

$article-header-head-1: #ffffff;
