.alert {
  &__list {
    td{
      font-size: .875rem;

      label{
       margin: 0;
      }
    }
  }

  &__action{
    >.js__citActions{
      font-size: .875rem;
      font-family: $extra-font-family;
    }
  }

  &__sort{
    .jcf-select-text{
      font-size: .9rem;
      font-weight: 500;
    }
  }

  &__topic{
    margin-top: 10px;
    .table__mark{
      padding:0;
      width: 25px;
    }

  }

}

.alerts {
  .btn--inverse {
    font-size: .875rem;
  }

  h5{
    color: $standard-color;
    margin-top: 40px;
  }

  .label-txt,label{
    font-size: 1rem;
  }
}