.w-slide{
    z-index: 100;
&_head{
    background: $standard-color;
    font-family: $default-font-family;
}

&__back{
    @extend .text-white-uppercase;

    &:focus,&:hover{
        @extend .text-white-uppercase;
    }

i{
    color:$text-onDark;

}
}

    &__title.js--open{
        @extend .text-white-uppercase;
    }
}



.text-white-uppercase{
    text-transform: uppercase;
    color:$text-onDark;
}