.advanced-search {
    .searchIn--field.input-group {
        width: 100%;
    }

    .searchIn--field {
        @include media('>=tablet', '<=desktop') {
            .jcf-select {
                width: 30%;
            }
    
            input {
                width: 61%;
            }
          }
    }
    
}