$primary-bg-color: #0070AF;

$secondary-bg-color: #00a3e0;

$secondary-border-color: #00a3e0;

$journal-bg-color-amj: #830065;

$journal-color-amj: #BD99BD;

$journal-bg-color-amr: #0D5A44;

$journal-color-amr: #47A365;

$journal-bg-color-amd: #FDB839;

$journal-color-amd: #FFEE97;

$journal-bg-color-amp: #5F99B7;

$journal-color-amp: #87CCF2;

$journal-bg-color-annals: #16284B;

$journal-color-annals: #485F91;

$journal-color-amle: #BA5752;

$journal-bg-color-amle: #823130;

$journal-bg-color-amproc: #C7332F;

$journal-color-amproc: #FF6050;

$footer-lighttext-color: #fff;

$footer-bg-color: #fff;

$footer-color: #0070AF;

$footer-othertext-color: #58585a;
