$primary-bg-color: #ec1c24;

$primary-btn-color: #ec1c24;

$headings-primary-color: #ec1c24;

$table-header-font-color: #110e67;

$table-border-color: #c4c3d9;

$download-links-color: #00549e;

$figure-viewer-active-color: #ec1c24;

$section-tale-access: #e9711c;

$section-default-header: #ea0f3d;

$section-secondary-header: #0195d5;

$lanonc-jounral: #ee3123;

$lanres-journal: #009cd8;

$lanpsy-journal: #00447c;

$langlo-journal: #930438;

$lanchi-journal: #AD208E;

$laninf-journal: #936fb1;

$lanhiv-journal: #780061;

$lanhae-journal: #FF8B00;

$lancet-journal: #4d6a75;

$laneur-journal: #6cb33e;

$landia-journal: #00ab9c;

$langas-journal: #677718;

$lanpub-journal: #487483;

$lanplh-journal: #009444;

$article-header-head-1: #ffffff;
