@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: 300;
    src: url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    src: url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: 900;
    src: url("../fonts/Merriweather/Merriweather-Black.ttf") format("truetype");
}
@font-face {
    font-family: Merriweather;
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Merriweather/Merriweather-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: ProximaNova;
    src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-RegularItalic.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-weight: 300;
    src: url("../fonts/ProximaNova/ProximaNova-Light.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    src: url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/ProximaNova/ProximaNova-BoldI.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
    font-weight: 900;
    src: url("../fonts/ProximaNova/ProximaNova-Black.otf") format("opentype");
}