.loginBar{
.myaccount-link{
  color: $pol-header-quick-menu-text-color;
  display: inline-block;
  font-size: .75rem;
  padding-left: 2px;
  vertical-align: super;
}
  .icon-person{
    color: $pol-header-quick-menu-text-color;
    font-size: 1.34em;
  }

  .indivLogin{
    padding: 0 15px;
  }
}