.popup {
    .close {
        color: $primary-bg-color;
    }
}

a.show-registration-popup{
    color:$standard-color;
    text-decoration: underline;
    font-weight: 400;
}
.error .message {
    padding: 0;
    border: none;
    a {
        color: #a76262;
    }
}