.submission__modal {
    .modal {
        &__dialog {
            @include media('>=tablet') {
                width: 462px;
            }
        }
        &__body {
            padding: 16px;
            @include media('>=tablet') {
                min-height: 330px;
            }
            .input-group {
                margin: 0;
            }

            .input-group + .input-group {
                margin-top: 16px;
            }
        }
    }

    label {
        color: $ess-secondary-text-color;
        margin-bottom: 8px;
    }

    .ms-sel-item {
        background-color: $white;
        color: $black;
    }
}


