.exam-credit-claim-email-failed {
    &__text {
        margin-bottom: 25px;
    }
    &__link {
        font-weight: 600;
        margin-bottom: 18px;
        i {
            font-size: 0.65rem;
            margin-left: 6px;
            font-weight: bold;
        }
    }
}

.exam-credit-claimed__details {
    &.warning {
        font-size: 1rem;
    }
}