.do-author{
  &__recent{
    font-size: 1.275rem;
    margin-bottom: 15px;

    @include media('<tablet'){
     background: $primary-lighten-bg-color;
      margin: 0 -15px;
      padding:10px 15px;
    }
  }

  .search {
    &-result{
      margin: 0 20px;

      @include media('<tablet'){
        margin: 0;
      }
    }
    &__bottom{
      margin: 0;
    }
  }

}