.do-author{

  &__title{
    background:$tertiary-bg-color;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    padding: 15px 0;
    @include media('<tablet'){
      margin: 0 -15px 15px;
    }

  }

  &-wrapper{
    margin-bottom: 50px;
    .affiliations{
      margin-bottom: 0;
    }

  }
}