.slideshow-wrapper {
    margin-top: 30px;
    padding: 30px 0px;
    .slideShow {
        min-height: 180px;
    }

    @include media('<tablet') {
        margin: 30px 13px 0;
    }
}

.top-image {
    height: 230px;
}

.slide-item {
    .creative-work__title {
        font-weight: 300;
        font-size: 2.13rem;
        font-family: $secondary-font-family;
    }
    .loa {
        font-size: 1.06rem;
    }
}

.top-image {
    background: url("/pb-assets/images/burst-lg.jpg") no-repeat 0 0;
    background-size: 100% 350px;
    background-position-y: -115px;
    @include media('<=1920px') { // 1920px this specific value is taken from prototype
        background-size: auto;
        background-position-y: -115px;
    }
    @include media('<large') {
        background-image: url("/pb-assets/images/burst-md.jpg");
    }
    @include media('<desktop') {
        background-image: url("/pb-assets/images/burst-sm.jpg");
        background-position-y: -60px;
    }
    @include media('<tablet') {
        background-image: url("/pb-assets/images/burst-xs.jpg");
    }
    &.issue,
    &.book,
    &.journal{
        background: $issue-cover-color;
    }
}

.owl-item {
    .creative-work {
        img {
           @include media('<tablet') {
               display: none;
           }
        }
        .parent-item {
            display: inline-block;
        }
    }
    .creative-work__title {
        @include media('<tablet') {
            font-size: 1.63rem;
        }
    }
}

.creative-work {
    .meta,
    .parent-item {
        color: $tertiary-text-color;
    }

    .loa-height {
        @include media('<desktop') {
            height: auto;
        }
    }
    .creative-work__title {
        @include media('<desktop') {
            height: auto;
        }
    }

    .loa {
        color: $tertiary-text-color;
        .slide-item & {
            height: auto;
            overflow: auto;
            text-overflow: ellipsis;
        }
    }
}

.slideshow-wrapper {
    @include media('<tablet') {
        padding: 30px 0;
    }
}

.section__header {
    color: $section-header-color;

    @include media('<tablet') {
        padding: 0 0 10px;
        &.container {
            margin: 0 15px 20px;
        }
    }
    @include media('>=tablet') {
        padding-left: 0;
    }
}

.lot {
    .creative-work__title {
        color: $secondary-text-color;
        font-family: $secondary-font-family;
        font-weight: 300;
    }
    .grid-item {
        @include media('<desktop') {
            width: 100%;
        }
        .creative-work {
            @include media('>=tablet') {
                margin-left: -15px;
            }
        }
    }

}

.header__logo {
    @include media('<large') {
        margin-left: 15px;
    }
}

.newsletter {
    button {
        background: transparent;
        border: 1px solid $teaser-border-color;
    }
}

.card--newsletter {
    @include media('>=desktop') {
        margin: 0 auto  30px;
    }
}

.mpu,
.card--newsletter {
    width: 300px;
    max-width: 100%;
    margin: 20px auto;
}