.newsletter {
  font-family: Arial, Helvetica, sans-serif;
  &--card {
    background-image: url('../images/banner.jpeg');
    -webkit-background-size: 300%;
    background-size: 320%;
    background-position: 50% 0;
    padding: 56px 24px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    text-shadow: 0px 0px 8px rgba(0, 82, 144, 0.8);
  }
  p {
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0, 82, 144, 0.8);
  }
  button {
    margin-top: 45px;
    background-color: #fff;
    color: $secondary-color;
    text-transform: uppercase;
  }
}