.psych-search-page {
  padding-top: 46px;
}
.psych-border-title {
  border-bottom: 5px solid;
  margin-top: 20px;
  padding-bottom: 4px;
}
.subscribe-banner {
  position: relative;
  &__info {
    position: absolute;
    top: calc(50% - 32px);
    left: 40px;
    right: 40px;
  }
  &__title{
    font-size: 36px;
    color: $white;
  }
  &__btn{
    border: 1px solid;
    padding: 8px 20px;
    font-size: 16px;
    margin-top: 7px;
    color: $white;
    transition: 0.4s;
    border-color: $white;
    &:hover{
      background: $white;
      color: $black;
    }
  }
}