.parent-item{
  .coverDate{
    font-size: .875rem;
  }

  .vol-issue{
    font-size:1.125rem;
    font-weight: bold;
    font-style: italic;
  }
  .more-info{
    margin-top: 20px;
    font-size: .875rem;

    &__right,&__left{
      display: inline-block;
      max-width: 315px;
      width: 50%;
      vertical-align: top;
      padding-right: 10px;
      @include media('<phone'){
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .eissn{
      margin-bottom: 15px;
    }
  }
}