<!--Custom users header, overriding core header -->

<header class="source_header">

    <div class="source_col-main">
        <div class="source_col __14 __right">
            <div class="source_search">
                <input class="source_search_it" id="livesearch" type="text" placeholder="Go to page"/>
            </div>
        </div>

        <div class="source_col source_col__23">
            <a class="source_logo" href="/">Atypon Styleguide System</a>

            <nav class="source_header_nav">
                <ul class="source_header_nav_lst">
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/documents">Documentation</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs">Specs</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/utility">Utility</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/plugins">Plugins</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/ux3">UX3</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/products">Products</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/stats">Style Stats</a></li>
                    <li class="source_header_nav_i"><a class="source_a_l" href="/specs/Features">Features</a></li>
                    <li class="source_header_nav_i source_header_nav_i_logout"><a class="source_a_l" href="/auth/logout">Logout</a></li>
                </ul>
            </nav>

            <a class="js-hook source_login"></a>
        </div>
    </div>

</header>