.facet {

    &__list--applied {

        li {
            font-size: $h6-font-size;
            padding: 10px 15px;
            margin-bottom: 8px;
            margin-right: 8px;

            i.icon-tools_close {
                color: $text-onDark;
                font-size: $xx-small-font-size;
            }
        }
    }

    .clear {
        margin-top: 5px;
    }
}