.coBranding {
    margin-top: 1em;
    color: $wiley-typography-color;

    .note,
    input {margin-bottom: 10px;}

    .btn {
        width: auto;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}