

.registration {


    &__personal {
        margin-top: 25px;

        .border-bottom {
            margin-top: 15px;
            margin-bottom: 36px;
            padding-bottom: 20px;
            border-color: $secondary-bg-color;
        }

        .label-txt {
            font-size: 0.9375rem; // 15px;
            font-weight: normal;
            color: $input-placeholder-color;

            small {
                margin-left: 42px;
                margin-top: 15px;
                display: block;
            }
        }
    }

    &__button {
        margin: 2em 0;
    }

    &__cancel {
        margin: 3.5em 0;
        display: block;
    }

}
