$primary-bg-color: #005293;

$issue-cover-color: #cf102d;

$primary-text-color: #333;

$secondary-text-color: #12548e;

$tertiary-text-color: #777;

$light-text-color: #9c9c9c;

$primary-border-color: #e2e4e5;

$secondary-border-color: #ccc;

$primary-link-color: #cf102d;

$tertiary-bg-color: #12548e;

$tertiary-lighten-bg-color: #005293;

$secondary-bg-color: #001429;

$footer-bg-color: #001429;

$section-header-color: #818a8f;

$teaser-border-color: #e2e4e5;

$primary-btn-color: #005293;

$button-bg: #005293;

$facets-applied: #005293;

$menu-background: #001429;

$menu-color: #eee;

$loi-banner-bg-color: #005293;

$search-bg-color: #005293;

$slider-nav-hover-bg-color: #005293;

$badge-type-bg-color: #FFF;

$badge-oa-bg-color: #01b2aa;

$badge-fa-bg-color: #015293;

$badge-cme-bg-color: #005051;

$primary-commerce-color: #12548e;

$header-commerce-color: #cf102d;

$profile-primary-color: #12548e;

$table-rowgroup-bg: #eee;

$table-rowgroup-text: #333;
