.saved-searches {
.table__action{
    background: transparent;

    &:hover,&:focus{
        background: transparent;
    }
}

    .action{
   .btn{
       font-family: $secondary-font-family;
   }
    }
}


