.a-chart-map {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 20px;
  padding-bottom:66.66%;
}

.a-chart-map__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.a-chart-map .google-visualization-tooltip {
  @include google-visualization-tooltip;
}
