/***

```
<ul class="a-features-list f-body">
  <li><svg class="icon--check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--check"></use></svg> <strong>Most trusted</strong> and <strong>authoritative journel</strong> in clinical medicine</li>
  <li><svg class="icon--check"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--check"></use></svg> <strong>Highest ranking</strong> of any research journal</li>
</ul>
```

***/

.a-features-list {
  margin-top: 28px;
  padding-bottom: 16px;
}

.a-features-list > li:not(:first-child) {
  margin-top: 8px;
}

.a-features-list svg {
  position: relative;
  top: 2px;
  margin-right: 12px;
  color: $color__text--headlines;
}

.a-features-list strong {
  color: $color__text--headlines;
}
