/***

Used for ajax loads:

```
<div class="a-progress-bar"><span></span></div>
```

***/


.a-progress-bar {
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
}

.a-progress-bar span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 13%;
  background-color: $color__accent;
  transition: all .25s $bezier--ease-out-circ;
}
