/***

```
<button class="a-btn">
  Action
  <svg class="icon--arrow" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
</button>
<button class="a-btn a-btn--disabled">
  Action
  <svg class="icon--arrow" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
</button>
<button class="a-btn a-btn--no-icon">
  Action
</button>
<button class="a-btn a-btn--primary">
  Primary
  <svg class="icon--arrow" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
</button>
<button class="a-btn a-btn--primary">
  Primary
  <svg class="icon--arrow icon--arrow--rev" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
</button>
<button class="a-btn a-btn--primary a-btn--icon-first">
  <svg class="icon--arrow icon--arrow--external" aria-hidden="true"><use xlink:href="#icon--arrow" /></svg>
  Icon first
</button>
<button class="a-btn a-btn--simple">
  Simple
</button>
<button class="a-btn a-btn--simple">
  <svg class="icon--download" aria-label="Download PDF"><use xlink:href="#icon--download" /></svg>Transcript (PDF)
</button>
<button class="a-btn a-btn--fake-link">
  Fake link
</button>
<button class="a-btn a-btn--fake-link-secondary">
  Fake link
</button>
<button class="a-btn a-btn-nejm-knowledge-plus-button" type="submit">
  <span class="a-btn__label">Submit</span>
  <svg class="icon--nejm-knowledge-plus-button"><use xlink:href="#icon--nejm-knowledge-plus-button" /></svg>
</button>
<button class="a-btn a-btn--icon-only" aria-label="Search">
  <svg class="icon--arrow"><use xlink:href="#icon--arrow" /></svg>
</button>
```

***/

.a-btn {
  @include sans-serif(12, 42);
  display: inline-block;
  position: relative;
  min-width: 120px;
  height: 40px;
  padding: 0 40px 0 12px;
  border: 0;
  border-radius: 0;
  background-color: $color__link-primary;
  color: $color__white;
  font-weight: 700;
  letter-spacing: .12em;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;

  & + & {
    margin-left: 10px;
  }

  .f-body > & {
    top: -2px;
  }
}

.a-btn[disabled],
.a-btn--disabled {
  opacity: .25;
  pointer-events: none;
}

.a-btn--icon-first {
  padding-right: 12px;
  padding-left: 40px;
}

.a-btn--longer {
  min-width: 170px;
}

.a-btn.a-btn--no-icon {
  padding-right: 12px;
  text-align: center;
}

.a-btn svg {
  vertical-align: middle;
}

.a-btn .icon--arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  transform: rotate(360deg);
}

.a-btn--icon-first .icon--arrow {
  right: auto;
  left: 12px;
}

.a-btn .icon--arrow--rev {
  transform: rotate(180deg);
}

.a-btn .icon--arrow--external {
  transform: rotate(315deg);
}

.a-btn--icon-first .icon--arrow--external {
  left: 8px;
}

.a-btn:hover {
  background-color: $color__link-primary--hover;
  color: $color__white;
  text-decoration: none !important;
}


.a-btn.a-btn--primary {
  background-color: $color__accent;
  color: $color__white;
  font-weight: 700;

  &:hover {
    background-color: $color__accent--hover;
    color: $color__white;
  }
}

.a-btn.a-btn--simple {
  padding-right: 12px;
  border: 1px solid $color__black--20;
  background-color: $color__white;
  color: $color__black;
  line-height: 40px;
  text-align: center;

  &:hover {
    border-color: $color__black--30;
    background-color: $color__white;
    color: $color__black;
  }

  .s-disabled > &,
  .s-disabled > &:hover {
    border-color: $color__black--10;
    color: $color__black--30;
    cursor: default;
    pointer-events: none;
  }

  svg {
    margin-right: 6px;
  }
}

.a-btn.a-btn--fake-link {
  min-width: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  color: $color__link-primary;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  text-transform: none;

  &:hover {
    background-color: transparent;
    color: $color__link-primary;
    text-decoration: underline !important;
  }
}

.a-btn.a-btn--fake-link-secondary {
  min-width: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  color: $color__text--quaternary;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  text-transform: none;

  &:hover {
    background-color: transparent;
    color: $color__text--tertiary;
  }
}

.a-btn-nejm-knowledge-plus-button {
  position: relative;
  width: 126px;
  border-radius: 0;
  background: transparent;
  color: $color__text--secondary;
}

.a-btn-nejm-knowledge-plus-button:hover {
  background: transparent;
  color: $color__white;
}

.a-btn-nejm-knowledge-plus-button .icon--nejm-knowledge-plus-button {
  position: absolute;
  left: 0;
  top: 0;
}

.a-btn-nejm-knowledge-plus-button .a-btn__label {
  position: absolute;
  z-index: 1;
  left: 12px;
  top: 0;
  height: 34px;
  line-height: 36px;
}



.a-btn--icon-only {
  width: 40px;
  min-width: 40px;
  padding-right: 0;
  padding-left: 0;
  border: 1px solid $color__rules;
  background-color: $color__background;
  color: $color__text--headlines;
  line-height: 38px;
  text-align: center;
}

.a-btn--icon-only:hover {
  background-color: darken($color__background, 2%);
  color: $color__text--headlines;
}

.a-btn--icon-only svg,
.a-btn--icon-only .icon--arrow {
  position: static;
  height: 24px;
  margin-top: 0;
  transform: 0;
}

.a-btn.a-btn--simple.a-btn--icon-only {
  padding-right: 0;

  svg {
    margin-right: 0;
  }
}


.a-btn.a-btn--simple:disabled,
.a-btn.a-btn--simple:disabled:hover{
    border-color: $color__black--10;
    color: $color__black--30;
    cursor: default;
    pointer-events: none;
}
