.co-branding {
    section {
        margin-top: 60px;
    }

    .border-bottom {
        margin-bottom: 30px;
    }

    label {
        font-size: 0.875rem;
    }

    .btn {
        background: transparent;
        color: $profile-primary-color;
        font-size: 0.75rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

