.co-branding {

    .section__header{
        margin-top: 0px;
    }

    .btn {
        font-size: .875rem;
        color: $standard-color;
        &:hover, &:focus {
            text-decoration: underline;
            background-color: transparent;
        }
    }
}
