.quick-search{
    &__dropBlock{
        background-color: $tertiary-lighten-bg-color;
    }
    .dropBlock{
        color: $primary-title-color;
    }
    .quick-search-advanced-link{
        color: $primary-title-color;
        font-size: .875rem;
        @include media('>=desktop') {
            float: left;
        }
    }
    .icon-search {
        font-weight: bold;
        background: $dropzone-border-color;
    }
}
.quick-menu__item {
    font-size: 1.3rem;
}