.cc-icon {
    background-size: cover;
    display: inline-block;
    height: 18px;
    width: 51px;

    &--cc-by{
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by.png");
    }
    &--cc-by-sa {
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png");
    }
    &--cc-by-nd{
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nd.png");
    }
    &--cc-by-nc{
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.png");
    }
    &--cc-by-nc-sa{
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png");
    }
    &--cc-by-nc-nd{
        background-image: url("https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png");
    }
}
