.cookiePolicy-popup {
    background-color: $wiley-text-color;

    &__content {
        color: $white;
        font-weight: 600;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    &__close {
        color: $wiley-lightGray-color;
        font-weight: 300;

    }
}