 .radio--primary{

   input:checked~span:before {
     @include themify($themes) {
       background-color:themed('color');
       box-shadow: inset 0 0 0 0 themed('color'), inset 0 0 0 2px $white;
       border: 2px solid themed('color');
     }
   }

 }