button.btn, input.btn , a.btn {
    padding: 12px 16px;
    background: $secondary-bg-color;
    font-size: 14px;
    font-weight: 400;
}
.button{
    background: $secondary-bg-color;
}
.btn--inverse, .button--inverse {
    &.extra-border {
        font-weight: 400;
        border-width: 1px;
        padding: 10px 15px;
        color: $primary-title-color;
    }
    &:hover, &:focus {
        background: $secondary-bg-color;
        color: $white
    }
}