@include media('>=tablet') {
    $ajpcell : "../images/article_header_image_ajpcell.jpg";
    $ajpendo: "../images/article_header_image_ajpendo.jpg";
    $ajpgi: "../images/article_header_image_ajpgi.jpg";
    $ajpheart: "../images/article_header_image_ajpheart.jpg";
    $ajplung: "../images/article_header_image_ajplung.jpg";
    $ajpregu: "../images/article_header_image_ajpregu.jpg";
    $ajprenal: "../images/article_header_image_ajprenal.jpg";
    $ajplegacy: "../images/article_header_image_ajplegacy.jpg";
    $physiologyonline : "../images/article_header_image_physiologyonline.jpg";
    $advances: "../images/article_header_image_advances.jpg";
    $jappl: "../images/article_header_image_jappl.jpg";
    $jn: "../images/article_header_image_jn.jpg";
    $physiolgenomics: "../images/article_header_image_physiolgenomics.jpg";
    $physrev: "../images/article_header_image_physrev.jpg";
    $physrep: "../images/article_header_image_physrep.jpg";
    $apsselect: "../images/article_header_image_apsselect.jpg";

    main:not(.journal-home) {
        &.ajpcell {
            .publication_header {
                background-image: url($ajpcell);
            }
        }

        &.ajpendo {
            .publication_header {
                background-image: url($ajpendo);
            }
        }

        &.ajpgi {
            .publication_header {
                background-image: url($ajpgi);
            }
        }

        &.ajpheart {
            .publication_header {
                background-image: url($ajpheart);
            }
        }

        &.ajplung {
            .publication_header {
                background-image: url($ajplung);
            }
        }

        &.ajpregu {
            .publication_header {
                background-image: url($ajpregu);
            }
        }

        &.ajprenal {
            .publication_header {
                background-image: url($ajprenal);
            }
        }

        &.ajplegacy {
            .publication_header {
                background-image: url($ajplegacy);
            }
        }

        &.physiologyonline {
            .publication_header {
                background-image: url($physiologyonline);
            }
        }

        &.advances {
            .publication_header {
                background-image: url($advances);
            }
        }

        &.jappl {
            .publication_header {
                background-image: url($jappl);
            }
        }

        &.jn {
            .publication_header {
                background-image: url($jn);
            }
        }

        &.physiolgenomics {
            .publication_header {
                background-image: url($physiolgenomics);
            }
        }

        &.physrev {
            .publication_header {
                background-image: url($physrev);
            }
        }

        &.physrep {
            .publication_header {
                background-image: url($physrep);
            }
        }

        &.apsselect {
            .publication_header {
                background-image: url($apsselect);
            }
        }
    }
}