// Background color
.default-bg-color {
    background-color: $default-bg-color;
}
.primary-bg-color {
    background-color: $primary-bg-color;
}
.primary-hover-bg-color {
    background-color: $primary-hover-bg-color;
}
.primary-second-bg-color {
    background-color: $primary-second-bg-color;
}
.primary-third-bg-color {
    background-color: $primary-third-bg-color;
}
.secondary-bg-color {
    background-color: $secondary-bg-color;
}
.secondary-hover-bg-color {
    background-color: $secondary-hover-bg-color;
}
.secondary-second-bg-color {
    background-color: $secondary-second-bg-color;
}
.tertiary-bg-color {
    background-color: $tertiary-bg-color;
}
.tertiary-second-bg-color {
    background-color: $tertiary-second-bg-color;
}
.tertiary-third-bg-color {
    background-color: $tertiary-third-bg-color;
}
.tertiary-third-hover-bg-color {
    background-color: $tertiary-third-hover-bg-color;
}
.tertiary-fourth-bg-color {
    background-color: $tertiary-fourth-bg-color;
}
.tertiary-fifth-bg-color {
    background-color: $tertiary-fifth-bg-color;
}
.error-bg-color {
    background-color: $error-bg-color;
}
.light-bg-color {
    background-color: $light-bg-color;
}
.light-second-bg-color {
    background-color: $light-second-bg-color;
}
.light-third-bg-color {
    background-color: $light-third-bg-color;
}
.light-fourth-bg-color {
    background-color: $light-fourth-bg-color;
}
.light-fifth-bg-color {
    background-color: $light-fifth-bg-color;
}
.light-sixth-bg-color {
    background-color: $light-sixth-bg-color;
}
.light-seventh-bg-color {
    background-color: $light-seventh-bg-color;
}
.dark-bg-color {
    background-color: $dark-bg-color;
}
.dark-transparent-bg-color {
    background-color: $dark-transparent-bg-color;
}


// Text color
.primary-text-color {
    color: $primary-text-color;
}
.secondary-text-color {
    color: $secondary-text-color;
}
.secondary-second-text-color {
    color: $secondary-second-text-color;
}
.secondary-third-text-color {
    color: $secondary-third-text-color;
}
.secondary-fourth-text-color {
    color: $secondary-fourth-text-color;
}
.secondary-fifth-text-color {
    color: $secondary-fifth-text-color;
}
.secondary-sixth-text-color {
    color: $secondary-sixth-text-color;
}
.tertiary-text-color {
    color: $tertiary-text-color;
}
.tertiary-second-text-color {
    color: $tertiary-second-text-color;
}
.tertiary-third-text-color {
    color: $tertiary-third-text-color;
}
.tertiary-fourth-text-color {
    color: $tertiary-fourth-text-color;
}
.tertiary-fifth-text-color {
    color: $tertiary-fifth-text-color;
}
.tertiary-sixth-text-color {
    color: $tertiary-sixth-text-color;
}
.tertiary-seventh-text-color {
    color: $tertiary-seventh-text-color;
}
.tertiary-eighth-text-color {
    color: $tertiary-eighth-text-color;
}
.text-onDark {
    color: $text-onDark;
    background-color: $primary-bg-color;
}
.primary-link-color {
    color: $primary-link-color;
}
.primary-second-link-color {
    color: $primary-second-link-color;
}
.error-text-color {
    color: $error-text-color;
}


// Border color
.default-border-color {
    border-top: 1px solid $default-border-color;
}
.primary-border-color {
    border-top: 1px solid $primary-border-color;
}
.primary-second-border-color {
    border-top: 1px solid $primary-second-border-color;
}
.primary-third-border-color {
    border-top: 1px solid $primary-third-border-color;
}
.secondary-border-color {
    border-top: 1px solid $secondary-border-color;
}
.secondary-second-border-color {
    border-top: 1px solid $secondary-second-border-color;
}
.tertiary-border-color {
    border-top: 1px solid $tertiary-border-color;
}
.tertiary-second-border-color {
    border-top: 1px solid $tertiary-second-border-color;
}
.tertiary-third-border-color {
    border-top: 1px solid $tertiary-third-border-color;
}
.tertiary-fourth-border-color {
    border-top: 1px solid $tertiary-fourth-border-color;
}
.error-border-color {
    border-top: 1px solid $error-border-color;
}
.light-border-color {
    border-top: 1px solid $light-border-color;
}
.light-second-border-color {
    border-top: 1px solid $light-second-border-color;
}
.light-third-border-color {
    border-top: 1px solid $light-third-border-color;
}
.light-fourth-border-color {
    border-top: 1px solid $light-fourth-border-color;
}
.dark-border-color {
    border-top: 1px solid $dark-border-color;
}
