.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;

    [class^="icon-"] {
        font-size: $h3-font-size;
        margin-right: 12px;
    }

    &--success {
        background-color: $success_bg;

        [class^="icon-"] {
            color: $success-color;

        }
    }
}