.section__header {
    &.border-bottom {
        border-left: 8px solid $headings-emphasis-color;
        border-bottom-color: $headings-emphasis-color;
        color: $headings-emphasis-color;
        padding-left: 8px;
        line-height: 41px;
        padding-bottom: 0;
    }
}
