// Main Color List - try not to use
$color__orange: #f30;
$color__orange--darker: #e52e00;
$color__blue: #0b4f82;
$color__blue--darker: #062841;

$color__green: #00a449;
$color__powder-blue: #a6bacb;
$color__teal: #4aa0ae;
$color__purple: #633e6a;
$color__taupe: #a79c98;
$color__glaciablue: #f4f7f9;
$color__beige: #f8f5f2;
$color__magnolia: #fcf9eb;

// Colors - Grayscale - try not to use
$color__black: #000;
$color__black--93: #121212;
$color__black--91: #171717;
$color__black--90: #1a1a1a;
$color__black--89: #1c1c1c;
$color__black--85: #262626;
$color__black--80: #333;
$color__black--72: #474747;
$color__black--70: #4d4d4d;
$color__black--61: #636363;
$color__black--60: #666;
$color__black--50: #808080;
$color__black--49: #828282;
$color__black--40: #999;
$color__black--35: #a6a6a6;
$color__black--30: #b3b3b3;
$color__black--25: #bfbfbf;
$color__black--22: #c7c7c7;
$color__black--20: #ccc;
$color__black--15: #d9d9d9;
$color__black--10: #e2e2e2;
$color__black--5: #f2f2f2;
$color__black--3-5: #f6f5f4;
$color__black--4: #f6f6f6;
$color__black--3: #f7f7f7;
$color__black--2: #fbfbfb;
$color__white: #fff;

// Colors by usage - use these!

/***

Accent:

<ul class="colors">
  <li><span style="background:#f30;"></span> `$color__accent`
  #f30</li>
  <li><span style="background:#e52e00;"></span> `$color__accent--hover`
  #f30</li>
</ul>

***/

$color__accent: $color__orange;
$color__accent--hover: $color__orange--darker;

/***

Text colors:

<ul class="colors">
  <li><span style="background:#4d4d4d;"></span> `$color__text`
  #4d4d4d (70% black)</li>
  <li><span style="background:#1a1a1a;"></span> `$color__text--headlines`
  #1a1a1a (90% black)</li>
  <li><span style="background:#333;"></span> `$color__text--secondary`
  #333 (80% black)</li>
  <li><span style="background:#666;"></span> `$color__text--tertiary`
  #666 (60% black)</li>
  <li><span style="background:#999;"></span> `$color__text--quaternary`
  #999 (40% black)</li>
</ul>

***/

$color__text--headlines: $color__black--90; // #1a1a1a
$color__text: $color__black--70; // #4d4d4d
$color__text--secondary: $color__black--80; // #333
$color__text--tertiary: $color__black--60; // #666
$color__text--quaternary: $color__black--40; // #999

/***

Link colors:

<ul class="colors">
  <li><span style="background:#0b4f82;"></span> `$color__link-primary`
  #0b4f82</li>
  <li><span style="background:#062841;"></span> `$color__link-primary--hover`
  #062841</li>
</ul>

***/

$color__link-primary: $color__blue;
$color__link-primary--hover: $color__blue--darker;

/***

Tag colors:

<ul class="colors">
  <li><span style="background:#4aa0ae;"></span> `$color__tag--moc`
  #4aa0ae</li>
  <li><span style="background:#633e6a;"></span> `$color__tag--free`
  #633e6a</li>
  <li><span style="background:#a79c98;"></span> `$color__tag--cme`
  #a79c98</li>
  <li><span style="background:#a79c98;"></span> `$color__tag--archive`
  #a79c98</li>
</ul>

***/

$color__tag--moc: $color__teal;
$color__tag--free: $color__purple;
$color__tag--cme: $color__taupe;
$color__tag--archive: $color__taupe;

/***

Rules/keylines:

<ul class="colors">
  <li><span style="background:#e2e2e2;"></span> `$color__rules`
  #e2e2e2</li>
</ul>

***/

$color__rules: $color__black--10;

/***

Input borders:

<ul class="colors">
  <li><span style="background:#ccc;"></span> `$color__input-border`
  #ccc</li>
  <li><span style="background:#b3b3b3;"></span> `$color__input-border--hover`
  #b3b3b3</li>
</ul>

***/

$color__input-border: $color__black--20;
$color__input-border--hover: $color__black--30;
$color__input-border--focus: $color__black--40;

/***

Backgrounds:

<ul class="colors">
  <li><span style="background:#f6f6f6;"></span> `$color__background`
  #f6f6f6</li>
  <li><span style="background:#f4f7f9;"></span> `$color__background--badge`
  #f4f7f9</li>
  <li><span style="background:#f8f5f2;"></span> `$color__background--widget`
  #f8f5f2</li>
  <li><span style="background:#fcf9eb;"></span> `$color__background--alert`
  #fcf9eb</li>
  <li><span style="background:#333;"></span> `$color__background--tooltip`
  #333</li>
  <li><span style="background:#f30;"></span> `$color__background--retraction`
  #f30</li>
  <li><span style="background:#00a549;"></span> `$color__background--success`
  #00a549</li>
  <li><span style="background:#f8f5f2;"></span> `$color__background--table-caption`
  #f8f5f2</li>
  <li><span style="background:#f6f6f6;"></span> `$color__background--tbody-th-row`
  #f6f6f6</li>
  <li><span style="background:#fcf9eb;"></span> `$color__background--contrast-row`
  #fcf9eb</li>
</ul>

***/

$color__background: $color__black--4;
$color__background--badge: $color__glaciablue;
$color__background--widget: $color__beige;
$color__background--alert: $color__magnolia;
$color__background--tooltip: $color__black--80;
$color__background--retraction: $color__orange;
$color__background--success: $color__green;
$color__background--table-caption: $color__beige;
$color__background--tbody-th-row: $color__black--2;
//$color__background--contrast-row: $color__magnolia;
$color__background--contrast-row: $color__black--4;

/***

Promo accent:

<ul class="colors">
  <li><span style="background:#a6bacb;"></span> `$color__promo-accent`
  #a6bacb</li>
</ul>

***/


$color__promo-accent: $color__powder-blue;

/***

Widget backgrounds:

<ul class="colors">
  <li><span style="background:#f6f2ef;"></span> `$color__widget-bg--career-center`
  #a6bacb</li>
</ul>

***/

$color__aside-bg--career-center: #f6f2ef;

/***

Misc:

<ul class="colors">
  <li><span style="background:#900;"></span> `$color__error`
  #900</li>
  <li><span style="background:#fcf7f8;"></span> `$color__error-bg`
  #fcf7f8</li>
  <li><span style="background:#f30;"></span> `$color__error-border`
  #f30</li>
  <li><span style="background:#f5fcf9;"></span> `$color__correct-bg`
  #f5fcf9</li>
  <li><span style="background:#00c060;"></span> `$color__correct-border`
  #00c060</li>
  <li><span style="background:#fcf7f8;"></span> `$color__incorrect-bg`
  #fcf7f8</li>
  <li><span style="background:#d50000;"></span> `$color__incorrect-border`
  #d50000</li>
</ul>

***/

$color__error: #d30000;
$color__error-bg: #fcf7f8;
$color__error-border: #f30;
$color__correct-bg: #f5fcf9;
$color__correct-border: #00c060;
$color__incorrect-bg: #fcf7f8;
$color__incorrect-border: #d50000;
