.icon--alert {
	width: 16px;
	height: 16px;
}

.icon--arrow {
	width: 24px;
	height: 24px;
}

.icon--arrow-45deg {
	width: 24px;
	height: 24px;
}

.icon--audio {
	width: 16px;
	height: 16px;
}

.icon--audio--64 {
	width: 64px;
	height: 64px;
}

.icon--audio-muted {
	width: 16px;
	height: 16px;
}

.icon--burger-play {
	width: 24px;
	height: 24px;
}

.icon--chapter {
	width: 24px;
	height: 24px;
}

.icon--check {
	width: 16px;
	height: 16px;
}

.icon--chevron {
	width: 24px;
	height: 24px;
}

.icon--clock {
	width: 16px;
	height: 16px;
}

.icon--close {
	width: 24px;
	height: 24px;
}

.icon--cme {
	width: 23px;
	height: 16px;
}

.icon--comment {
	width: 16px;
	height: 16px;
}

.icon--download {
	width: 24px;
	height: 24px;
}

.icon--edit {
	width: 16px;
	height: 16px;
}

.icon--facebook {
	width: 16px;
	height: 16px;
}

.icon--feature {
	width: 24px;
	height: 28px;
}

.icon--free {
	width: 26px;
	height: 16px;
}

.icon--fullscreen {
	width: 24px;
	height: 24px;
}

.icon--grid {
	width: 24px;
	height: 24px;
}

.icon--info {
	width: 16px;
	height: 16px;
}

.icon--interactive {
	width: 16px;
	height: 16px;
}

.icon--link {
	width: 16px;
	height: 16px;
}

.icon--linkedin {
	width: 16px;
	height: 16px;
}

.icon--logo-32 {
	width: 208px;
	height: 32px;
}

.icon--logo-40 {
	width: 260px;
	height: 40px;
}

.icon--logo-60 {
	width: 385px;
	height: 60px;
}

.icon--logo-knowledge-plus {
	width: 91px;
	height: 30px;
}

.icon--logo-knowledge-plus--lg {
	width: 190px;
	height: 62px;
}

.icon--logo-resident-360 {
    width: 92px;
    height: 27px;
}

.icon--logo-resident-360--lg {
	width: 208px;
	height: 60px;
}

.icon--meatball {
	width: 100px;
	height: 100px;
}

.icon--menu {
	width: 24px;
	height: 24px;
}

.icon--metrics_citations {
	width: 64px;
	height: 64px;
}

.icon--metrics_media-coverage {
	width: 64px;
	height: 64px;
}

.icon--metrics_page-views {
	width: 64px;
	height: 64px;
}

.icon--metrics_social-media {
	width: 64px;
	height: 64px;
}

.icon--minus {
	width: 24px;
	height: 24px;
}

.icon--minus--sm {
	width: 16px;
	height: 16px;
}

.icon--moc {
	width: 24px;
	height: 16px;
}

.icon--more {
	width: 24px;
	height: 24px;
}

.icon--nejm-career-center {
	width: 180px;
	height: 48px;
}

.icon--nejm-catalyst {
	width: 180px;
	height: 48px;
}

.icon--nejm-group {
	width: 72px;
	height: 28px;
}

.icon--nejm-journal-watch {
	width: 180px;
	height: 48px;
}

.icon--nejm-knowledge-plus {
	width: 180px;
	height: 48px;
}

.icon--nejm-knowledge-plus-button {
	width: 127px;
	height: 40px;
}

.icon--pause {
	width: 16px;
	height: 16px;
}

.icon--permissions {
	width: 24px;
	height: 24px;
}

.icon--play {
	width: 16px;
	height: 16px;
}

.icon--plus {
	width: 24px;
	height: 24px;
}

.icon--plus--sm {
	width: 16px;
	height: 16px;
}

.icon--poll {
	width: 16px;
	height: 16px;
}

.icon--print {
	width: 24px;
	height: 24px;
}

.icon--rss {
	width: 24px;
	height: 24px;
}

.icon--save {
	width: 24px;
	height: 24px;
}

.icon--saved {
	width: 24px;
	height: 24px;
}

.icon--search {
	width: 24px;
	height: 24px;
}

.icon--search--mobile {
	width: 24px;
	height: 24px;
}

.icon--share {
	width: 24px;
	height: 24px;
}

.icon--slideshow {
	width: 16px;
	height: 16px;
}

.icon--slideshow--64 {
	width: 64px;
	height: 64px;
}

.icon--trash {
	width: 16px;
	height: 16px;
}

.icon--triangle {
	width: 8px;
	height: 8px;
}

.icon--twitter {
	width: 16px;
	height: 16px;
}

.icon--user {
	width: 24px;
	height: 24px;
}

.icon--video {
	width: 16px;
	height: 16px;
}

.icon--youtube {
	width: 16px;
	height: 16px;
}

