.book-suppl {
  margin-top: 1rem;
  .section-header {
    font-size: 0.875rem;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__item {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    a {
      color: $secondary-color;
    }
  }
}