.content__submission{

  [class^="btn--"]{
    margin-right: 10px;
  }

  h1 {
    margin-top: 10px;
  }

  h1,h4,label{
    color: initial;
  }

  label {
    text-transform: capitalize;
  }

  .btn {

    width: auto;
    min-width: 104px;
  }

  .row + .row {
    margin-top: 40px;
  }

  hr.separator {
    margin: 0 0 15px;
  }


  &.readonly{
    color:$secondary-text-color;

    .label-txt{
      color:$secondary-text-color;
    }
  }

}