.news {
    &__header {
        background: $basic-bg-color;
        color: $black;
        padding: 13px 6px;
        font-size: 1rem;
        font-weight: normal;
    }
    &__authors {
        font-size: $smaller-font-size;
        color: rgba(0, 0, 0, 0.54);
        margin: 8px 0;
    }

    &__content {
        padding: 12px 16px;
        margin-bottom: 32px;
        box-shadow: 0 4px 4px 0 $shadow-light-color;

        h3 {
            width: 80%;
            font-family: $tertiary-font-family;
            font-size: 1rem;
            font-weight: bold;
            color: $standard-bg-color;
            margin: 0 0 10px;
        }

        p {
            margin: 0;
        }
    }

    &__img {
        width: 100%;
    }
}