.linked-article {
    &__item {
        margin-bottom: 32px;
    }
    &__details {
        margin-bottom: 4px;
    }
    &__labels {
        font-weight: bold;
        margin-bottom: 6px;
        margin-top: 6px;
    }
    &__links {
        a {
            color: fade_out($primary-body-font-color, 0.4);
            font-size: 1rem;
        }
        li {
            float: left;
        }
    }
    &__title {
        i {
            padding-left: 10px;
            display: inline-block;
            font-size: 0.7rem;
            color: $primary-body-font-color;
            font-weight: bold;
            border-bottom: 6px solid $white;
        }
    }
    .bulleted {
        &:after {
            margin-left: 6px;
            margin-right: 5px;
        }
    }
}