.inline-table {
    &__head {
        font-weight: 600;
        span {
            font-size: 1.125rem;
        }
    }
}

table {
    th {
        padding-bottom: 11px;
    }
    td,
    th,
    strong {
        font-size: 0.9375rem;
    }
}