//BACKGROUNDS

.transparent-bg-color {
  background: $aha_transparent;
}

.black-bg-color {
  background: $aha_black;
}
.lighten-black-bg-color {
  background: $aha_lighten_black;
}

.white-bg-color {
  background: $aha_white;
}
.darken-white-bg-color {
  background: $aha_darken_white;
}

.grey-bg-color {
  background: $aha_grey;
}

.lighten-grey-bg-color {
  background: $aha_lighten_grey;
}
.darken-grey-bg-color {
  background: $aha_darken_grey;
}

.red-bg-color {
  background: $aha_red;
}
.lighten-red-bg-color {
  background: $aha_lighten_red;
}
.darken-red-bg-color {
  background: $aha_darken_red;
}

.green-bg-color {
  background: $aha_green;
}
.darken-green-bg-color {
  background: $aha_darken_green;
}

//TEXTS
.black-text-color {
  color: $aha_black;
}

.lighten-black-text-color {
  color: $aha_lighten_black;
}

.grey-text-color {
  color: $aha_grey;
}
.darken-grey-text-color {
  color: $aha_darken_grey;
}
.lighten-grey-text-color {
  color: $aha_lighten_grey;
}

.green-text-color {
  color: $aha_green;
}
.darken-green-text-color {
  color: $aha_darken_green;
}

.red-text-color {
  color: $aha_red;
}
.lighten-red-text-color {
  color: $aha_lighten_red;
}
.darken-red-text-color {
  color: $aha_darken_red;
}

//BORDERS
[class*=border-color] {
  border: 2px solid;
  height: 24px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.black-border-color {
  border-color: $aha_black;
}

.grey-border-color {
  border-color: $aha_grey;
}
.darken-grey-border-color {
  border-color: $aha_darken_grey;
}
.lighten-grey-border-color {
  border-color: $aha_lighten_grey;
}

.green-border-color {
  border-color: $aha_green;
}
.darken-green-border-color {
  border-color: $aha_darken_green;
}

.red-border-color {
  border-color: $aha_red;
}
.lighten-red-border-color {
  border-color: $aha_lighten_red;
}
.darken-red-border-color {
  border-color: $aha_darken_red;
}