
[data-slide-target*="filter"] {
    margin: 15px 0 35px;
    line-height: 16px;
    i {
        font-weight: bold;
        margin-right: 10px;
        float: left;
    }
}
.w-slide__content{
    #filter{
        display: block !important;
    }
}