<div class="table-of-content">
    <div class="toc__latest-issue left-side-image">
        <h3 class="section__header border-bottom">latest issue</h3><a href="#" title="cover"><img alt="cover" src="http://ux3-proto.literatumonline.com/resources/cms/settings/fum/publications/fca/cover.png"/></a>
        <div class="meta__body">
            <h5 class="meta__title">Et Harum Quidem<br/>Volume 23, Issue 12</h5>
            <div class="meta__info">
                <p>Pages 4375 - 4780</p>
                <p>10 Mar 2017</p>
                <p>Issue edited by: Juan Pablo Pena - Rosas, David J. Copperfield, Saul Binienda</p>
            </div>
        </div>
        <hr/>
    </div>
    <nav class="toc__section"><a href="#" data-db-target-for="sections" data-db-switch="icon-close_thin" title="Go To Sections" data-slide-target="#sections" class="w-slide__btn"><i class="icon-toc"></i><span>Sections</span></a>
        <div id="sections">
            <ul data-db-target-of="sections" class="sections__drop rlist separator"></ul>
        </div>
    </nav>
    <h5 class="toc__heading section__header to-section">Section 1: lorem impsum</h5>
    <h6 class="toc__heading section__header">subheader</h6>
    <h6 class="toc__heading">Aknowledgements to reviewer</h6>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <p>
                        11 The King-Devick test of rapid number
                        naming
                        for concussion detection: meta-analysis and systematic review of the literature
                        11 The King-Devick test of rapid number naming for concussion detection: meta-analysis
                        and systematic review of the literature
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span><span class="badge-type">free</span><span class="badge-type--icon"><i class="icon-cc_large2"></i></span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="accordion corrections-container"><a href="#" title="Single Accordion Controller" data-slide-target="#id1" class="accordion__control corrections-container__label w-slide__btn"><i aria-hidden="true" class="icon-notice"></i><span>This article has been corrected</span><i aria-hidden="true" class="icon-section_arrow_d"></i></a>
            <div id="id1" style="display: none;" class="accordion__content corrections-container-body hidden-xs hidden-sm">
                <ul class="rlist separator corrections-container__list">
                    <li>
                        <h6><a href="#">
                            A UK registry study of the effectiveness of a new over-the-counter
                            chronic pain therapy</a></h6>
                        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
                            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
                            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
                        </ul>
                        <div class="parent-item"><span class="comma">PAIN MANAGEMENT</span><span class="comma">VOL. 27</span>NO. 1</div>
                    </li>
                    <li>
                        <h6><a href="#">
                            A UK registry study of the effectiveness of a new over-the-counter
                            chronic pain therapy</a></h6>
                        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
                            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
                            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
                        </ul>
                        <div class="parent-item"><span class="comma">PAIN MANAGEMENT</span><span class="comma">VOL. 27</span>NO. 1</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <h5>Key Points</h5>
                    <ul class="rlist points">
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span><span class="badge-type">free</span><span class="badge-type--icon"><i class="icon-cc_large2"></i></span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <h5>Abstract Title</h5>
                    <div class="left-side-image clearfix"><a href="#" title="cover"><img alt="cover" src="http://ux3-proto.literatumonline.com/resources/cms/settings/fum/publications/fca/cover.png"/></a>
                        <p>
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section__separator"/>
    <h5 class="toc__heading section__header to-section">Section 2: lorem impsum</h5>
    <h6 class="toc__heading section__header">subheader</h6>
    <h6 class="toc__heading">Aknowledgements to reviewer</h6>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <p>
                        11 The King-Devick test of rapid number
                        naming
                        for concussion detection: meta-analysis and systematic review of the literature
                        11 The King-Devick test of rapid number naming for concussion detection: meta-analysis
                        and systematic review of the literature
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span><span class="badge-type">free</span><span class="badge-type--icon"><i class="icon-cc_large2"></i></span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="accordion corrections-container"><a href="#" title="Single Accordion Controller" data-slide-target="#id2" class="accordion__control corrections-container__label w-slide__btn"><i aria-hidden="true" class="icon-notice"></i><span>This article has been corrected</span><i aria-hidden="true" class="icon-section_arrow_d"></i></a>
            <div id="id2" style="display: none;" class="accordion__content corrections-container-body hidden-xs hidden-sm">
                <ul class="rlist separator corrections-container__list">
                    <li>
                        <h6><a href="#">
                            A UK registry study of the effectiveness of a new over-the-counter
                            chronic pain therapy</a></h6>
                        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
                            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
                            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
                        </ul>
                        <div class="parent-item"><span class="comma">PAIN MANAGEMENT</span><span class="comma">VOL. 27</span>NO. 1</div>
                    </li>
                    <li>
                        <h6><a href="#">
                            A UK registry study of the effectiveness of a new over-the-counter
                            chronic pain therapy</a></h6>
                        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
                            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
                            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
                            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
                        </ul>
                        <div class="parent-item"><span class="comma">PAIN MANAGEMENT</span><span class="comma">VOL. 27</span>NO. 1</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <h5>Key Points</h5>
                    <ul class="rlist points">
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                        <li>
                            Lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
                            ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="issue-item">
        <div class="badges"><span class="badge-type">Review</span><span class="badge-type">free</span><span class="badge-type--icon"><i class="icon-cc_large2"></i></span></div><span class="pull-right code">cnc8</span>
        <h5 class="issue-item__title"><a href="#">
            Enhancement of
            Microjitter Attenuation Capability for a Stepper-Actuated Two-Axis Gimbal-Type Antenna by Using a
            Spring-Blade Isolator Spring-Blade Isolator performing asychronous optimization in two step nural
            electromagnetic motor . Results on 2 dimensional lattices and 1/2 spin optimization and Monte Carlo
            methods deliver quantum localization in disorder Heisenberg chains. Barabasi graph in combinatorics
            in Mathematica combinatorics package.</a></h5>
        <ul style="float: none; position: static;" aria-label="authors" class="rlist--inline loa comma">
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
            <li><a href="/author/search/url?q=Nick Gayeski" title="Nick Gayeski"><span>Nick Gayeski</span></a></li>
            <li><a href="/author/search/url?q=George Pess" title="George Pess"><span>George Pess</span></a></li>
            <li><a href="/author/search/url?q=Tim Beechie" title="Tim Beechie"><span>Tim Beechie</span></a></li>
        </ul>
        <div class="toc-item__detail"><span>Pages:</span> 788-793<span class="separator"></span><span>First published:</span> 14 September 1998</div>
        <p><a href="https://doi.org/10.1017/aer.2017.4">https://doi.org/10.1017/aer.2017.4</a></p>
        <div class="toc-item__footer">
            <ul class="rlist--inline separator toc-item__detail">
                <li><a href="#" title="Full text">Full text</a></li>
                <li><a href="#" title="Abstract">Abstract</a></li>
                <li><a href="#" title="PDF">PDF</a></li>
                <li><a href="#" title="References">References</a></li>
            </ul>
            <div class="accordion"><a href="#" title="Preview Abstract" class="accordion__control"><i class="icon-section_arrow_d"></i>Preview Abstract</a>
                <div class="accordion__content toc-item__abstract">
                    <h5>Abstract Title</h5>
                    <div class="left-side-image clearfix"><a href="#" title="cover"><img alt="cover" src="http://ux3-proto.literatumonline.com/resources/cms/settings/fum/publications/fca/cover.png"/></a>
                        <p>
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="section__separator"/>
</div>