/***

```
<div class="o-col o-col--2-medium-plus o-correspondence-items">
  <h3 class="o-correspondence-items__title f-h13">Correspondence</h3>
  <ul class="o-correspondence-items__list">
    <li class="m-correspondence-item f-h7">
      <a href="#" class="m-correspondence-item__link">
        Randomized Trial of Thymectomy in Myasthenia Gravis
      </a>
    </li>
  </ul>
</div>
```

***/
/***
  Related: `.m-correspondence-item`
***/

.o-correspondence-items {
  margin-top: -4px;

  @include breakpoint('medium+') {
    margin-top: 0;
  }
}

.o-correspondence-items__title {
  margin-top: 0;
  text-align: center;
}

.o-correspondence-items > img {
  display: block;
  margin: 16px auto 0;
}

.o-correspondence-items__list {
  margin-top: 8px;
}
