.article-tool {
    border-top: 1px solid $secondary-border;
    margin: 0;
    a {
        padding: 13px 8px 13px;
        color: $primary-text-color;
        &:hover {
            background-color: $default-bg-color;
            color: $primary-blue-color
        }
    }
    &:first-child {
        border-top: 0;
    }
    i {
        color: $primary-blue-color;
    }
}

.icon-Icon_Tools:before {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.article-tools__block {
    min-width: 200px;
    font-size: $primary-text-size;
    background: $primary-white;
    padding: 0;
    right: -10px;
}