.author-index {

    &__facet-title {
        color: $ess-secondary-text-color;
    }

    &__browse-alpha {
        background: $facet-bg-color;
    }

    &__alphanumeric {
        .letter {
            background-color: $note-bg-color;
        }
    }

}