h4 {
    font-weight: 500;
}

.primary-text-size {
    font-size: $primary-text-size;
}

.header-section-text {
    font-size: $header-section-text;
    font-weight: 900;
}

.capitalize {
    text-transform: uppercase;
}

.small-text-size {
    font-size: $small-text-size;
}
.profile__heading {
    text-transform: initial;
}