.facet {
    &__select--hidden {
        .ms-ctn.form-control {
            input {
                background-color: transparent;
            }
        }
    }
    padding-bottom: 0;

    &__title, &__content, .custom-date-form {
        @include media('<desktop') {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

