$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$default-font-size: 1rem;
 // 16px
$small-font-size: 0.875rem;
 // 14px
$x-small-font-size: 0.75rem;
 // 12px
$h1-font-size: 1.75rem;
 // 28px
$h2-font-size: 1.5rem;
 // 24px
$h3-font-size: 1.25rem;
 // 20px
$h4-font-size: 1.125rem;
 // 18px
$h5-font-size: 0.875rem;
 // 14px
$h6-font-size: 0.75rem;
 // 12px
$icon-font-size: 1rem;
 // 16px
$large-icon-font-size: 1.25rem;
 // 20px
$x-large-icon-font-size: 1.5rem;
 // 24px
$xx-large-icon-font-size: 2rem;
 // 32px
$gutter-size: 1.875rem;
 // 30px
$gutter-extra-size: 3.75rem;
 // 60px