$aha_transparent: transparent;

$aha_black: #000;

$aha_lighten_black: #4a4a4a;

$aha_white: #fff;

$aha_darken_white: #fafafa;

$aha_grey: #bdbdbd;

$aha_darken_grey: #828282;

$aha_lighten_grey: #f1f1f1;

$aha_red: #c5161d;

$aha_lighten_red: #e00000;

$aha_darken_red: #b50000;

$aha_green: #237d84;

$aha_darken_green: #11676f;

$default-bg-color: #fff;

$primary-bg-color: #fff;

$journal_atvb: #6a2875;

$journal_circ: #c5161d;

$journal_circep: #00b3bd;

$journal_circgen: #ed0677;

$journal_circimaging: #89c659;

$journal_circinterventions: #ff4000;

$journal_circoutcomes: #9b8542;

$journal_circheartfailure: #8e6b9c;

$journal_res: #005b99;

$journal_hyp: #007a5e;

$journal_str: #323339;

$journal_jaha: #da1f26;
