
.support{
  &__logo{
    margin: 20px 10px 0;
  }
  &__label{
    margin: 10px;
    color: $standard-color;
    font-size: 1.1rem;
    font-family:  $secondary-font-family;
  }
}

.content.toc{
  @include media('<tablet'){
    padding-top: 100px;
  }
}