<a href="#" title="see all authors" data-slide-target="#sb-1" class="w-slide__btn loa comma visible-xs mobile-authors">
    <ul class="rlist--inline ">
        <li><span>Nick Gayeski 2</span>
            <span class="ORCID-icon">iD</span>
            <i aria-hidden="true" class="icon-Icon_mail authors__icon"></i>
        </li>
        <li><span>George Pess</span><i aria-hidden="true" class="icon-Icon_mail authors__icon"></i></li>
        <li><span>Mike Rott</span></li>
        <li><span>Lucas Ferenz</span></li>
    </ul>
    <span class="see-all-authors">See all authors <i aria-hidden="true" class="icon-arrow_r"></i></span>

</a>

<div class="loa-wrapper hidden-xs">
    <div id="sb-1" class="accordion">
        <div class="accordion-tabbed loa-accordion">
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a1" data-db-target-for="a1" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a1" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <i class="envelope"></i>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a2" data-db-target-for="a2" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a2" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a3" data-db-target-for="a3" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a3" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a4" data-db-target-for="a4" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a4" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a5" data-db-target-for="a5" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a5" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a6" data-db-target-for="a6" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a6" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a7" data-db-target-for="a7" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a7" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>,
            <div class="accordion-tabbed__tab-mobile accordion__closed">
                <a href="#" data-id="a8" data-db-target-for="a8" title="Jonathan Pansieri" class="author-name accordion-tabbed__control visible-x">
                    <span>Jonathan Pansieri <span class="ORCID-icon">iD</span></span>
                    <i aria-hidden="true" class="icon-arrow_d_n"></i></a>
                <div data-db-target-of="a8" class="author-info accordion-tabbed__content"><h5>Corresponding Author</h5>
                    <div class="author-email">
                        <span class="envelope"></span>
                        <a href="mailto:getrudewolf@caltech.edu.com">getrudewolf@caltech.edu.com</a>
                    </div>
                    <div class="author-orcid"><span class="ORCID-icon">iD</span> <a href="#">orcid.org/0000-0002-7015-3710</a>
                    </div>
                    <ol>
                        <li>Center for robotic exploration of the solarsystem NASA Jet Propulson Laboratory "Caltech</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>