// Hide tabbable panes to start, show them when `.active`
.tab {
    .dropBlock {
        > a {
            background: $primary-bg-color;
            color: $text-onDark;
        }
        i {
            color: $text-onDark;
        }
    }
}
