.categories-widget {
    .readonly {
        span:not(:first-child):before {
            content: ", ";
        }
    }

}

.jcf-select-submission__select {
    .jcf-optgroup-caption {
        display: none;
    }
}