.facet {
    &__list--applied {
        li {

          background-color: $secondary-lighten-bg-color;
          @include themify($themes) {
            background-color: themed('color2');
          }
          color: $primary-text-color;
          font-weight: 400;
          border: none;
        }

        .icon-tools_close {
          color: $primary-text-color;
        }
    }

}

