.table-viewer {
  color: $aha_black;
  background: $aha_darken_white;

  button {
    background-color: transparent;
    padding: 0;
  }
  &__ctrl {
    float: right;
    border-left: 1px solid $aha_grey;
    padding-left: 28px;
    margin-left: 28px;
    vertical-align: middle;
    &:last-of-type {
      margin-left:0;
      padding-left: 0;
      border-left: none;
    }
    span {
      font-size:1rem; //16px
      font-weight: 600;
      color: $aha_lighten_black;
      line-height: 58px;
    }
  }
  //opened
  &.js-opened {
    display: block;
  }

  &__hold__tbl {
    div.holder:not(.zoomed) {
      position: relative;
      max-width: 100%;

      .article-table-content {
        padding: 0;
        border-top: none;
        max-width: 90%;
      }
    }

    .zoomed {
      div.holder:hover {
        cursor: move;
      }
    }

    &cap {
      font-size: 1rem;

      tblcaption {
        max-height: 70vh;
        overflow: auto;
      }

      .accordion__control {display: none;}
      .accordion__content {display: block !important;}
    }
  }

  &__hold__list {
    display: flex;
    flex-wrap: wrap;
    height: 92vh;
    overflow: auto !important;
    justify-content: space-between;
    align-items: center;

    .article-table-content {
      // LIT-161412
      // https://connect.microsoft.com/IE/feedbackdetail/view/951267/horizontal-scrolling-with-flex-grow-max-width
      // max-width: 30%;
      padding: 10px;
      flex-grow: 1;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      width: 50%;
    }

    // tblcaption {
    //   display: none;
    // }

    .article-table-content {
      @include media('>=desktop') {
        max-height: 200px;
      }
    }
  }

  &__reg__top {
    background: $aha_white;
    padding: 0px 30px;
    transition: width 0.3s;
    position: relative;
    margin-right: 0;
    margin-left: auto;
    border-bottom:1px solid $aha_grey;
    // __caption_area is opened
    &.js-open {
      width: 80%;
      padding-left: 0;
      .table-viewer__top__left {
        margin-left:-28px;
      }
      @media screen and (min-width: $container-md) and (max-width: $container-lg){
        width: 75%;
      }
    }
  }

  &__reg__center {
    position: relative;
    height: 100vh;
  }

  &__cent__left {
    //default
    width: 100%;
    transition: width 0.3s;
    position: relative;

    margin-right: 0;
    margin-left: auto;
    // __caption_area is opened
    &.js-open {
      width: 80%;

      @media screen and (min-width: $container-md) and (max-width: $container-lg){
        width: 75%;
      }
    }
  }

  &__caption_area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    width: 20%;
    @media screen and (min-width: $container-md) and (max-width: $container-lg){
      width: 25%;
    }
    background: $aha_white;
    color: $aha_black;
    padding: 0 30px;;
    //default
    backface-visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.1s, box-shadow 0.1s;

    .icon-doublearrow {
      transform: none;
      font-size: 1.625rem; // 26px
      vertical-align: top;
      line-height: inherit;
      //margin-left:-30px;
    }

    &.js-open { //opened
      transform: translateX(0);

      .icon-doublearrow {
        transform: rotate(0deg);
      }
    }
  }

  &__top__right {
    float: right;

    span {
      display: block;
    }
  }

  &__top__left {
    float: left;
    overflow: hidden;
    height: initial;
    margin-left: 0px;
  }

  [class*="__ctrl__"],
  [class*="__label__"] {
    color: inherit;
    background: inherit;
    background: inherit;
    height: 58px;
  }

  &__ctrl__close {
    float: right;
    font-size: 1.625rem; // 26px
  }

  &__label__zoom {
    float: right;
    margin-right: 0px;
    font-size: 1.5rem; // 29px
  }

  &__ctrl__browse,
  &__ctrl__return {
    margin-right: 0px;
    vertical-align: inherit;
    display: inline-block;
  }

  &__ctrl__next,
  &__ctrl__prev {
    position: relative;
    top: 0;
    margin-top: 0px;
    z-index: 9;
    font-size: 1rem; // 16px
    padding: 20px;

    span {
      display: inline-block;
      text-shadow: none;
      font-size: 0.725rem;
    }
  }

  &__ctrl__next {
    right: 0px;
  }

  &__ctrl__prev {
    left: 0px;
  }

  &__ctrl__browse,
  &__ctrl__return {
    span {
      font-size: 1.5rem;
      display: inline-block;
      font-weight: 400;
    }
  }

  &__title {
    position: relative;
    left: 125px;
    font-size: 1.25rem;
    transition: left 0.3s;
    margin-bottom: 30px;
    text-align: right;
    line-height: 58px;

    .js-open & {
      left: 0;

      &__text {
        opacity: 1;
        display: inline-block;
      }
    }
  }

  &__ctrl__caption {
    & > span {
      min-width: initial;
      display: inline-block;
      font-size: 1rem;
      text-align: left;
      vertical-align: middle;
    }
    &.js-open {
      display: none;
    }

    &.reversed {
      display: block;
      line-height: 58px;
      color: $aha_green;
      transform: rotate(180deg);
    }
  }

  @include media('>=desktop') {
    &__ctrl__caption  {
      margin-left: 0;
      background: $dark-grey;
      padding: 0;
    }
  }

  &__caption {
    &__label {
      &:after {
        display: none;
      }
    }
  }

  .tblZoomSlider {
    background: transparent;
    border: 0;
    border-radius: 0;
    width: 120px;
    margin-right: 13px;
    display: inline-block;
    vertical-align: middle;
  }

  .ui-slider-handle {
    background: transparent;
    border-radius: 10px;
    border: 3px solid $white;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    top: -0.1em;
    margin-left: -0.6em;
  }

  .is-hidden {
    display: none;
  }

  // ------------------------  Zoom Range custom styles, visit http://danielstern.ca/range.css/#/ for more details and cutomization ---------------------------
  // range thumb related styles
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: transparent;
    border: 0;
    padding: initial;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
    background: $grey;
    border-radius: 0;
    border: 0 solid $darker-grey;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    height: 15px;
    width: 1px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.35px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $light-grey;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
    background: $grey;
    border-radius: 0;
    border: 0 solid $darker-grey;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    height: 15px;
    width: 1px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: $grey;
    border: 0 solid $darker-grey;
    border-radius: 0;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
  }

  input[type=range]::-ms-fill-upper {
    background: $grey;
    border: 0 solid $darker-grey;
    border-radius: 0;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    height: 15px;
    width: 1px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
    height: 2.3px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $grey;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: $light-grey;
  }

  // range track related styles
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
    background: $grey;
    border-radius: 0.4px;
    border: 0 solid $darker-grey;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    height: 20px;
    width: 20px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.85px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $light-grey;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
    background: $grey;
    border-radius: 0.4px;
    border: 0 solid $darker-grey;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    height: 20px;
    width: 20px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 2.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: $grey;
    border: 0 solid $darker-grey;
    border-radius: 0.8px;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
  }

  input[type=range]::-ms-fill-upper {
    background: $grey;
    border: 0 solid $darker-grey;
    border-radius: 0.8px;
    box-shadow: 0 0 0 $dark-grey, 0 0 0 $darker-grey;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px $dark-grey, 0 0 1px $darker-grey;
    border: 1px solid $white;
    width: 20px;
    border-radius: 250px;
    background: $dark-grey;
    cursor: pointer;
    height: 2.3px;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $grey;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: $light-grey;
  }
}

.article-table-content {
  &:hover {
    cursor: pointer;
  }
}

/*  small and xsmall screen size styles
===============================================================*/

@include media('>=desktop') {
  .table-viewer {
    &__title__text {opacity: 1;}
  }
}

@include media('<desktop') {
  .table-viewer {
    &__hold__list {
      div.holder {
        width: 125%;
        max-width: 100%;
      }
    }

    &__reg__center {
      height: 96vh;
    }

    &__cent__left {
      &.js-open {
        width: 100%;
      }
    }

    &__caption_area {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      height: auto;
      z-index: 9;
      width: 100%;
      padding: 20px 20px 60px;
      transform: translateY(100%);

      &.js-open { //opened
        transform: translateY(0);
      }
    }

    &__ctrl__caption {
      left: 50%;
      top: -26px;
      margin-left: -36px;
      text-align: center;
      border-radius: 4px 4px 0 0;
      text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);

      .icon-arrow_d_n {
        display: none;
        font-size: 0.625rem; // 10px
        padding-bottom: 10px;
      }

      &.js-open {
        .icon-arrow_d_n {
          display: block;
        }

        .icon-info,
        .icon-arrow_r {
          display: none;
        }
      }
    }

    &__title {
      position: relative;
      left: auto;
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 30px;
      top: -125px;
      transition: top 0.3s;

      .js-open & {
        left: auto;
        top: 10px;
      }
    }

    .icon-doublearrow {
      transform: rotate(270deg);
    }

    &__caption_area.js-open {
      .icon-doublearrow {
        transform: rotate(90deg);
      }
    }
  }
}

@include media('<tablet') {
  .table-viewer{
    &__top__left {
      max-width: calc(100% - 30px);
    }

    &__ctrl__prev {left: -10px;}
    &__ctrl__next {right: -10px;}

    &__hold__tbl .article-table-content:not(.zoomed) {max-width: 75%;}
  }
}

input[type=range] {
  -webkit-appearance: none !important;
  width: 100%!important;;
}
input[type=range]:focus {
  outline: none!important;;
}
input[type=range]::-webkit-slider-runnable-track {
  border: none !important;
  width: 100%!important;;
  height: 4px!important;;
  cursor: pointer!important;;
  animate: 0.2s!important;;
  background: $aha_grey !important;
}
input[type=range]::-webkit-slider-thumb {
  border: none !important;
  height: 16px !important;
  width: 16px !important;
  background: $aha_green !important;
  margin-top: -6px !important;
  box-shadow: none !important;
}