@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*Font values from MAL style guide: http://testatyponlol.liebertpub.com/styleguide/liebertstyleguide.html*/
body {
	line-height: 1.5;
}

.content {
    padding-top: 97px;
}

p {
	font-size: $small-font-size;
	margin-bottom: 1rem;
	margin-top: 0;
	font-family: "Georgia";
}

/*Text that is larger and stands out more*/
.lead {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.7rem;
	margin-bottom: 1.5rem;
	margin-top: 0;
}

.small, small  {
	font-size: 80%;
	font-weight: 400;
}

.text-minute {
	font-family: $secondary-heading-font-family;
	font-size: 0.75rem;
}

.corrections-container__label, .article__corrections .accordion__control, .article__corrections .corrections__icon, .corrections-container__label .accordion__control i{
	color: #FF6550;
}

.toc-item__detail span, .issue-item span{
	color: $secondary-text-color;
	&.badge-fa{
		color: #fff;
	}
}

.search__item .item__body {
    border-bottom: $primary-bg-color;
}

footer a img {
    display: inline-block;
}
