.input-group {
    .password-strength-indicator {
        background: lighten($wiley-gray, 50%);
        height: 8px;
        max-width: 87px;
        width: 100%;
        border: none;
        border-radius: 10px;
        margin-top: 0.5rem;

        &.too-short{
            &:after {
                display: block;
                width: 20%;
                content: " ";
                background: $wiley-red;
                border-radius: 10px;
                height: 8px;
            }

        }
        &.weak{
            &:after {
                display: block;
                background: $wiley-red;
                width: 40%;
                content: " ";
                border-radius: 10px;
                height: 8px;
            }
        }
        &.medium{
            &:after {
                display: block;
                background: $wiley-green;
                width: 60%;
                content: " ";
                border-radius: 10px;
                height: 8px;
            }
            .text.medium {
                display: block
            }
        }
        &.strong{
            &:after {
                display: block;
                background: $wiley-green;
                width: 80%;
                content: " ";
                border-radius: 10px;
                height: 8px;
            }
        }
        &.too-long{
            &:after {
                display: block;
                background: $wiley-red;
                width: 100%;
                content: " ";
                border-radius: 10px;
                height: 8px;
            }
        }
        &.very-strong{
            &:after {
                display: block;
                background: $wiley-green;
                width: 100%;
                content: " ";
                border-radius: 10px;
                height: 8px;
            }

        }
        .text{
            position: absolute;
            color: $wiley-gray;
            left: 100px;
            bottom: -4px;
            display: none;
        }
    }
}