h1, h2, h3, h4 {
	font-family: $default-heading-font-family;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

.meta__title{
	color: $primary-title-color;
}

.alerts h5{
	color: $primary-light-text-color;
}

h5, h6 {
	font-family: $secondary-heading-font-family;
	font-weight: 700;
	line-height: 19px;
	font-size: 16px;
	margin-bottom: 0.5rem;
	margin-top: 0;

}

.issue-item h5 {
		color: $primary-title-color;
}

h1 {
	letter-spacing: 0.05rem;
}


.toc-item__footer li a, .toc-item__footer .accordion a{
	color: $primary-title-color;
	font-weight: 400;
}

.profile-menu .active {
    color: $primary-title-color;
    border-left-color: $primary-title-color;
}
