.tags-widget{
  &__content{
    width: 80%;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
  }

  &__label{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
  }
}