
.standard-bg-color {
    background: $standard-bg-color;
}
.standard-secondary-bg-color{
    background-color: $standard-secondary-bg-color;
}

.note-bg-color{
    background-color: $note-bg-color;
}

.note-bg-secondary-color{
    background-color: $note-bg-secondary-color;
}

.warrning-bg-color{
    background-color: $warrning-bg-color;
}
.approval-bg-color{
    background-color: $approval-bg-color;
}

.blue-text-color{
    color: $blue-text-color;
}

.warning-text-color{
    color: $warning-text-color;
}

.approval-text-color{
    color: $approval-text-color;
}

.ess-primary-text-color{
    color: $ess-primary-text-color;
}

.ess-secondary-text-color{
    color:$ess-secondary-text-color
}


.primary-border-color{
    color: $primary-border-color;
}

.secondary-border-color{
    color: $secondary-border-color;

}

.basic-bg-color{
    background-color: $basic-bg-color;
}

.facet-bg-color{
    background-color: $facet-bg-color;
}

.accordion-content-bg-color{
    background-color: $accordion-content-bg-color;
}