.quick-search {
    button {
        color: $primary-body-font-color;
    }
    form select.quick-search__dropdown {
        font-size: 1rem !important;
    }
    label {
        font-size: 1rem;
    }
    .dropBlock {
        i {
            padding: 0;
            margin: 0;
        }
        &> a {
            border: 0;
        }
        [data-db-target-of] {
            background: $primary-bg-color;
            @include  themify($themes) {
                background: themed('color');
            }
            &:before {
                background: $primary-bg-color;
                @include  themify($themes) {
                    background: themed('color');
                }
            }
            .quick-search__close {
                color: $white;
            }
            .quick-search__advanced-link {
                color: $white;
            }
        }
    }

}
