.login-popup {
    .show-request-username,
    .show-request-reset-password {
        font-size: .875rem;
        margin-top: 14px;
        color: $secondary-text-color;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
    .remember {
        position: relative;
        .label {
            font-size: .875rem;
            color: $secondary-lighten-text-color;
        }
    }
    .show-registration {
        font-size: .875rem;
        color: $secondary-text-color;
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}