$default-bg-color: #fff;

$primary-bg-color: #212121;

$primary-lighten-bg-color: #555;

$secondary-bg-color: #eee;

$secondary-lighten-bg-color: #f9f9f9;

$tertiary-bg-color: #b0b0b0;

$tertiary-lighten-bg-color: #f5f5f5;

$primary-text-color: #000;

$primary-light-text-color: #212121;

$primary-darken-text-color: #555;

$primary-dark-text-color: #58595b;

$disabled-links: #e1e1e1;

$secondary-light-separator-color: #a6a6a6;

$secondary-text-color: #777;

$secondary-lighten-text-color: #9e9e9e;

$tertiary-text-color: #d6d6d6;

$tertiary-darken-color: #b8b8b8;

$text-onLight: #000;

$text-onDark: #fff;

$note-text: #757575;

$gray-label: #959595;

$thead-color: #959595;

$secondary-border-color: #e0e0e0;

$primary-btn-color: $tertiary-bg-color;

$primary-link-color: #000;

$hover-secondary-link-color: #cf102d;

$separators-color: #f0f0f0;

$header-separators-color: #e1e1e1;

$social-login-separators-color: #464646;

$search-bg-color: #ddd;

$warning: #B33A3A;

$facebook: #3b5998;

$twitter: #1da1f2;

$googlePlus: #dd4b39;

$linkedin: #0077b5;

$rss: #f26522;

$badge-primary-bg-color: #04a361;

$badge-oa-bg-color: #f29c07;

$badge-fa-bg-color: #f29c07;

$badge-type-bg-color: #b8b8b8;

$white: #fff;

$black: #000;

$grey: #ddd;

$light-grey: #eee;

$darker-grey: #0d0d0d;

$dark-grey: #2f2f2f;

$borders: #e1e1e1;

$primary-border-color: #e1e1e1;

$meta-wrapper-bg: #e1e1e1;

$meta-contrib-text: #616161;

$modal-close-button-color: #bfbebe;

$modal-backdrop-color: rgba(#bdbdbe,.85);

$modal-content-bg: #fff;

$loi-button-bg-color: #777;

$loi-banner-bg-color: #e1e1e1;

$loi-banner-content-bg-color: #ebebeb;

$loi-banner-lighten-bg-color: #d7d7d7;

$loi-banner-content-text-color: #424240;

$loi-bg-color: #f5f5f5;

$archive-button: #9e9e9e;

$refine-search-shadow-color: #777;

$slider-nav-bg-color: #d6d6d6;

$slider-nav-hover-bg-color: #869791;

$dropzone-bg-color: #fff;

$dropzone-bg-hover-color: #f4f4f4;

$dropzone-text-color: #b8b8b8;

$dropzone-border-color: #ddd;

$label: #757575;

$input-border: #ccc;

$checkbox-border: #959595;

$input-placeholder-color: #63666a;

$light-gray-links: #d4d4d4;

$button-bg: #a1a1a1;

$footer-bg-color: #757575;

$facets-text: #454545;

$facets-applied: #464646;

$facets-disabled: #b8b8b8;

$search-button: #000;

$slide-bg-color: #e1e1e1;

$slide-back-btn: #9e9e9e;

$meta-bg-color: #fafafa;

$footer-color: #fff;

$menu-background: #212121;

$profile-primary-color: #464646;

$profile-secondary-color: #464646;

$profile-tertiary-color: #959595;

$teaser-text-color: #000;

$teaser-border-color: #d6d6d6;

$account-color: #757575;

$section-header-color: #000;

$creative-color: #9e9e9e;

$creative-title-color: #454545;

$creative-loa-color: #999999;

$orcid-color: #a6ce39;

$lazy-bg-color: #b0b0b0;

$search-highligh-result: #d7d7d7;

$primary-commerce-color: #000;

$header-commerce-color: #000;

$success-message-text-color: #04a361;

$success-message-bg-color: #eee;

$error-message-text-color: #cf102d;

$error-message-bg-color: #eee;

$info-text-color: #1f1f1f;

$facet-bg-color: #e1e1e1;

$truncate-removed-items-bg-color: #ddd;

$truncate-removed-items-text-color: #464646;

$truncate-removed-items-hover-bg-color: #d6d6d6;

$truncate-removed-items-hover-text-color: #000;
