button,
[type="submit"],
[type="button"],
.btn {
    background: $primary-btn-bg;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
    height: 32px;
    padding: 0 16px;
    font-size: .8rem;
    border-radius: 16px;

    @include media('>phone') {
        height: 40px;
        padding: 0 24px;
        font-size: .89rem;
        border-radius: 24px;
    }
    @include media('>desktop') {
        height: 48px;
        padding: 0 32px;
        font-size: 1rem;
        border-radius: 24px;
    }

    &[disabled], &.disabled, &:disabled {
        background: $disabled-btn-bg;
        color: $text-onDark;

        &:hover,
        &:focus {
            background: $disabled-btn-bg;
            color: $text-onDark;
        }
    }

    &:hover,
    &:focus {
        cursor: pointer;
        background: darken($primary-btn-bg, 5%);
    }
    ~ button {
        margin-left: 10px ;
    }
}

.btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    &--large {
        height: 48px;
        padding: 0 32px;
        font-size: 1rem;
        border-radius: 24px;
    }

    &--medium {
        height: 40px;
        padding: 0 24px;
        font-size: .89rem;
        border-radius: 24px;
    }

    &--small {
        height: 32px;
        padding: 0 16px;
        font-size: .8rem;
        border-radius: 16px;
    }

    &--secondary {
        background: $secondary-btn-bg;

        &:hover,
        &:focus {
            cursor: pointer;
            background: darken($secondary-btn-bg, 5%);
        }
    }

    &--simple-primary {
        background: transparent;
        color: $primary-btn-color;
        box-shadow: 0 0 0 1px $primary-border-color;

        &:hover,
        &:focus {
            cursor: pointer;
            background: $primary-btn-bg;
            color: $text-onDark;
        }
    }

    &--simple-secondary {
        background: transparent;
        color: $secondary-btn-color;
        box-shadow: 0 0 0 1px $secondary-border-color;

        &:hover,
        &:focus {
            cursor: pointer;
            background: $secondary-btn-bg;
            color: $text-onDark;
        }
    }

    &--full-width {
        width: 100%;
    }

    &--inverse {
        color: $white;
        background: transparent;
        border: 1px solid $white;
        font-weight: bold;
        font-size: .9rem;

        &:hover,
        &:focus {
            color: $tertiary-text-color;
            background: $white;
        }
    }

    &--dropdown {
        border: 1px solid $input-border;
        border-radius: 4px;
        color: $primary-text-color;
        background: $white;
        &:hover,
        &:focus {
            color: $primary-text-color;
            background: $white;
        }
    }

    &--dropdown {
        position: relative;
        border: 1px solid $input-border;
        border-radius: 4px;
        color: $primary-text-color;
        background: $white;
        font-weight: normal;
        min-width: 236px;
        max-width: 100%;
        box-shadow: none;
        &:hover,
        &:focus {
            color: $primary-text-color;
            background: $white;
        }
        .icon-caret {
            position: absolute;
            right: 16px;
            @include media('>phone') {
                right: 24px;
            }
            @include media('>desktop') {
                right: 32px;
            }
        }
    }

    [class^="icon-"], [class*=" icon-"] {
        font-weight: normal;
        font-size: 1rem;
        margin: 0 1ex 0 0;
        &.right {
            margin: 0 0 0 1ex;
        }
    }
}

.icon-caret {
    display: inline-block;
    transform: scale(.6);
    &:before {
        content: $icon-arrow-down--style-2;
    }
}

.link {
    display: inline-block;
    font-weight: normal;
    font-family: $default-font-family;
    font-size: 1rem;
    text-decoration: none;
    color: $primary-link-color;

    [class^="icon-"], [class*=" icon-"] {
        font-weight: normal;
        font-size: 1rem;
        margin: 0 1ex 0 0;
        &.right {
            margin: 0 0 0 1ex;
        }
    }

    &:hover, &:focus {
        color: $primary-link-color;
        text-decoration: none;
        box-shadow: inset 0 -2px 0 0 $primary-link-color;
    }
    &--secondary {
        color: $secondary-link-color;
        &:hover, &:focus {
            color: $secondary-link-color;
            box-shadow: inset 0 -2px 0 0 $secondary-link-color;
        }
    }
}

.text-link {
    display: inline-block;
    font-family: $default-font-family;
    font-size: .86rem;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-link-color;

    @include media('>=phone') {
        font-family: $header-font-family;
        font-size: 1rem;
        text-transform: none;
    }
    @include media('>=desktop') {
        font-family: $header-font-family;
        font-size: .89rem;
        text-transform: none;
    }

    &:after {
        @include icomoon();
        display: inline-block;
        content: $icon-arrow-right;
        transform: scale(.7);
        margin-left: .75em;
    }
    &:hover, &:focus {
        color: $primary-link-color;
        text-decoration: none;
        box-shadow: inset 0 -2px 0 0 $primary-link-color;
    }

    &--primary {
        color: $primary-link-color;
        &:hover, &:focus {
            color: $primary-link-color;
            text-decoration: none;
            box-shadow: inset 0 -2px 0 0 $primary-link-color;
        }
    }

    &--secondary {
        color: $secondary-link-color;
        &:hover, &:focus {
            color: $secondary-link-color;
            box-shadow: inset 0 -2px 0 0 $secondary-link-color;
        }
    }

    &--inverse {
        color: $text-onDark;
        &:hover, &:focus {
            color: $text-onDark;
            box-shadow: inset 0 -2px 0 0 $text-onDark;
        }
    }
}

.nav-button {
    width: 24px;
    height: 17px;
    position: relative;
    //margin: 10px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $secondary-link-color;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 8px;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 16px;
            transform-origin: left center;
        }
    }
    &--secondary {
        background: $white;
    }

    &.open {
        span {
            background: $site-navigation-caret-color;
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 7px;
                left: 0;
            }
            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 16px;
                left: 3px;
            }
        }
    }
}

