.badge-type:first-child {
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}
@include media("<tablet") {
  main.journal-home {
    padding-top: 96px;
  }
    .badge-type {
        width: 135px;
    }
}
