.pagination {
    margin-top: 25px;
    margin-bottom: 0px;
    color: $secondary-text-color;

    .pagination:empty {
        display: none;
    }

    &__list {
        a.active {
            color: $primary-link-color;
            text-decoration: none;
        }
    }

    &__btn--next {
        color: $primary-link-color;
    }
}