
#institutionUsageReport
{
  td{
    padding: .8rem;
    font-weight: 500;
    +td{
      font-weight: 500;
    }
  }
}

#dateRange {
  span {
    font-size: .875rem;
  }
}

.usageReports {
  .success {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #f8f8f8;
    color: #059a05;
  }
}