.featuredCard {
  &__graph {

    > .featuredCard {
      &__body {
        > a {
          position: relative;
          overflow: hidden;
          height: 280px;
          margin-bottom: 4px;

          img {
            position: relative;
            top: -28px;
          }
        }
      }
    }
  }
}