h1, h2, h3, h4, h5, h6 {
    @include themify($themes) {
        color: themed('color');
    }
}


.extra-header-bottom-padding{
    padding-bottom: 25px
}


h3{
    &.section__header {
        font-weight:  400;
    }
}