.profileMain {
    padding-top: 10px;


    .managedInstitutions {
        position: absolute;
        right: 0;
        top: -50px;
        z-index: 9;

        & > div {
            display: flex;
            align-items: center;

            label {
                color: $white;
                margin-bottom: 0;
            }

            select {
                color: $white;
                margin-left: 10px;
                margin-bottom: 0;
                width: auto;
            }
        }
    }

    .usageReports {
        .btn--inverse {
            margin-bottom: 15px;
        }
    }

}