.issue-item {
    .loa {
        li {
            &:first-child{
                span{
                    margin-left: 0px;
                }
            }
            span {
                margin-right: 5px;
                margin-left: 0px;
            }
        }
    }
}