.figure-extra {
    margin-top: 10px;
    a {
        display: inline-block;
        color: $primary-blue-color;
        font-weight: 600;
        font-size: 12px;
    }
    a:not(:first-child):before {
        content: '|';
        padding: 0 8px;
    }
}

.article-row-right {
    figure {
        margin: 0 0 20px;
        border-bottom: 1px solid #97999b;
        padding-bottom: 20px;
    }
}

.figure__caption {
    font-size: .875rem;
}