.sections-block {
  font-size: .875rem;
  border-top: 1px solid $primary-darken-text-color;
  margin: 0 -15px;
  padding: 0 15px;
  color: $primary-darken-text-color;

  li {
    padding: 12px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $primary-darken-text-color;
    }

    a.active {
      border-left: 5px solid;
      padding-left: 5px;
    }

  }

}