.facet {
    &__ctrl i[class*=icon-] {
        font-weight: bold;
    }
    &:first-of-type {
        padding-top: 20px;
        border-top: 1px solid #ddd;
    }
    &__title {
        color: #000;
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: bold;
    }
}

.facets__title {
    padding-bottom: 0.5rem;
    color: #000;
    font-size: 1rem;
    text-transform: capitalize;
}