.loginBar {
    color: $primary-white;
    display: inline-block;
    vertical-align: middle;
    .icon-profile_empty,
    .icon-userprofile {
        display: none;
    }
    .profile-text {
        display: inline-block;
        white-space: nowrap;
        width: 70px;
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
    }
}