.login-popup {
  .show-request-reset-password{
    font-size: .75rem;
    font-weight: 700;
    color: $ess-primary-text-color;

  }

  .show-registration{
    float: right;
    color: $ess-primary-text-color;
    font-size:1rem;

    i{
      color: $ess-primary-text-color;
      font-size: .7rem;
      padding-left: 5px;
    }
  }
 h1{
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid $primary-border-color;
  }

}