.search-history {

    td, th {
        color: $wiley-typography-color;
        @include media('>=tablet') {
            padding: 1.8em 1em 1.8em 0;
        }

        font-size: 13px;
        font-weight: 400;
    }

    th {
        text-transform: uppercase;
        font-weight: 600;
    }


   .btn.search-historyLink {
       background: transparent;
       font-size: 13px;
       font-weight: 600;
       color: $wiley-blue-color;
   }
}