article {
    .tab__content {
        background: darken($secondary-lighten-bg-color, 2%);

    }
}

.corrections__content {
    background: darken($secondary-lighten-bg-color, 2%);
}

.article__breadcrumbs {
    .article__title {
        display: none;
    }
}