.exam-agreement {
    &__section {
        margin-bottom: 25px;
    }
    ul {
        padding-left: 20px;
    }
    &__privacy {
        font-weight: bold;
        display: block;
        margin-bottom: 15px;
    }
    i {
        font-size: 0.7rem;
        padding: 0 5px;
    }
    &__link  {
        margin-top: 20px;
        margin-bottom: 24px;
        a {
            margin-right: 24px;
        }
    }
}