.uploader {

    &__input {
        border: none;
    }

    &__progress {
        background: $standard-secondary-bg-color;
    }

    &__button {
        display: none;
    }

    &.is-dragover {
        .uploader__input-wrapper {
            border-color: $blue-text-color;
        }
    }
}
