$primary-bg-color: #000;

$primary-lighten-bg-color: #616161;

$primary-border-color: rgba(255, 255, 255, 0.34);

$secondary-border-color: rgba(0, 0, 0, 0.12);

$light-blue-text-color: #80D8FF;

$primary-blue-text-color: #2F80ED;

$link-text-color: #448AFF;

$link2-text-color: rgba(0, 119, 194, 0.87);

$secondary-blue-text-color: #002171;

$footer-bg-color: #000;

$tertiary-bg-color: #828282;

$light-pink-text-color: #FF8A80;

$light-yellow-color: #FFEFBF;

$dark-pink-text-color: #EB5757;

$journal-bg-color-bj: #CB6D1C;

$journal-bg-color-light-bj: #F9EDE4;

$gray-bg-color: #333;

$secondary-lighten-bg-color: #FAFAFA;

$transparent-black-color: rgba(0, 0, 0, 0.5);

$purple-text-color: #651FFF;

$journal-code-color: #2C5FAD;

$highlight-color: #EBC34A;

$csuracm-journal-color: #64B5F6;

$jea-journal-color: #F06292;

$idiq-journal-color: #4DB6AC;
