.article__content {
  .citation {
    [class^="loa"]{
      a {
        color: $text-onLight;
        &:hover {
          @include themify($themes) {
            color: themed('color');
          }
        }
      }
    }
  }
}

h2.article-section__title.section__title {
  margin-top: 15px;
}