.share__block {
    padding: 0;
    li {
        margin-bottom: 0;
    }
    .addthis_toolbox.addthis_32x32_style span {
        line-height: 26px;
    }
    .addthis.addthis_toolbox a {
        padding: 11px 8px;
        font-size: $primary-text-size;
        float: none;
        &:hover {
            background-color: $default-bg-color;
            color: $primary-blue-color;
        }
    }
    .addthis.addthis .at-icon-wrapper {
        color: $primary-blue-color;
    }
    .addthis_toolbox li {
        border-top: 1px solid $secondary-border;
    }
}
