@include media('>=tablet') {
    $ajpcell : "../images/journal_header_image_ajpcell.jpg";
    $ajpendo: "../images/journal_header_image_ajpendo.jpg";
    $ajpgi: "../images/journal_header_image_ajpgi.jpg";
    $ajpheart: "../images/journal_header_image_ajpheart.jpg";
    $ajplung: "../images/journal_header_image_ajplung.jpg";
    $ajpregu: "../images/journal_header_image_ajpregu.jpg";
    $ajprenal: "../images/journal_header_image_ajprenal.jpg";
    $ajplegacy: "../images/journal_header_image_ajplegacy.jpg";
    $physiologyonline : "../images/journal_header_image_physiologyonline.jpg";
    $advances: "../images/journal_header_image_advances.jpg";
    $jappl: "../images/journal_header_image_jappl.jpg";
    $jn: "../images/journal_header_image_jn.jpg";
    $physiolgenomics: "../images/journal_header_image_physiolgenomics.jpg";
    $physrev: "../images/journal_header_image_physrev.jpg";
    $physrep: "../images/journal_header_image_physrep.jpg";
    $apsselect: "../images/journal_header_image_apsselect.jpg";

    main.journal-home {
        &.ajpcell {
            .publication_header {
                background-image: url($ajpcell);
            }
        }

        &.ajpendo {
            .publication_header {
                background-image: url($ajpendo);
            }
        }

        &.ajpgi {
            .publication_header {
                background-image: url($ajpgi);
            }
        }

        &.ajpheart {
            .publication_header {
                background-image: url($ajpheart);
            }
        }

        &.ajplung {
            .publication_header {
                background-image: url($ajplung);
            }
        }

        &.ajpregu {
            .publication_header {
                background-image: url($ajpregu);
            }
        }

        &.ajprenal {
            .publication_header {
                background-image: url($ajprenal);
            }
        }

        &.ajplegacy {
            .publication_header {
                background-image: url($ajplegacy);
            }
        }

        &.physiologyonline {
            .publication_header {
                background-image: url($physiologyonline);
            }
        }

        &.advances {
            .publication_header {
                background-image: url($advances);
            }
        }

        &.jappl {
            .publication_header {
                background-image: url($jappl);
            }
        }

        &.jn {
            .publication_header {
                background-image: url($jn);
            }
        }

        &.physiolgenomics {
            .publication_header {
                background-image: url($physiolgenomics);
            }
        }

        &.physrev {
            .publication_header {
                background-image: url($physrev);
            }
        }

        &.physrep {
            .publication_header {
                background-image: url($physrep);
            }
        }

        &.apsselect {
            .publication_header {
                background-image: url($apsselect);
            }
        }
    }
}
@include media('<tablet') {
        .ajpcell {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajpcell.jpg);
            }
        }

        .ajpendo {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajpendo.jpg);
            }
        }

        .ajpgi {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajpgi.jpg);
            }
        }

        .ajpheart {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajpheart.jpg);
            }
        }

        .ajplung {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajplung.jpg);
            }
        }

        .ajpregu {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajpregu.jpg);
            }
        }

        .ajprenal {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajprenal.jpg);
            }
        }

        .ajplegacy {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_ajplegacy.jpg);
            }
        }

        .physiologyonline {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_physiologyonline.jpg);
            }
        }

        .advances {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_advances.jpg);
            }
        }

        .jappl {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_jappl.jpg);
            }
        }

        .jn {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_jn.jpg);
            }
        }

        .physiolgenomics {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_physiolgenomics.jpg);
            }
        }

        .physrev {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_physrev.jpg);
            }
        }

        .physrep {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_physrep.jpg);
            }
        }

        .apsselect {
            .publication_header.slider-mobile {
                background-image: url(../images/journal_header_image_apsselect.jpg);
            }
        }
    .publication_header{
        &.slider-mobile {
            background-size: cover;
        }
    }
}