@include media('<desktop') {
    .showPublications {
        .search__result {
            background: $primary-text-color;
            color: $text-onDark;
            i {
                color: $text-onDark
            }
        }
    }
}
