$primary-bg-color: #92278f;

$footer-bg-color: #fff;

$journal-bg-color-bjj: #72a492;

$journal-bg-color-bj360: #26bcd7;

$journal-bg-color-bjr: #ed7921;

$journal-bg-color-jco: #144487;

$journal-bg-color-procs: #72a492;

$journal-bg-color-efort: #19753c;

$primary-bg-color-secondary: #e1c3e0;

$journal-bg-color-bjj-secondary: #d4e3de;

$journal-bg-color-bj360-secondary: #e3f4f9;

$journal-bg-color-bjr-secondary: #fbe4d3;

$journal-bg-color-jco-secondary: #add8e6;

$journal-bg-color-procs-secondary: #d4e3de;

$journal-bg-color-efort-secondary: #e5f3ee;

$creative-title-color: #92278f;

$footer-othertext-color: #58585a;

$footer-color: #92278f;

$footer-lighttext-color: #fff;

$primary-commerce-color: #005293;

$header-commerce-color: #cf102d;

$item-added: rgba(144, 198, 92, 0.9);

$item-hover: rgba(0,127,178,0.9);

$item-border: #ccc;

$checkout-hover: #3c79a9;

$black: #000;

$white: #fff;

$red: #ff0000;

$dark-grey: #58585a;

$base-text-color: #333;
