// Background colors
.default-bg-color {
    background:  $default-bg-color;
}

.primary-bg-color {
    background:  $primary-bg-color;
}

.primary-lighten-bg-color {
    background:  $primary-lighten-bg-color;
}

.secondary-bg-color {
    background:  $secondary-bg-color;
}

.secondary-lighten-bg-color {
    background:  $secondary-lighten-bg-color;
}

.tertiary-lighten-bg-color {
    background: $tertiary-lighten-bg-color;
}

.tertiary-bg-color {
    background:  $tertiary-bg-color;
}

//Text colors
.primary-text-color {
    color:  $primary-text-color;
}

.primary-darken-text-color {
    color:  $primary-darken-text-color;
}

.secondary-text-color {
    color:  $secondary-text-color;
}

.tertiary-text-color {
    color:  $tertiary-text-color;
}

.tertiary-darken-color {
    color:  $tertiary-darken-color;
}

.text-onLight {
    color:  $text-onLight;
}

.text-onDark {
    color:  $text-onDark;

    h1, h2, h3, h4, h5, h6 {
        color:  $text-onDark;
    }
}

