.buyItemFooter {
    padding-top: 0px;
    border-top: none;

    .price {
        display: block;
        clear: both;
        padding-top: 15px;
    }

    .totalPrice {
        float: none;
    }

    .intialPrice {
        text-align: left;
        color: $secondary-text-color;;
    }
}

.promoCodeForm {
    display: inline-block;
    width: 100%;

    input {
        display: inline-block;
        margin: 0px;
        width: 50%;
        float: left;
        outline: none;
    }
    input~input {
        margin: 0px;
        padding: 11px 15px;
    }
}

.promoOffers {
    .checkBoxActive {
        label {
            display: inline-block;
            margin-bottom: 0px;
        }
        span {
            font-size: $x-small-font-size;
            vertical-align: middle;
        }
    }
}