.saved-searches {

  th{
    color: $primary-darken-text-color;
    padding:0 .5em .5em;
  }

  td{
    font-size: 1rem;
    padding: .5em;
    color:$primary-darken-text-color ;
    ~td {
      font-size: .875rem;
    }
  }

  table__action{
    font-size: .875rem;
  }

 @include media('<tablet'){
   .expanded{
     padding: .2em 0;
   }
   .action [title=Delete]{
     padding: 8px 25px;
     border: 3px solid #464646;
   }
 }
.table__action{
  font-size: .875rem;
 }

}
