.coolBar {

    i {
        color: $primary-icons-color;
    }

    &__wrapper {
        border-bottom: 1px solid $separators-color;
    }

    &__section,
    &__first,
    &__zone {
        color: $coolbar-color;
    }

    &--res {

        color: $coolbar-res-color;

        i {
            color: $coolbar-res-icons-color ;
        }

        .coolBar__wrapper {
            background-color: $slide-head-bg;
        }

    }

    &--res &__section,
    &--res &__first,
    &--res &__zone {
        color: $coolbar-res-color;
    }
}
