@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?c5gl4u');
  src:  url('../fonts/icomoon/icomoon.eot?c5gl4u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?c5gl4u') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?c5gl4u') format('woff'),
    url('../fonts/icomoon/icomoon.svg?c5gl4u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unlock:before {
  content: "\e98c";
}
.icon-lock:before {
  content: "\e98d";
}
.icon-Icon_Permissions-Locked:before {
  content: "\e98a";
  color: #F2994A;
}
.icon-toc:before {
  content: "\e600";
}
.icon-submit:before {
  content: "\e601";
}
.icon-subscribe:before {
  content: "\e602";
}
.icon-timeline_mark:before {
  content: "\e603";
}
.icon-editorial_board:before {
  content: "\e604";
}
.icon-loi:before {
  content: "\e605";
}
.icon-plus_n:before {
  content: "\e606";
}
.icon-checkmark:before {
  content: "\e607";
}
.icon-back_matter:before {
  content: "\e608";
}
.icon-cover:before {
  content: "\e609";
}
.icon-aboutjournal:before {
  content: "\e60a";
}
.icon-arrow_d_n:before {
  content: "\e60b";
}
.icon-arrow_u_p:before {
  content: "\e60c";
}
.icon-menu:before {
  content: "\e60d";
}
.icon-search:before {
  content: "\e60e";
}
.icon-shoppingcart:before {
  content: "\e60f";
}
.icon-userprofile:before {
  content: "\e610";
}
.icon-download:before {
  content: "\e612";
}
.icon-export_citation:before {
  content: "\e613";
}
.icon-favorites:before {
  content: "\e614";
}
.icon-figures:before {
  content: "\e615";
}
.icon-info:before {
  content: "\e616";
}
.icon-metrics:before {
  content: "\e617";
}
.icon-permissions:before {
  content: "\e618";
}
.icon-references:before {
  content: "\e619";
}
.icon-related:before {
  content: "\e61a";
}
.icon-reprints:before {
  content: "\e61b";
}
.icon-section_arrow_d:before {
  content: "\e61c";
}
.icon-section_arrow_u:before {
  content: "\e61d";
}
.icon-section_collapse:before {
  content: "\e61e";
}
.icon-section_collapse2:before {
  content: "\e61f";
}
.icon-share:before {
  content: "\e620";
}
.icon-section_expand:before {
  content: "\e621";
}
.icon-tools_close:before {
  content: "\e622";
}
.icon-tools:before {
  content: "\e623";
}
.icon-arrow_l:before {
  content: "\e624";
}
.icon-arrow_r:before {
  content: "\e625";
}
.icon-close_thin:before {
  content: "\e626";
}
.icon-track:before {
  content: "\e627";
}
.icon-Save:before {
  content: "\e628";
}
.icon-Rss:before {
  content: "\e629";
}
.icon-dots-three-horizontal:before {
  content: "\e62a";
}
.icon-eye-blocked:before {
  content: "\e62b";
}
.icon-twitter:before {
  content: "\e62c";
}
.icon-facebook-old:before {
  content: "\e62d";
}
.icon-linkedin:before {
  content: "\e62e";
}
.icon-profile_empty:before {
  content: "\e62f";
}
.icon-profile_empty2:before {
  content: "\e630";
}
.icon-pencil:before {
  content: "\e631";
}
.icon-zoom-in:before {
  content: "\e632";
}
.icon-zoom-out:before {
  content: "\e633";
}
.icon-grid2:before {
  content: "\e634";
}
.icon-mendeley:before {
  content: "\e635";
}
.icon-orcid:before {
  content: "\e636";
}
.icon-pencil3:before {
  content: "\e637";
}
.icon-grid22:before {
  content: "\e638";
}
.icon-facebook2:before {
  content: "\e800";
}
.icon-linkedin2:before {
  content: "\e801";
}
.icon-twitter2:before {
  content: "\e802";
}
.icon-more:before {
  content: "\e803";
}
.icon-advanced_search:before {
  content: "\e804";
}
.icon-info2:before {
  content: "\e805";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-shopping-cart:before {
  content: "\e904";
}
.icon-menu2:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-add:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-exclamation:before {
  content: "\e909";
}
.icon-success:before {
  content: "\e90a";
}
.icon-trash:before {
  content: "\e90b";
}
.icon-exclamation_mark:before {
  content: "\e90c";
}
.icon-x_btnclose:before {
  content: "\e90d";
}
.icon-Email:before {
  content: "\e90e";
}
.icon-trash-can:before {
  content: "\e90f";
}
.icon-pencil2:before {
  content: "\e910";
}
.icon-circle-plus:before {
  content: "\e911";
}
.icon-facebook-square:before {
  content: "\e912";
}
.icon-twitter-square:before {
  content: "\e913";
}
.icon-linkedin-square:before {
  content: "\e914";
}
.icon-google-plus:before {
  content: "\e915";
}
.icon-document-file-ppt:before {
  content: "\e916";
}
.icon-to-figure-viewer:before {
  content: "\e917";
}
.icon-point-to-text:before {
  content: "\e918";
}
.icon-glasses:before {
  content: "\e919";
}
.icon-google-plus-square:before {
  content: "\e91a";
}
.icon-access:before {
  content: "\e91b";
}
.icon-add2:before {
  content: "\e91c";
}
.icon-allfigures:before {
  content: "\e91d";
}
.icon-check:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e91f";
}
.icon-doublearrow:before {
  content: "\e920";
}
.icon-download2:before {
  content: "\e921";
}
.icon-download-sitation:before {
  content: "\e922";
}
.icon-figures2:before {
  content: "\e923";
}
.icon-filters:before {
  content: "\e924";
}
.icon-sections:before {
  content: "\e925";
}
.icon-table:before {
  content: "\e926";
}
.icon-tools2:before {
  content: "\e927";
}
.icon-truck-sitation:before {
  content: "\e928";
}
.icon-x:before {
  content: "\e929";
}
.icon-zoom:before {
  content: "\e92a";
}
.icon-by_large:before {
  content: "\e92b";
}
.icon-cc_large2:before {
  content: "\e92c";
}
.icon-cc_large:before {
  content: "\e92d";
}
.icon-nc-jp_large:before {
  content: "\e92e";
}
.icon-nc_large:before {
  content: "\e92f";
}
.icon-nd_large:before {
  content: "\e930";
}
.icon-publicdomain_large:before {
  content: "\e931";
}
.icon-sa_large:before {
  content: "\e932";
}
.icon-zero_large:before {
  content: "\e933";
}
.icon-lock_outline:before {
  content: "\e934";
}
.icon-lock_open:before {
  content: "\e935";
}
.icon-bookmark:before {
  content: "\e936";
}
.icon-manusript:before {
  content: "\e937";
}
.icon-filter_list:before {
  content: "\e938";
}
.icon-add_box:before {
  content: "\e939";
}
.icon-squared-minus:before {
  content: "\e93a";
}
.icon-Icons_Sorting:before {
  content: "\e93b";
}
.icon-Icon_Twitter:before {
  content: "\e93c";
}
.icon-Icon_Track-citations:before {
  content: "\e93d";
}
.icon-Icon_Tools:before {
  content: "\e93e";
}
.icon-Icons_Tune:before {
  content: "\e93f";
}
.icon-Icon_Star-26:before {
  content: "\e940";
}
.icon-Icon_Share:before {
  content: "\e941";
}
.icon-Icon_Settings:before {
  content: "\e942";
}
.icon-Icon_Section-menu:before {
  content: "\e943";
}
.icon-Icon_Search:before {
  content: "\e944";
}
.icon-Icon_Mobile-menu:before {
  content: "\e946";
}
.icon-Icon_mail:before {
  content: "\e947";
}
.icon-References:before {
  content: "\e948";
}
.icon-Icon_Information:before {
  content: "\e949";
}
.icon-Icon_Images:before {
  content: "\e94a";
}
.icon-Icon_Home:before {
  content: "\e94b";
}
.icon-Icon_Google-plus:before {
  content: "\e94c";
}
.icon-Icon_Feed:before {
  content: "\e94d";
}
.icon-facebook:before {
  content: "\e94e";
}
.icon-Icon_Edit:before {
  content: "\e94f";
}
.icon-Icon_Download:before {
  content: "\e950";
}
.icon-Icon_Cross:before {
  content: "\e951";
}
.icon-Icon_Cart:before {
  content: "\e952";
}
.icon-Icon_Archive:before {
  content: "\e953";
}
.icon-Icon_Alerts:before {
  content: "\e954";
}
.icon-related2:before {
  content: "\e955";
}
.icon-Icon_Account-LoggedIn:before {
  content: "\e956";
}
.icon-Icon_Account:before {
  content: "\e957";
}
.icon-Icon_About-Article:before {
  content: "\e958";
}
.icon-notice:before {
  content: "\e959";
}
.icon-sort:before {
  content: "\e95a";
}
.icon-person:before {
  content: "\e95b";
}
.icon-person_outline:before {
  content: "\e95c";
}
.icon-shopping_cart:before {
  content: "\e95d";
}
.icon-save-search:before {
  content: "\e95e";
}
.icon-ic_history_black_24px:before {
  content: "\e95f";
}
.icon-play-circle:before {
  content: "\e960";
}
.icon-listen:before {
  content: "\e961";
}
.icon-apple:before {
  content: "\e962";
}
.icon-youtube:before {
  content: "\e963";
}
.icon-subdirectory_arrow_left:before {
  content: "\e964";
}
.icon-delete_filled:before {
  content: "\e965";
}
.icon-blog:before {
  content: "\e966";
}
.icon-permission:before {
  content: "\e967";
}
.icon-shopping_cart2:before {
  content: "\e968";
}
.icon-person2:before {
  content: "\e969";
}
.icon-person_outline2:before {
  content: "\e96a";
}
.icon-sort2:before {
  content: "\e96b";
}
.icon-add_box2:before {
  content: "\e96c";
}
.icon-filter_list2:before {
  content: "\e96d";
}
.icon-lock_outline2:before {
  content: "\e96e";
}
.icon-manusript2:before {
  content: "\e96f";
}
.icon-lock_open2:before {
  content: "\e970";
}
.icon-circle-plus2:before {
  content: "\e971";
}
.icon-add3:before {
  content: "\e972";
}
.icon-shopping-cart2:before {
  content: "\e973";
}
.icon-home2:before {
  content: "\e974";
}
.icon-menu22:before {
  content: "\e975";
}
.icon-arrow-right2:before {
  content: "\e976";
}
.icon-arrow-left2:before {
  content: "\e977";
}
.icon-arrow-down2:before {
  content: "\e978";
}
.icon-arrow-up2:before {
  content: "\e979";
}
.icon-date:before {
  content: "\e97a";
}
.icon-youtube2:before {
  content: "\e97b";
}
.icon-full-text:before {
  content: "\e97c";
}
.icon-notice2:before {
  content: "\e97d";
}
.icon-trash-can2:before {
  content: "\e97e";
}
.icon-pencil22:before {
  content: "\e97f";
}
.icon-document-file-ppt2:before {
  content: "\e980";
}
.icon-play-circle2:before {
  content: "\e981";
}
.icon-youtube3:before {
  content: "\e982";
}
.icon-PDF:before {
  content: "\e983";
}
.icon-Icon_Links-References:before {
  content: "\e984";
}
.icon-Megaphone:before {
  content: "\e985";
}
.icon-abstract:before {
  content: "\e986";
}
.icon-youtube4:before {
  content: "\e987";
}
.icon-pinterest:before {
  content: "\e988";
}
.icon-instagram2:before {
  content: "\e989";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-cog:before {
  content: "\e994";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-google:before {
  content: "\ea88";
}
.icon-instagram:before {
  content: "\ea92";
}