$wiley-blue-color: #005274;

$wiley-darkBlue-color: #003951;

$menu-background: #005274;

$wiley-green-color: #068853;

$wiley-lightGray-color: #d8d9da;

$wiley-extralightGray-color: #efeff0;

$wiley-gray-color: #bdbbb7;

$wiley-gray-text-color: #767676;

$wiley-darkGray-text-color: #8b8b8b;

$wiley-gray-lighter-separator: #C2C3C6;

$wiley-gradient-color: linear-gradient(45deg, #005274 0%, #068853 100%);

$wiley-orange-color: #cc4e00;

$wiley-orange-icons-color: #e55800;

$secondary-bg-color: #efeff0;

$tertiary-bg-color: #edebe6;

$wiley-text-color: #424240;

$wiley-typography-color: #1C1D1E;

$section-border: #9E9D99;

$wiley-gray: #757472;

$wiley-gray-dark: #212120;

$primary-text-color: #005293;

$primary-light-text-color: #DFDDD6;

$wiley-green: #008765;

$wiley-red: #D22A37;

$wiley-open-access: #6D2077;

$wiley-free-access: #4C6FD9;

$separators-color: #DFDDD6;

$tab-active-text-color: #fff;

$tab-border: #DFDDD6;

$forgot-password: #2B709E;

$disabled-blue: #99bac7;

$agu-branding: #2F7BAE;
