.institution {
    padding: 6px 0px 6px 15px;
    border-right: none;
    color: $primary-link-color;
    font-size: $xx-small-font-size;
    line-height: $x-small-font-size;

    @include media('>=desktop') {
        text-align: left;
    }

    &__name {
        padding: 0px;
    }
}