.checkbox--primary {
    .jcf-checkbox {
        border-color: $standard-color;
        border-radius: 30%;
        span{
            background: $standard-color;
            border-color: $standard-color;
        }


    }
}


.jcf-drop-active {
    .jcf-select-text:after {
        -webkit-transform: rotateX(150deg);
        transform: rotateX(150deg);
    }
}

    .jcf-select{

        &-text:after {
            font-family: icomoon;
            content: "\e60b";
            font-size: xx-small;
            float: right;
        }

        &-jcf {
            background: none;
        }
    }
.jcf-selected  .jcf-hover, .jcf-list-box .jcf-selected
   {
        color: $standard-color;
   }




