// Hide tabbable panes to start, show them when `.active`
.tab {
    &__pane {
        font-size: 0.875rem;
    }

    &__content {
        .tab__pane {
            display: none;
            padding-top: 10px;
            &--clear {
                padding-top: 0;
            }

            &.active {
                display: block;
            }
        }
    }

    &__nav {
        font-size: 0.6875rem;

        li {
            display: inline-block;
            margin-bottom: 10px;
        }

        i {
            display: block;
            text-align: center;
            color: $primary-text-color;
            font-size: 1.25rem;
        }

        span {
            line-height: 2;
        }

        a {
            display: block;
            padding: 8px;
            border-bottom: 1px solid $tertiary-bg-color;
        }

        .active {
            a {
                border-bottom-width: 2px;
                border-bottom-color: $primary-text-color;
                font-weight: 700;

                i {
                    font-weight: 700;
                    color: $primary-text-color;
                }
            }
        }

        .scroll & {
            padding-right: 20px;
        }

        .disabled {
            color: $disabled-links;
            cursor: default;
            i {
                color: $disabled-links;
            }
        }
    }

    &--flex {
        .tab__nav {
            display: flex;

            &:after, &:before {
                display: table;
                clear: both;
                content: " ";
            }

            li {
                flex: 1;
                text-align: center;
            }
        }


    }

    &--aside {
        > .tab {
            &__nav {
                width: 20%;
                float: left;

                li {
                    display: block;
                }

                a {
                    border: none;
                    padding: 10px;
                    border-left: 4px solid transparent;
                }

                .active {
                    a {
                        border-left-color: $tertiary-bg-color;
                    }
                }
            }
        }
    }

    &-link:not(.primary-blue-color) {
        color: $primary-text-color;
        font-weight: 600;
    }

    .dropBlock {
        > a {
            background: $secondary-bg-color;
            font-weight: bold;
            font-size: 0.875rem; // 14px
            padding: 10px;
            display: block;
        }

        i {
            font-size: 0.625rem; // 10px
            font-weight: bolder;
            color: #333;
            margin-top: 5px;
        }

        ul {
            background: $default-bg-color;
        }
    }

    &.clean {
        .empty {
            display: none;
        }
    }
    &--aside {
        > .tab {
            &__content {
                width: 80%;
                float: right;
            }
        }
    }

    &_with_bg {
        .tab__nav {
            position: relative;
            margin-bottom: 10px;
        }

        .tab__nav li{margin-bottom: 0;}

        .tab__nav:before {
            display: block;
            content: '';
            width: 200%;
            height: 100%;
            background: $tertiary-bg-color;
            position: absolute;
            left: -50%;
            z-index: -1;
        }
    }
}

.tab--res {
    &.tab--slide {
        .tab__content {
            visibility: hidden;
            opacity: 0;
            //transition: all 250ms;


            .lock-screen & {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &.tab--aside {
        > .tab {
            &__content {
                width: 100%;
                float: none;
            }
        }
    }


    .dropBlock {
        li {
            display: block;
            margin-bottom: 0px;
            a {
                padding: 8px;
            }
        }
        li.active {
            display: none;
        }


        .tab__nav {
            display: none;

            &.js--open {
                display: block;
                width: 100% !important;
            }

            &:after, &:before {
                display: none;
                clear: both;
                content: " ";
            }

        }

    }
}

.swipe__wrapper {
    overflow: hidden;
    position: relative;

    .scroll {
        overflow: auto; //LIT-153929
        -ms-overflow-style: none;
        padding: 0 20px;
        overflow: -moz-scrollbars-none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &:after, &:before {
        content: " ";
        position: absolute;
        top: 0;
        width: 30px;
        height: calc(100% - 2px);
    }

    &:after {
        right: -10px;
        background: linear-gradient(to right, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 100%);
    }

    &:before {
        left: -10px;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%);
    }

}
.accordion-tabbed__control {
    @include media('<desktop') {
        i {
            display: none;
        }
    }
}