.journal-info-container {

    h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .info-block {
        font-size: 0.75rem;
        margin-bottom: 5px;
        color: $wiley-typography-color;

        ul.rlist--inline.loa.comma.loa-authors-trunc {
            a {
                padding-left: 0;
            }
        }

        .info_value {
            padding-right: 3px;
            padding-left: 3px;
        }

        .info_separator {
            color: $wiley-gray;
        }

        .copyright {
            color: $wiley-gray;
        }
    }
    .info-block.book-header {
        .info_value {
            padding-left: 0;
        }
    }
    .info-label, .info_label {
        color: $wiley-gray;
    }
    .info-body {
        color: $info-text-color;
        font-weight: 400;
    }

    .col-md-2, .col-md-10 {
        padding: 0;
    }

    .cover-image {

        &__image {
            width: 100px;
            margin-top: 5px;
            img {
                width: 100%;
                min-height: 100%;
                display: inline-block;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            }
            a {
                color: $info-text-color;
            }
        }
    }
    .comma {
        a {
            span {
                color: #1f1f1f;
            }
        }
    }
}