.badge {
    &-type {
        color: $secondary-text-color;
        background-color: $white;
    }

    &-oa {
        color: $white;
        background-color: $badge-oa-bg-color;
    }

    &-fa {
        color: $white;
        background-color: $badge-fa-bg-color;
    }

    &-cme {
        @extend %badge;
        color: $white;
        background-color: $badge-cme-bg-color;
    }
}