.cookiePolicy-popup {
  height:4rem;
  border-bottom: 1px solid #b8b8b8;
  background-color: $dark-grey;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__content {
    flex: 1;
    color: #fff;
  }

  &__close {
    font-size: 1.5rem;
    color: #eee;
    opacity: 1;
    &:hover {
      color: #fff;
    }
  }
}