.articleTitlePrice > p {
    color: $secondary-bg-color;
    font-size: 16px;
    font-family: $default-font-family;
}

.articleAuthorDate, .tabPanelFooter {
    color: $secondary-bg-color;
    font-size: 14px;
}

.buyItemFooter .totalPrice {
    font-family: $default-font-family;
    span {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

.promoCodeMsg {
    .errorMsg {
        font-size: 15px;
    }
}