$primary-bg-color: #212121;

$footer-bg-color: #fff;

$white: #fff;

$journal-bg-color-mboc: #238755;

$journal-sec-bg-color: #fff;

$journal-bg-color-lse: #5881B7;

$text-muted: #6B7887;

$footer-dark-text: #000;

$primary-grey-color: #BDBDBD;

$primary-border-color: #BDBDBD;

$dark-grey-border-color: #333333;

$light-grey-border-color: #E0E0E0;

$drawer-bg-color: #263238;
