
// input type range
@mixin input-range-slider-thumb() {
    -webkit-appearance: none;
    border-radius:50%;
    background: $input-range-slider-thumb-color;
    cursor: pointer;
    height: $input-range-slider-thumb-size;
    width: $input-range-slider-thumb-size;
    margin-top: (($input-range-slider-thumb-size - $input-range-slider-track-height) / -2);
    border: 0 none;
}

@mixin input-range-slider-track() {
    height: $input-range-slider-track-height;
    background: transparent;
    cursor: pointer;
    width: 100%;
    border: 0;
}

@mixin input-range-slider-progress() {
    height: $input-range-slider-track-height;
    background: $input-range-slider-progress-color;
    cursor: pointer;
    border: 0;
    margin-top: 0;
    width: 0;
}
