.facet {
    border-bottom: 1px solid $tertiary-border-color;
    padding-bottom: 20px;

    &__title {
        color: $secondary-text-color;
        font-size: $default-font-size;
        margin: 20px 0px 0px 0px;
        padding-bottom: 0px;
        font-weight: bold;
        text-transform: none;
    }

    i[class*=icon-] {
        font-size: 7px;
        color: $primary-link-color;

        &.facet__toggle {
            font-size: $h6-font-size;
        }
    }

    &__label {
        font-size: $default-font-size;
        font-weight: normal;
    }

    &__counter {
        font-size: $default-font-size;
        font-weight: normal;
    }

    &__list {
        li {
            padding-bottom: 15px;
        }
    }

    &__ctrl {
        margin-bottom: 0px;

        h4 {
            margin-bottom: 0px;
        }
    }

    &__content {
        padding-top: 20px;
    }

    &-dropdown__menu {
        margin: 0 0 0 30px;

        li {
            padding: 15px 0 0;
        }
    }

}