.citation__item {

    .article__type {
        color: #888;
        font-size: .875rem;
        margin-right: 15px;
        vertical-align: middle;
        font-weight: 600;
        text-transform: capitalize;
    }

    &.article-section__abstract {
        margin-bottom: 9px;
        padding-bottom: 0;
    }
    .loa {
        margin-left: 0;
        color: $wiley-gray-text-color;
    }
    .issue-item__title {
        font-size: $default-font-size;
        font-weight: 600;
    }

    .issue-item__title, .loa, .issue-item__details,  .content-item-format-links {
        margin-top: 10px;
        margin-bottom: 10px;
    }


}

