.citationFormats {
    label {
        font-size: 0.875rem;
        font-weight: normal;
        &.bold {
            font-weight: bold;
        }
    }
    h4 {
        margin-bottom: 22px;
        padding: 0 25px;
    }
    p {
        margin: 0;
        margin-bottom: 30px;
    }
    .form-footer {
        @extend .clearfix;
        padding-right: 25px;
    }
    .btn {
        float: right;
        width: auto;
    }
}
