.authoredServices{

color: $primary-darken-text-color;

  .links{
    a{
      &:before{
        content: "|";
      }
      &:first-child:before
      {
        content: ' ';
      }

    }
  }

  .share{
    margin-bottom: 50px;
  }

}

.authorServicesTitle {
  margin-top: 25px;
  color: $standard-color;

  h5{
    margin-bottom: 5px;
  }
}

.author_services_history {
  clear: both;

  .history_title{
    font-weight: 600;
    color: $standard-color;
  }

  .historyList{
    margin-top: 5px;
    padding-left: 30px;
  }
}