@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Open+Sans|Source+Sans+Pro');

.content {
  padding-top: 0;
  margin-top: 20px;
}

.no-margin {
  margin: 0;
}

.no-padding{
  padding: 0;
}

.bold{
  font-weight: bold;
}


#pb-editor {
  .header {
    height: auto;
    &--first-row {
      height: auto;
    }
  }
}