.jcf-select-month-range {
    min-width: 82px;
}
.advancedSearch__tabs {
    border-bottom: 1px solid $borders;
    margin: 0 -15px 20px;
    padding: 0 15px 20px;

    @include media('<tablet') {
        margin: 0 0 20px;
    }

}
.saved-searches {
    th {
        padding-top: 0;
    }
}
.frmSearch:after {
    clear: both;
    content: " ";
    display: table;
}

@include media('<tablet') {

    .advanced-search {
        .input-group {
            input {
                margin-bottom: 5px;
            }
            .jcf-select {
                margin-bottom: 5px;
            }
        }
    }

}