@font-face {
    font-family: "Nexus Sans Pro";
    src: url("../fonts/nexusSansPro/NexusSansPro.otf") format("opentype");
}
@font-face {
    font-family: "Nexus Sans Pro";
    font-style: italic;
    src: url("../fonts/nexusSansPro/NexusSansPro-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Nexus Sans Pro";
    font-weight: bold;
    src: url("../fonts/nexusSansPro/NexusSansPro-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Nexus Sans Pro";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/nexusSansPro/NexusSansPro-BoldItalic.otf") format("opentype");
}