.profile-menu {
    padding-bottom: 5000px;
    margin-bottom: -5000px;

    a {
        color: $text-onDark;

    }

    .active {
        color:  $text-onDark;;
        border-color:  $text-onDark;;

    }

    .dropBlock {
        a {
            color: $text-onDark;
            &:hover {
                color: $text-onDark;
                background: #10446d;
            }

        }

        i {
            color: $text-onDark;
        }
    }
}

#pb-page-content {
    overflow: hidden; // to hide the exceeding sidebar
}
