.checkoutPaymentList {
    padding: 0;
    margin: 0;
    .sub-text {
        font-size: .9em;
        color: #666;
        margin-bottom: 20px;
    }
    .js__verifyAddress {
        margin-bottom: 10px;
    }
}

.remember {
    position: relative;
}

.frmLogin {
    .button {
        width: auto;
        margin-left: 10px;
    }
}

input.link, input.link:hover {
    border: 0;
    background-color: transparent;
    padding: 0;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 2;
}

.checkoutProcessRightCol {
    background-color: $light-grey;
    border-radius: 6px;
    margin-top: 20px;
    padding: 20px 30px 30px 30px;
}

.checkoutStickyBtn {
    display: none;
}

.close-btn-container {
    text-align: right;
}

.billingPayment:after, .eCommerceCheckoutIdentityWidget:after {
    clear: both;
    display: block;
    content: '';
}

.eCommerceCheckoutPaymentWidget {
    margin-top: 20px;
}

.billingBtn {
    display: none;
}

.eCommerceCheckoutPaymentWidget .payment {
    display: block;
}

.eCommerceCheckoutPaymentWidget .errorMsgBox:before, .eCommerceCheckoutPaymentWidget .itemAddedMsgBox:before, .eCommerceCheckoutPaymentWidget .infoMsgBox:before {
    position: absolute;
}

.eCommerceCheckoutPaymentWidget .errorMsgBox p, .eCommerceCheckoutPaymentWidget .itemAddedMsgBox p, .eCommerceCheckoutPaymentWidget .infoMsgBox p {
    margin-left: 10px;
}

.checkoutList {
    .header {
        margin-bottom: 20px;
    }
    .checkoutName {
        margin: 0;
        color: $primary-commerce-color;
        font-weight: normal;
        font-size: large;
    }
}

.checkoutMethod {
    display: inline-block;
    margin: 0 20px 0 0;
}

.tabPanelFooter {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $h6-font-size;
}

.eCommerceCheckoutIdentityWidget .actions .button {
    width: auto;
}

.eCommerceCheckoutSummaryWidget {
    clear: right;
}