#institutionMultiIpChange {
  table{
    .error{
      font-size: .75rem;
      font-weight: 500;

    }
  }

  [name="delete"]{
    background: transparent;
    &:hover{
      text-decoration: underline;
    }
  }

}

.ipRangesWidget{
  a{
    color: $link-text-color;
  }
}