.institution-login {
    margin: 0 auto;

    &.institution-login {
        float: none;
    }

    label {
        font-size: 1rem;
    }

    select, .jcf-select-text {
        color: $light-gray-links;
    }

    ul {
        margin-top: 16px;
        color: $light-gray-links;
        padding-left: 9px;
        font-size: 0.9375rem;
        list-style-position: inside;

        li {
            margin-bottom: 8px;

            a {
                position: relative;
                left: -10px;
            }
        }
    }
    &-page {
        .page__header {
            color: #454545;        }
        .input-group {
            margin-bottom: 35px;
        }
    }
}

.jcf-select-institutional-login-input {
    .jcf-list {
        ul {
            list-style: disc;
            list-style-position: inside;
            li{
                display: list-item;
                color: $light-gray-links;
                padding-left:10px;
            }
        }
        .jcf-option{
            color: $light-gray-links;
            font-family: "Open Sans";
            font-size: 15px;
            overflow: visible;
            display: -webkit-inline-box;
            position: relative;
            left: -15px;
            &.jcf-hover{
                background: transparent;
            }
        }
    }
}