.author-services{
  h4{
    margin-bottom: 5px;
  }
  .main-title {
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 2px solid;
    border-color: $separators-color;
    padding-bottom: 15px;
  }
  .sub-title {
    margin-bottom: 16px;
  }

 &__links{
   margin-top: 10px;
 }
 &__authors{
   a{
     color: inherit;
   }
 }
  .rlist{
    &--inline.separator{
      li{
        padding: 0 10px;
        &:first-child{
          padding-left: 0;
        }
      }
    }
    &--bold-link{
      color: $black;
      font-weight: bold;
      font-size: 0.8rem;
    }

  }
  .sub-section{
    color: $black;
    margin-top: 30px;
  }
  &__item{
    margin-top: 20px;
  }

  &__metrice{
    margin-top: 15px;

    .rlist--inline{
      margin-top: 10px;
    }
    .metrics-value{
      color : $secondary-text-color;
      padding-left: 3px;
    }
  }

  &__history{
    margin-top: 15px;
    .list-items{
      padding-left: 17px;

    }
  }
}