.restored-content-table {
    border-bottom: 1px solid;
    th {
        border-bottom: 1px solid;
    }
    td, th {
        padding-right: 0;
        &:first-child {
            padding-left: 0;
        }
    }
    a {
        color: $primary-link-color;
    }
}