.eCommerceAccessEntitlementWidget {
    @include solidTabs;

    .section__separator {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .separator{
        th{
            text-transform: uppercase;

        }
        th,td{
            color:$info-text-color;
        }
    }
    @include media('<tablet') {
    .expandable tbody tr:only-child {
            border-bottom: 0;
            border-top:0;
        }

    }
.account__sort{
    margin-bottom: 8px;
}

}
.account__sort, .alert__sort {

    &.left-side-label {
        max-width: 100%;

        label {
            font-size: 0.875rem;
            width: auto;
            display: inline-block;

            i {
                margin-right: 6px;
                font-size: 16px;
            }
        }

        select {
            margin: 0;
            border: none;
            max-width: 150px;
            font-size: 0.875rem;
            padding: 5px;
            vertical-align: middle;
        }
    }

 }