/* ===================================
Text color
=================================== */
.primary-link-color {
    color: $primary-link-color;
}

.primary-lighten-text-color {
    color: $primary-lighten-text-color;
}

.secondary-lighten-text-color {
    color: $secondary-lighten-text-color;
}

.secondary-darken-text-color {
    color: $secondary-darken-text-color;
}

/* ===================================
Backgrounds color
=================================== */
.radiographics-bg-color {
    background-color: $radiographics-bg-color;
}

.radiology-bg-color {
    background-color: $radiology-bg-color;
}

/* ===================================
Border color
=================================== */

.default-border-color {
    border-top: 1px solid $default-border-color;
}

.primary-border-color {
    border-top: 1px solid $primary-border-color;
}

.primary-dark-border-color {
    border-top: 1px solid $primary-dark-border-color;
}

.secondary-border-color {
    border-top: 1px solid $secondary-border-color;
}

.secondary-light-border-color {
    border-top: 1px solid $secondary-light-border-color;
}

.tertiary-border-color {
    border-top: 1px solid $tertiary-border-color;
}

.tertiary-light-border-color {
    border-top: 1px solid $tertiary-light-border-color;
}

.border-onLight {
    border-top: 1px solid $border-onLight;
}