.trusted-proxy-form {
    padding:0 15px;
    label {
        margin-bottom: 5px;
    }
    span {
        display: block;
        font-size: .75rem;
        color: $label;
    }

    [type="submit"] {
        font-size: 15px;
        font-size: 0.9em;
        display: inline-block;
        width: auto;
        background: transparent;
        margin: 0;

        &:hover {
            background: $profile-primary-color;
        }
    }
}