.parent-item{
  text-transform: initial;
  .comma {
    a {
      padding: 0px;
      font-family: HelveticaNeueCondensedBold;

    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
