.exam-header {
	padding-top: 16px;
	padding-bottom: 10px;

	@include media('>tablet') {
		padding-top: 24px;
	}
}

.exam-list {
	margin-bottom: 24px;

	@include media('>tablet') {
		margin-bottom: 0;
	}
}