.account-tab {

    &__nav:not(.js--open) {

        .active a {
            background: $primary-bg-color;
            border-color: $primary-bg-color;
        }
        a {
            border-color: $primary-bg-color;
            color: $primary-bg-color;
        }
    }
}