.g-header .m-mini-promo {
  display: none;

  @include breakpoint('medium+') {
    display: block;
    position: absolute;
    right: 120px;
    top: 12px;
    bottom: 12px;
    width: 240px;
    margin: 0;
  }

  @include breakpoint('large+') {
    html:not(.s-compact-menu) & {
      right: map-get($outer-gutters, large);
      top: 20px;
      bottom: 20px;
    }
  }

  @include breakpoint('xlarge+') {
    html:not(.s-compact-menu) & {
      right: map-get($outer-gutters, xlarge);
    }
  }

  @include breakpoint('xxlarge') {
    html:not(.s-compact-menu) & {
      right: 0;
    }
  }
}
