.institutions {

    h5 {
        color: $account-color;
    }

    .tab .dropBlock {
        > a {
            background: $white;
            border: 1px solid $input-border;
            color: $secondary-text-color;
            font-size: 0.9375rem;
            font-weight: normal;

        }
        i {
            font-size: 6px;
            color: $button-bg;
        }
    }

    .tab__nav {
        width: 100% !important;
        li {
            padding: 0;
        }
        a {
            color: $secondary-text-color;
            font-size: 0.9375rem;
            font-weight: normal;
            background: $white;
            border: 1px solid $input-border;
            border-top: 0;

        }
    }

    .tab__pane  {
        h5 {
            margin-bottom: 25px;
            margin-top: 40px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            padding-left: 1em;
            text-indent: -.7em;
        }

        li::before {
            content: "• ";
            color: $light-gray-links;
            margin-right: 5px;
        }

        a {
            color: $secondary-text-color;
            font-size: 0.9375rem;
            font-weight: normal;
        }
    }
}



