.quickSearchRegion {
    background: $light-gray-bg;
}

.quick-search {
    &__button, &__dropBlock &__button {
        background: transparent;
        color: $primary-bg-color;
        height: 36px;
        max-height: 36px;

        &:hover, &:focus {
            cursor: pointer;
            background: lighten($primary-btn-color, 5%);
            color: $text-onDark;
        }
    }
}