#citationAlerts{
    .jcf-select:before{
        border: none;
    }
}
.alert__freq .jcf-select, .alert__freq .left-side-label label, .alert__freq .input-group {
    width:100%;
}
.alert__sort .left-side-label label {
    white-space: nowrap;
}
.alert__list {
    tr {
        th{
            &:nth-child(1) {
                width: 40px;
            }
            &:nth-child(3) {
                width: 120px;
            }
            &:nth-child(4) {
                width: 140px;
                white-space: nowrap;
            }
        }
    }
}