$default-font-family: 'Open Sans', sans-serif;

$default-font-size: 1rem;
 // 16px
$h1-font-size: 1.625rem;
 // 26px
$h2-font-size: 1.375rem;
 // 22px
$h3-font-size: 1.25rem;
 // 20px
$h4-font-size: 1.125rem;
 // 18px
$h5-font-size: 1rem;
 // 16px
$h6-font-size: 0.875rem;
 // 14px
$small-font-size: 0.8125rem;
 // 13px
$x-small-font-size: 0.75rem;
 // 12px
$xx-small-font-size: 0.625rem;
 // 10px
$icon-font-size: 1.125rem;
 // 18px
$gutter-size: 30px;

$gutter-extra-size: 60px;

$thin-border-width: 1px;

$medium-border-width: 2px;

$thick-border-width: 3px;

$thicker-border-width: 4px;
