$profile-primary-color: #0E5F9D;

$facets-applied: #0E5F9D;

$default-bg-color: #fff;

$primary-bg-color: #0E5F9D;

$primary-lighten-bg-color: #BDBDBD;

$secondary-bg-color: #F3f3f3;

$secondary-lighten-bg-color: #FAFAFA;

$tertiary-bg-color: #E0E0E0;

$tertiary-lighten-bg-color: #fff;

$footer-bg-color: #fff;

$button-bg: #0E5F9D;

$menu-background: #fff;

$search-bg-color: #F3f3f3;

$primary-text-color: #263238;

$primary-darken-text-color: #000;

$secondary-text-color: #6B7887;

$tertiary-text-color: #959595;

$text-onLight: #000;

$text-onDark: #fff;

$primary-link-color: #0E5F9D;

$creative-loa-color: #6B7887;

$creative-color: #6B7887;

$creative-title-color: #0E5F9D;

$footer-color: #0E5F9D;

$primary-dark-text-color: #6B7887;

$facets-text: #0E5F9D;

$default-border-color: #fff;

$primary-border-color: #E0E0E0;

$secondary-border-color: #0E5F9D;

$tertiary-border-color: #BDBDBD;

$separators-color: #E0E0E0;

$teaser-border-color: #E0E0E0;

$header-separators-color: #BDBDBD;
