$icomoon-font-path: "../fonts/icomoon/fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-down--style-2: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-left--style-2: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-right--style-2: "\e905";
$icon-arrow-up: "\e906";
$icon-arrow-up--style-2: "\e907";
$icon-atypon-favicon: "\e908";
$icon-calendar: "\e909";
$icon-check: "\e90a";
$icon-circled-check: "\e90b";
$icon-circled-minus: "\e90c";
$icon-circled-plus: "\e90d";
$icon-circled-x: "\e90e";
$icon-clock: "\e90f";
$icon-document: "\e910";
$icon-facebook: "\e911";
$icon-layers: "\e912";
$icon-linkedin: "\e913";
$icon-message: "\e914";
$icon-phone: "\e915";
$icon-pin: "\e916";
$icon-pin-outline: "\e917";
$icon-print: "\e918";
$icon-search: "\e91b";
$icon-twitter: "\e919";
$icon-x: "\e91a";

