.podcast-category{
  &-wrapper{
 .doSearch .search-result__follow{
   display: none;
 }
  }

  &__info{
   .main-title{
     font-size: 1.5rem;
   }
  }

  &__desc{
    font-weight: 600;
    font-size: 1rem;
  }
  &__subscribe{
    margin: 20px 0;
    font-weight: 500;
    font-size: 1rem;


    .label{
      color: $secondary-text-color;
      font-family: $secondary-font-family;
      margin-right: 30px;
      font-weight: 600;
    }

    .rlist--inline{
      display: inline-block;
      li{
        margin-left: 10px;
      }
    }
  }

}


.itunes-label{
font-size: .7rem;
padding: 2px 2px;
display: inline-block;
font-weight: 600;
}