
.note {
    padding: 5px 15px;
    &--yellow{

        background-color: $note-bg-secondary-color;
        &.border{
            border-left: 5px solid $note-bg-color;
        }
    }

    &--dark-yellow{
        background-color: $note-bg-color;
    }
    }