.quick-search {
  padding: 14px 0 8px;
  position: relative;

  .input-group {
    padding: 0;
  }

  &__input {
    font-size: .875rem;
    height: 32px;
    padding: 5px 30px 5px 5px;

    &.autocomplete {
      border-color: $primary-lighten-bg-color;
      border-radius: 2px;
    }

    &::-webkit-input-placeholder { //chrome
      @include media('>=desktop') {
        color: $text-onDark;
      }
      @include media('>=tablet', '<desktop') {
        color: transparent;
      }
    }
    &::-moz-placeholder { //firefox
      @include media('>=desktop') {
        color: $text-onDark;
      }
      @include media('>=tablet', '<desktop') {
        color: transparent;
      }
    }
    &:-ms-input-placeholder { //ie
      @include media('>=desktop') {
        color: $text-onDark;
      }
      @include media('>=tablet', '<desktop') {
        color: transparent;
      }
    }

  }

  &__button {
    position: static;
    font-size: 1.5rem;
    padding: 0px 10px;
    border-left: 1px solid $primary-border-color;
    height: 32px;
    background: $primary-lighten-bg-color;
    cursor: pointer;
  }

  &--input {
    position: relative;
    min-width: 320px;
    display: inline-block;
    vertical-align: top;
    @include media('<desktop') {
      min-width: 140px;
      width: 140px;
    }
  }
  &--button {
    display: inline-block;
  }
  &__dropBlock {
    right: 0;
    border-radius: 2px;
    width: 740px;
    padding: 35px 20px 15px;
    background-color: $white;
    margin-top: 1px;
    .input-group {
      margin-bottom: 20px;
    }

    .advanced-search__link {
      display: block;
    }
  }
  .quick-menu__item {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 2px 8px;
    background: $primary-lighten-bg-color;
    height: 30px;

    i {
      font-size: .4rem;
    }

    span {
      @include media('>=tablet') {
        display: none;
      }

    }
  }

  &-alt {

    input {
      background-color: $white;
      color: $text-onLight;
      font-size: 1.125rem;
    }

    .quick-search {
      &__input {
        padding: 5px 35px 5px 12px;
        border: none;
        height: 55px;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &::-webkit-input-placeholder { //chrome
          color: $text-onLight;
          font-size: 1.125rem;
        }
        &::-moz-placeholder { //firefox
          color: $text-onLight;
          font-size: 1.125rem;
        }
        &:-ms-input-placeholder { //ie
          color: $text-onLight;
          font-size: 1.125rem;
        }
      }

      &--input {
        min-width: 100%;
      }
      &__button {
        font-size: 2rem;
        background: transparent;
        position: absolute;
        top: 20px;
        right: 0;
        border: none;
      }

      &__extra-links {
        font-size: .875rem;
        color:$tertiary-text-color;
        background: $primary-bg-color;
        padding: 0px 12px 0px 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;


        .separator>li:not(:last-of-type) {
          border-right: 1px solid $primary-border-color;
          margin-right: 10px;
          padding: 5px 10px 5px 0;
          @include media('<tablet'){
            padding: 5px 5px 5px 0;
            margin-right: 5px;
          }
        }
        .more{
          float: right;
          padding-top: 5px;;
        }
      }
    }
  }

}


