.userLoginBar {
  &__controller {
    i {
      display: inline-block;
      vertical-align: middle;
    }

    .icon-person{
      margin-bottom: 2px;
    }

    .icon-person_outline{
      margin-bottom: 2px;
    }
  }
}