.g-leaderboard {
  @include background-fill($color__white);
  display: flex;
  //position: absolute;
  //right: 0;
  //left: 0;
  //top: 0;
  flex-flow: column;
  height: 68px;

  &::before {
    border-bottom: 1px solid $color__rules;
  }

  &::after {
    @include f-caps--sm;
    content: 'Advertisement';
    display: block;
    order: 1;
    padding-top: 4px;
    padding-bottom: 3px;
    color: $color__black--30;
    text-align: center;
  }

  @include breakpoint('medium+') {
    height: 116px;

    &::after {
      padding-top: 8px;
      padding-bottom: 5px;
    }
  }

  @include breakpoint('large+') {
    height: 120px;
    padding-top: 12px;

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 90px;
      margin-top: -49px;
      margin-left: -375px;
      padding-top: 0;
      padding-bottom: 0;
      letter-spacing: 0;
      line-height: 10px;
      transform: rotate(-90deg);
    }
  }
}

.g-leaderboard > * {
  display: block;
  order: 2;
  width: 320px;
  margin: 0 auto;

  @include breakpoint('medium+') {
    width: 728px;
  }
}



// -------------------------------------

.g-leaderboard--anchor {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  opacity: 0;
  transition: opacity .25s linear;

  &::before {
    border-top: 1px solid $color__rules;
    border-bottom: 0;
  }
}
