.ipexamples {
  margin: 10px 0;
}

.ipRangesWidget{
  a{
    color: $standard-color;
    text-decoration: underline;
  }

   [name=delete]{
   &:hover,&:focus {
    background: transparent;
    text-decoration: underline;
  }
   }
}