.burgundy {
	background: $burgundy;
}

.almost-black {
	background: $almost-black;
}

.dark-gray {
	background: $dark-gray;
}

.blue-green-dark {
  background: $blue-green-dark;
}
.teal-dark {
  background: $teal-dark;
}
.purple-dark {
  background: $purple-dark;
}
.gray-dark {
  background: $gray-dark;
}
.blue-green-light {
  background: $blue-green-light;
}
.teal-light {
  background: $teal-light;
}
.purple-light {
  background: $purple-light;
}
.gray-light {
  background: $gray-light;
}
.burgundy-light {
  background: $burgundy-light;
}
.primary-link-hover-color {
  color: $primary-link-hover-color;
}
.primary-link-active-color {
  color: $primary-link-active-color;
}
.primary-link-focus-color {
  color: $primary-link-focus-color;
}
.primary-link-visited-color {
  color: $primary-link-visited-color;
}
