.confirmation-widget {
    margin-top: 0px;
    margin-bottom: 30px;
    padding:20px;
    .logo {
        text-align: left;
        margin: 15px 0 40px;
    }
    .purchase-text {
        text-align: left;
        line-height: 22px;
    }
    .purchase-table {
        border-bottom: 1px solid $secondary-border;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .purchase-table th {
        border-bottom: 1px solid $secondary-border;
    }
    .order-no {
        font-weight: bold;
    }
    div.type {
        float: left;
        max-width: 80%
    }
    table td, table th {
        padding-top: 0;
        padding-right: 0;
        &:first-child {
            padding-left: 0;
        }
    }
    td.cost {
        float: right;
        max-width: 20%;
        font-weight: 700;
    }
    a {
        color: $primary-blue-color;
        font-weight: 700;
    }


    .receipt__email {
        font-weight: bold;
    }

    .header-border {
        th {
            color: $primary-light-text-color;
        }
    }
}