/* ============================================
Buying Items Widget
============================================ */
.eCommerceCheckoutBuyingItemsWidget {
    /*background-color: $secondary-lighten-bg-color;
    border: $width-border-thin solid $color-border-gray-light;
    padding: $spacing-large;
    margin: $spacing-x-large 0px $spacing-large 0px;

    p {
        margin-bottom: 0px;
    }

    .header {
        width: auto;
        margin: -21px -21px 0px -21px;
        padding: $spacing-small $spacing-large;
        border-bottom: none;
        background-color: $standard-color;
        color: $text-onDark;
    }

    .articleDataContainer {
        margin: 0px;

        br {
            display: none;
        }

        .articleTitlePrice {
            border: $width-border-thin solid $color-border-blue-darkest;
            background-color: #ffffff;
            padding: $spacing-large;
            margin-top: $spacing-large;
            position: relative;

            p {
                max-width: none;
                float: none;
                margin-bottom: 0px;
                font-size: 0.875rem;
                color: $primary-darken-text-color;

                span.offerDescription {
                    display: block;
                    border-top: $width-border-thin dashed $color-border-gray-lighter;
                    padding-top: $spacing-small;
                    margin-top: $spacing-small;
                }
                a {
                    color: $standard-color;
                }
            }

            .item-price {
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 0.9375rem;
                padding: 0px $spacing-small;
                background-color: $standard-color;
                color: $text-onDark;
                -webkit-border-radius: 0px 0px 0px 5px;
                -moz-border-radius: 0px 0px 0px 5px;
                border-radius: 0px 0px 0px 5px;
                font-weight: bold;
            }
        }

        .articleAuthorDate {
            display: inline-block;
            font-size: 0.75rem;
            margin: $spacing-small 0px 0px 0px;

            span:empty {
                display: none;
            }
        }
        .tabPanelFooter {
            display: inline-block;
            font-size: 0.75rem;
            padding: 0px;
            margin: $spacing-small 0px 0px 0px;
            display: inline-block;

            a {
                &:first-child {
                    margin: 0px $spacing-small 0px 0px;
                    padding: 0px $spacing-small 0px 0px;
                    border-right: $width-border-thin solid $color-border-gray-lighter;
                }
                &:last-child {
                    margin-left: 0px;
                    padding-left: 0px;
                    border-left: none;
                }
            }
        }
    }
*/
    .buyItemFooter {
        /*margin: $spacing-large (-$spacing-large) (-$spacing-large) (-$spacing-large);
        padding: $spacing-large;
        background-color: $default-bg-color;
*/
        .promoCodeBlock {
            /*display: block;
            margin-bottom: $spacing-small;
            padding-bottom: $spacing-medium;
            border-bottom: $width-border-thin dashed $color-border-gray-lighter;

            .promoCodeForm {
                display: block;
                word-spacing: -5px;

                input[type="text"] {
                    background-color: #FFFFFF;
                    width: calc(100% - 70px);
                    vertical-align: middle;
                }
                input[type="submit"] {
                    width: 70px;
                    margin-left: 0px;
                    padding: 11px $spacing-small;
                    vertical-align: middle;
                }
            }*/
            form {
                display: flex;
            }
        }
        /*.price {
            .totalPrice {
                float: none;

                span {
                    color:$standard-color;
                }
            }
            .intialPrice {
                text-align: left;
                color: $secondary-text-color;
            }
        }*/
    }



}

#buytabcontent {

}
#recentlytabcontent {

    .articleDataContainer {
        margin-top: 20px;
    }

    .articleTitlePrice {
        > p {
            max-width: none;
        }
    }
    .tabPanelFooter {
        > a:first-child {
            text-decoration: underline;
            text-decoration-color: #aaa;
        }
        .add-to-cart {
            .purchaseArea {
                margin: 0;
                .purchaseAreaLists {
                    padding-left: 0;
                }
            }
        }
    }
    .purchase-options.icon {
        font-size: 0.5rem;
        float: right;
        padding: 5px 0;
        line-height: 1.4;
    }
}