$default-font-family: ProximaNova, sans-serif;

$header-font-family: Merriweather, serif;

$default-font-size: 1rem;
 // 18px
$h1-font-size: 2.5rem;
 // 45px
$h2-font-size: 2rem;
 // 36px
$h3-font-size: 1.5rem;
 // 27px
$h4-font-size: 1.2rem;
 // 22px
$h5-font-size: 1rem;
 // 18px
$h6-font-size: 0.78rem;
 // 14px
$icon-font-size: 1rem;
 // 18px
$small-font-size: 0.9em;
 // 16px
$smaller-font-size: 0.78rem;
 // 14px
$quote-font-size: 1.5rem;
 // 27px
$quote-small-font-size: 1.2rem;
 // 22px
$quote-smaller-font-size: 1rem;
 // 18px
$gutter-size: 30px;

$gutter-extra-size: 60px;

$default-line-height: 1.8rem;
 // 32px
$small-line-height: 1.7rem;
 // 30px
$h1-line-height: 3.5rem;
 // 63px
$h2-line-height: 3rem;
 // 54px
$h3-line-height: 2.25rem;
 // 40px
$h4-line-height: 2rem;
 // 36px
$h5-line-height: 1.7rem;
 // 30px
$h6-line-height: 0.8rem;
 // 22px