$atypon_blue: #336d96;

$atypon_red: #f04e49;

$atypon_gray_dark: #3f4359;

$atypon_gray: #6f7283;

$atypon_gray_light: #9f9fa5;

$atypon_gray_lightest: #f4f4f4;

$atypon_blue_light: #e1e9f0;

$atypon_blue_lightest: #f5f7fa;

$atypon_red_light: #fde5e4;

$atypon_red_lightest: #fef6f6;

$atypon_green: #33976a;

$atypon_green_light: #e1f0e9;

$primary-text-color: #3f4359;

$hero-text-color: #6f7283;

$secondary-text-color: #336d96;

$tertiary-text-color: #f04e49;

$default-content-color: #6f7283;

$primary-btn-color: #336d96;

$secondary-btn-color: #f04e49;

$primary-border-color: #336d96;

$secondary-border-color: #f04e49;

$primary-btn-bg: #336d96;

$secondary-btn-bg: #f04e49;

$disabled-btn-bg: #9f9fa5;

$site-navigation-caret-color: #9f9fa5;

$primary-link-color: #336d96;

$secondary-link-color: #f04e49;

$label: #3f4359;

$input-border: #d9d9de;

$input-placeholder-color: #3f4359;

$alert-success-color: #33976a;

$alert-success-background: #e1f0e9;

$alert-error-color: #f04e49;

$alert-error-background: #fde5e4;

$alert-info-color: #336d96;

$alert-info-background: #e1e9f0;

$primary-card-bg: #3f4359;

$secondary-card-bg: #f04e49;

$tertiary-card-bg: #336d96;

$card-border-color: #f5f7fa;

$shadow-color: #d7dee6;

$hr-color: #e2e3e6;

$secondary-section-bg: #f5f7fa;
