.newsletter {
    h2 {
        font-size: 1.875rem; // 30px
        margin-bottom: 8px;
        color: inherit;
    }

    p {
        margin: 0;
        font-weight: 600;
    }

    button {
        margin-top: 25px;
    }

    @include media('<desktop') {
        margin-top: 20px;
    }
}