.footer {
    &__logo {
        img {
            max-width: 220px;
            @include media('<tablet') {
                max-width: 140px;
            }
        }
    }
    &__bottom {
        a {
            font-size: 0.88rem;
        }
    }
}