.registration__personal {
    .btn--submit {
        padding: 11px 44px;
    }
    hr {
        border-color: transparent;
    }
    ::-webkit-input-placeholder {
        color: #9d9d9b;
        font-size: 15px;
        font-weight: 400;
    }
    ::-moz-placeholder {
        color: #9d9d9b;
        font-size: 15px;
        font-weight: 400;
    }
    :-ms-input-placeholder {
        color: #9d9d9b;
        font-size: 15px;
        font-weight: 400;
    }
    :-moz-placeholder {
        color: #9d9d9b;
        font-size: 15px;
        font-weight: 400;
    }
    .jcf-select span {
        color: #9d9d9b;
        font-size: 15px;
        font-weight: 400;
    }
}

.jcf-select-registration__select .jcf-list .jcf-option {
    color: #9d9d9b;
    font-size: 15px;
    font-weight: 400;
}