.ipRangesWidget {
  #institutionMultiIpAdd {
    [type=submit] {
      margin-top: 0px;
    }
  }
  [type=submit] {
    color: $secondary-color;
    &:hover {
      color: $white;
    }
  }
}

#institutionMultiIpChange {
  table {
    label {
      line-height: 38px;
    }
  }
}