#appliedFacet{
  padding: 0;
  .clear{
    display: block;
    border-top: 1px solid $secondary-border-color;
    text-align: right;
    margin: 10px -15px 0;
    padding: 15px 15px 0;
    color: $link-text-color;
    text-transform: capitalize;
  }
}

.facet__list--applied {
  li{
    background-color: $light-yellow-color;
    border: none;
    color: $text-onLight;
    font-size: .875rem;
    font-weight: 500;
    padding: 5px 10px;

    i{
      font-size: .4rem;
      color: $light-yellow-color;
      cursor: pointer;
      background: black;
      padding: 5px;
      border-radius: 50%;
    }
    &.pinned-filter{
      background-color: $light-yellow-color;
      border: none;
    }
  }

}
