.advanced-search {
  input, .jcf-select {
    border-color: $input-border;
  }

  .icon-x_btnclose {
    color: $primary-link-color;
  }

  .icon-circle-plus {
    color: $green-bg-color;
  }

  .accordion__content {
    .radio--primary {
      padding-left: 10px;
    }
  }
}

.advanced-search--filters .label-txt {
  font-weight: 400;
}

.ms-ctn {
  .ms-sel-ctn{
    border-color: $input-border;
  }
}

.time-frame {
  .left-side-label & {
    label {
      min-width: 0;
      font-weight: 400;
    }
  }

  .radio--primary, .checkbox--primary {
    span:before {
      margin-right: 16px;
    }
  }
}

.searchIn {
  &--field {
    .jcf-select-text {
      color: $primary-link-color;
    }
  }
}
